force-app/main/default/flows/Account_Display_Subscription_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Append_Sub_Name</name>
        <label>Append Sub Name</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varAllActiveSubs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formAppendSub</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CO_Sub_Line_Records</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Sort_By_Status</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort By Status</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>CO_Subscription_Lines_Partner</collectionReference>
        <connector>
            <targetReference>CO_Sub_Line_Records</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Status__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Subs_from_Partners_Null_Check</name>
        <label>Subs from Partners - Null Check</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>No_Partner_Subs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Active Subs</defaultConnectorLabel>
        <rules>
            <name>Active_Subs_from_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CO_Subscription_Lines_Partner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sort_By_Status</targetReference>
            </connector>
            <label>Active Subs from Partner</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formAppendSub</name>
        <dataType>String</dataType>
        <expression>{!varAllActiveSubs}+&quot;&lt;p&gt;&quot;+&quot;&lt;li&gt;&quot;+{!CO_Sub_Line_Records.Name}+&quot; - &quot;+TEXT({!CO_Sub_Line_Records.Status__c})</expression>
    </formulas>
    <interviewLabel>Account - Display Subscription Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Display Subscription Details</label>
    <loops>
        <name>CO_Sub_Line_Records</name>
        <label>CO Sub Line Records</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>CO_Subscription_Lines_Partner</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Append_Sub_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Display_Partner_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>CO_Subscription_Lines_Partner</name>
        <label>CO Subscription Lines - Partner</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Subs_from_Partners_Null_Check</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partner</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ChargeOver_Subscription_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Display_Partner_Products</name>
        <label>Display_Partner_Products</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_Products</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Subscriptions from Partner&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!varAllActiveSubs}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;Could not Retrieve Chargeover Subscription Line Item Records&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Partner_Subs</name>
        <label>No Partner Subs</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_No_Partner_Subs</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;No Subscriptions fr&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;om Partner&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CO_Subscription_Lines_Partner</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varAllActiveSubs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
