force-app/main/default/flows/Active_Subscription_Created_Edited_Actions_Related_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <constants>
        <name>constCompliancePayrollQueueID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00GO8000002uX0F</stringValue>
        </value>
    </constants>
    <constants>
        <name>constFulfillmentRTId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0125e000000P3L2AAK</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Created_or_Edited</name>
        <label>Created or Edited?</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Created</defaultConnectorLabel>
        <rules>
            <name>Edited</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payroll_Cancellation_Check</targetReference>
            </connector>
            <label>Edited</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payroll_Cancellation_Check</name>
        <label>Payroll Cancellation Check</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Payroll_Cancelled</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payroll</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subscription_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active - Pending Cancel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subscription_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payroll_Case</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Payroll Cancelled</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formDescription</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.Subscription_Status__c}) = &apos;Active - Pending Cancel&apos; , &quot;The Cancelled Payroll Subscription for this client expires on &quot;+TEXT({!$Record.Expiration_Date__c}) , &quot;The Payroll Subscription for this Client has been Cancelled&quot;)</expression>
    </formulas>
    <formulas>
        <name>formIsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Active Subscription - Created Edited - Actions &amp; Related Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Active Subscription - Created Edited - Actions &amp; Related Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Payroll_Case</name>
        <label>Payroll Case</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Account__r.Primary_Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>formDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Not_Assign_Using_Assignment_Rules__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>constCompliancePayrollQueueID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>constFulfillmentRTId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type_Category__c</field>
            <value>
                <stringValue>Offboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <stringValue>Assignment Adjustment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Payroll Cancellation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Payroll</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Created_or_Edited</targetReference>
        </connector>
        <object>Active_Subscriptions__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
