force-app/main/default/flows/Bundle_Discount_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Get_Bundle_Products</name>
        <label>Get Bundle Products</label>
        <locationX>175</locationX>
        <locationY>597</locationY>
        <actionName>QuoteGeneratorInterface</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Display_Product_Table</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>AccountLookup.recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>calculator</name>
            <value>
                <elementReference>Calculator</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>entityOverride</name>
            <value>
                <elementReference>Entity_Type</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>GET_PRODUCTS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serializeResults</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>QuoteGeneratorInterface</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Eligible_Bundle_Action_1</name>
        <label>Get Eligible Bundle Action 1</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>QuoteGeneratorInterface</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Display_Eligible_Bundle</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>AccountLookup.recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>calculator</name>
            <value>
                <elementReference>Calculator</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>entityOverride</name>
            <value>
                <elementReference>Entity_Type</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>GET_BUNDLE</stringValue>
            </value>
        </inputParameters>
        <nameSegment>QuoteGeneratorInterface</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <choices>
        <name>GuidedSellingChoice</name>
        <choiceText>Guided Selling</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Guided Selling</stringValue>
        </value>
    </choices>
    <choices>
        <name>PCChoice</name>
        <choiceText>Pricing Calculator</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pricing Calculator</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>EntityTypeChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Entity_Tax_Classification__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Bundle {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bundle Discount Check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Data</name>
        <label>Get Account Data</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Eligible_Bundle_Action_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountLookup.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Entity_Tax_Classification__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Lead_Source__c</queriedFields>
        <queriedFields>Lead_Type_New__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Display_Eligible_Bundle</name>
        <label>Display Eligible Bundle</label>
        <locationX>416</locationX>
        <locationY>460</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Bundle_Products</targetReference>
        </connector>
        <fields>
            <name>ResultsText</name>
            <fieldText>&lt;p&gt;Input parameters:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Account: &lt;strong&gt;{!Get_Account_Data.Name}&lt;/strong&gt;&lt;ul&gt;&lt;li&gt;Lead Source: &lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Account_Data.Lead_Source__c}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;LTN: &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Account_Data.Lead_Type_New__c}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Entity Type: &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Account_Data.Entity_Tax_Classification__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;Calculator:&lt;strong&gt; {!Calculator}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;Entity Override: &lt;strong&gt;{!Entity_Type}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This account would be eligible for the following bundle: {!Get_Eligible_Bundle_Action_1.bundleResult.Description__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    
    <screens>
        <name>Input_test_data</name>
        <label>Input test data</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Account_Data</targetReference>
        </connector>
        <fields>
            <name>AccountLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select an account to test</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Calculator</name>
            <choiceReferences>GuidedSellingChoice</choiceReferences>
            <choiceReferences>PCChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Calculator</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Entity_Type</name>
            <choiceReferences>EntityTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Entity Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;To simulate selection of a different entity type in the calculator form&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Input_test_data</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
