force-app/main/default/flows/Case_Created_Edited_Actions_Related_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Outbound Message to Portal</description>
        <name>AccountantPortal_Case</name>
        <label>AccountantPortal Case</label>
        <locationX>842</locationX>
        <locationY>3623</locationY>
        <actionName>Case.NewClientPortal_CaseSync</actionName>
        <actionType>outboundMessage</actionType>
        <connector>
            <targetReference>Null_check_for_Account_ID</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Case.NewClientPortal_CaseSync</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>BK , Payroll Notifications</description>
        <name>BK_Payroll_Case_Notifications</name>
        <label>BK, Payroll Case Notifications</label>
        <locationX>578</locationX>
        <locationY>2231</locationY>
        <actionName>Case.BK_Payroll_Case_Notifications</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Case_Record_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.BK_Payroll_Case_Notifications</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Notifies the new Case Owner that the case is transferred to them.</description>
        <name>Case_Owner_Change</name>
        <label>Case Owner Change</label>
        <locationX>314</locationX>
        <locationY>2231</locationY>
        <actionName>Case.Case_Owner_Change</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Case_Record_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Owner_Change</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Cancellation-Initial Actions</description>
        <name>Case_Received_Notification</name>
        <label>Case Received Notification</label>
        <locationX>842</locationX>
        <locationY>2231</locationY>
        <actionName>Case.Case_Received_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Case_Record_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Received_Notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Survey sent to client after a support case has been resolved.</description>
        <name>Case_Resolved_CSAT_Survey</name>
        <label>Case Resolved CSAT Survey</label>
        <locationX>974</locationX>
        <locationY>2531</locationY>
        <actionName>Case.Support_Case_Resolved</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Closed_Refund_Cancel</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Support_Case_Resolved</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>From : &quot;1-800Accountant Billing&quot; &lt;chargebacks@1800accountant.com&gt;
Recipients : Case Field - Contact Email</description>
        <name>Chargeback_CSAT_Survey</name>
        <label>Chargeback CSAT Survey</label>
        <locationX>710</locationX>
        <locationY>1931</locationY>
        <actionName>Case.Client_Inquiry_Chargeback_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Case_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Client_Inquiry_Chargeback_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>EA_Central</name>
        <label>EA Central</label>
        <locationX>314</locationX>
        <locationY>3431</locationY>
        <actionName>Case.Central</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AccountantPortal_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Central</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>EA_Eastern_1</name>
        <label>EA Eastern #1</label>
        <locationX>578</locationX>
        <locationY>3431</locationY>
        <actionName>Case.Eastern_1</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AccountantPortal_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Eastern_1</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>EA_Eastern_2</name>
        <label>EA Eastern #2</label>
        <locationX>842</locationX>
        <locationY>3431</locationY>
        <actionName>Case.Eastern_2</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AccountantPortal_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Eastern_2</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>EA_Eastern_3</name>
        <label>EA Eastern #3</label>
        <locationX>1106</locationX>
        <locationY>3431</locationY>
        <actionName>Case.Eastern_3</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AccountantPortal_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Eastern_3</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>EA_No_Zone</name>
        <label>EA No Zone</label>
        <locationX>50</locationX>
        <locationY>3431</locationY>
        <actionName>Case.No_Zone</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AccountantPortal_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.No_Zone</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>EA_Pacific_1</name>
        <label>EA Pacific #1</label>
        <locationX>1370</locationX>
        <locationY>3431</locationY>
        <actionName>Case.Pacific_1</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AccountantPortal_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Pacific_1</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Internal Email QA</description>
        <name>New_QA_Case</name>
        <label>New QA Case</label>
        <locationX>446</locationX>
        <locationY>2531</locationY>
        <actionName>Case.New_QA_Case</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Closed_Refund_Cancel</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.New_QA_Case</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Emails Client the feedback link.</description>
        <name>One_Final_Request</name>
        <label>One Final Request</label>
        <locationX>710</locationX>
        <locationY>2831</locationY>
        <actionName>Case.One_Final_Request</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Payroll_Offboarding_CAS</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.One_Final_Request</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Payroll_Offboarding_Case</name>
        <label>Payroll Offboarding Case</label>
        <locationX>710</locationX>
        <locationY>3131</locationY>
        <actionName>Case.Payroll_Off_boarding_Case</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Mitel_Team_Zones</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Payroll_Off_boarding_Case</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Reassignment</name>
        <label>Reassignment</label>
        <locationX>1106</locationX>
        <locationY>2231</locationY>
        <actionName>Case.Reassignment</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Case_Record_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Reassignment</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Classic Email Template - Account Cancelled Trigger Email -  in &quot;Cancellations&quot; folder.</description>
        <name>Send_Cancellation_Email</name>
        <label>Send Cancellation Email</label>
        <locationX>710</locationX>
        <locationY>2531</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Closed_Refund_Cancel</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>billing@1800accountant.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>constCancellationEmailTempId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Set_Account_Cancellation_fields</name>
        <label>Set Account Cancellation fields</label>
        <locationX>710</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>varRelatedAccount.Cancellation_Case_Created_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaToday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRelatedAccount.Cancellation_Case_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sub_Type_Category</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AccountId</name>
        <label>Set AccountId</label>
        <locationX>710</locationX>
        <locationY>3839</locationY>
        <assignmentItems>
            <assignToReference>varRelatedAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_Related_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Cancellation_Reason_on_Account</name>
        <label>Set Cancellation Reason on Account</label>
        <locationX>710</locationX>
        <locationY>1331</locationY>
        <assignmentItems>
            <assignToReference>varRelatedAccount.Primary_Cancellation_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Primary_Cancellation_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRelatedAccount.Secondary_Cancellation_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Secondary_Cancellation_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cancellation_Case_Created</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>constBillingQueueId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00Gj00000012Iwn</stringValue>
        </value>
    </constants>
    <constants>
        <description>Classic Email Template in Cancellations folder - Account Cancelled Trigger Email.</description>
        <name>constCancellationEmailTempId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00X5e000002K1uU</stringValue>
        </value>
    </constants>
    <constants>
        <description>For a newly created case, Add 1 to the Case Score</description>
        <name>constNewCaseScore</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Cancellation_Case_Created</name>
        <label>Cancellation Case Created</label>
        <locationX>842</locationX>
        <locationY>1523</locationY>
        <defaultConnector>
            <targetReference>Sub_Type_Category</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancellation_Case</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subscription Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment Disputes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Type_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prevention Alert</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_Cancellation_fields</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Cancellation Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Record_Type</name>
        <label>Case Record Type</label>
        <locationX>842</locationX>
        <locationY>2423</locationY>
        <defaultConnector>
            <targetReference>Closed_Refund_Cancel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Type_QA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quality Assurance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_QA_Case</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>QA Record Type</label>
        </rules>
        <rules>
            <name>Billing_Record_Type</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Billing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subscription Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed-Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed-Refund</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Cancellation_Email</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Billing RT - SR Closed</label>
        </rules>
        <rules>
            <name>Support_RT_Closed</name>
            <conditionLogic>(1 OR 4) AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fulfillment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Resolved_CSAT_Survey</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Support RT - Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Transferred_to_Billing_Queue</name>
        <label>Case Transferred to Billing Queue</label>
        <locationX>842</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>Subscription_Review_Cases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Billing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constBillingQueueId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Case_Score</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Billing</label>
        </rules>
    </decisions>
    <decisions>
        <description>Alerts based on Case Type</description>
        <name>Case_Type</name>
        <label>Case Type</label>
        <locationX>842</locationX>
        <locationY>2123</locationY>
        <defaultConnector>
            <targetReference>Case_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tax_Compliance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tax Compliance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Owner_Change</targetReference>
            </connector>
            <label>Tax Compliance</label>
        </rules>
        <rules>
            <name>CAS_Management</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CAS Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BK_Payroll_Case_Notifications</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>CAS Management</label>
        </rules>
        <rules>
            <name>Subscription_Revie</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subscription Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Received_Notification</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Subscription Review</label>
        </rules>
        <rules>
            <name>Advisory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advisory</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assignment Adjustment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Type_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reassignment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reassignment</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Advisory</label>
        </rules>
    </decisions>
    <decisions>
        <description>Cancellation Comment Survey</description>
        <name>Closed_Refund_Cancel</name>
        <label>Closed - Refund Cancel</label>
        <locationX>842</locationX>
        <locationY>2723</locationY>
        <defaultConnector>
            <targetReference>Payroll_Offboarding_CAS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Refund_or_Cancelled</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed-Refund</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed-Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>One_Final_Request</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Refund or Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Case: Closed is True, set Closed By field to LastModifiedBy First + Last Name. Process_Override field is toggled in the Case- Schedule Triggered - Daily flow.</description>
        <name>Mark_Case_Closed_By</name>
        <label>Mark Case Closed By</label>
        <locationX>842</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>New_Case_or_Account_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Process_Override__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Closed_By</targetReference>
            </connector>
            <label>Closed True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Send Email alert based on the Mitel Team values when Case Type is Tax Compliance</description>
        <name>Mitel_Team_Zones</name>
        <label>Mitel Team Zones</label>
        <locationX>842</locationX>
        <locationY>3323</locationY>
        <defaultConnector>
            <targetReference>AccountantPortal_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mitel_Team_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tax Compliance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Mitel_Team__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EA_No_Zone</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Mitel Team Null</label>
        </rules>
        <rules>
            <name>Team_Central</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tax Compliance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Mitel_Team__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Team Central</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EA_Central</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Team Central</label>
        </rules>
        <rules>
            <name>Team_Eastern_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tax Compliance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Mitel_Team__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Team Eastern #1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EA_Eastern_1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Team Eastern #1</label>
        </rules>
        <rules>
            <name>Team_Eastern_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tax Compliance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Mitel_Team__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Team Eastern #2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EA_Eastern_2</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Team Eastern #2</label>
        </rules>
        <rules>
            <name>Team_Eastern_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tax Compliance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Mitel_Team__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Team Eastern #3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EA_Eastern_3</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Team Eastern #3</label>
        </rules>
        <rules>
            <name>Team_Pacific_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tax Compliance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Mitel_Team__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Team Pacific #1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EA_Pacific_1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Team Pacific #1</label>
        </rules>
    </decisions>
    <decisions>
        <description>For Email to case, the Account Id maybe blank on creation and populated later. Case Score must be populated for newly created Billing case (can be updated when account id is populated)</description>
        <name>New_Case_or_Account_Populated</name>
        <label>New Case or Account Populated?</label>
        <locationX>842</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Case_Transferred_to_Billing_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNew_or_Acct_Id_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>formIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Payment_and_Refund_fields</targetReference>
            </connector>
            <label>IsNew or Acct Id changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_check_for_Account_ID</name>
        <label>Null check for Account ID</label>
        <locationX>842</locationX>
        <locationY>3731</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Set_Account_Cancellation_fields</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Set_Cancellation_Reason_on_Account</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AccountId</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payroll_Offboarding_CAS</name>
        <label>Payroll Offboarding CAS</label>
        <locationX>842</locationX>
        <locationY>3023</locationY>
        <defaultConnector>
            <targetReference>Mitel_Team_Zones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Payroll_Offboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CAS Management</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payroll</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Type_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Offboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payroll_Offboarding_Case</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Payroll Offboarding</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Sub-Type Category = Chargeback or Prevention Alert</description>
        <name>Sub_Type_Category</name>
        <label>Sub-Type Category</label>
        <locationX>842</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>Case_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Chargeback_or_Pervention_Alert</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sub_Type_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prevention Alert</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Type_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chargeback</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chargeback_CSAT_Survey</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Chargeback or Pervention Alert</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Subscription Review case is not Spam or Duplicate and a Primary Cancellation Reason is being populated or changed.</description>
        <name>Subscription_Review_Cases</name>
        <label>Subscription Review Cases</label>
        <locationX>842</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>Cancellation_Case_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancellation_Reason_changed</name>
            <conditionLogic>(1 AND 2) AND (3 OR 4) AND (5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Billing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subscription Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Spam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Duplicate Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Cancellation_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Cancellation_Reason__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secondary_Cancellation_Reason__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Cancellation_Reason_on_Account</targetReference>
            </connector>
            <label>Cancellation Reason changed</label>
        </rules>
    </decisions>
    <description>Flow to run upon create or edit of a case record.</description>
    <environments>Default</environments>
    <formulas>
        <name>formAgeAtCancellationScore</name>
        <dataType>Number</dataType>
        <expression>IF (ISBLANK({!$Record.Account.Client_Age_at_Cancellation__c}),0,
IF ({!$Record.Account.Client_Age_at_Cancellation__c} &lt; 31, 5,
IF (AND ({!$Record.Account.Client_Age_at_Cancellation__c}&gt;= 31, {!$Record.Account.Client_Age_at_Cancellation__c}&lt;= 335), 2,
IF (AND ({!$Record.Account.Client_Age_at_Cancellation__c}&gt;= 336, {!$Record.Account.Client_Age_at_Cancellation__c}&lt;= 395), 5,2))))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formBillingCaseScore</name>
        <dataType>Number</dataType>
        <expression>IF({!$Record.RecordType.Name}= &apos;Billing&apos;,{!formFinalCaseScore},0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formCustTypeScore</name>
        <dataType>Number</dataType>
        <expression>IF(CONTAINS(TEXT({!$Record.Account.Lead_Source__c}),&quot;1-800Accountant&quot;), 3, 1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formFinalCaseScore</name>
        <dataType>Number</dataType>
        <expression>{!formAgeAtCancellationScore}+{!formCustTypeScore}+{!formLifetimeInvoicedScore}+{!formLifetimePaymentsMinusRefundScore}+{!formLastTransactionDateScore}+{!constNewCaseScore}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formIsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <formulas>
        <name>formLastTransactionDateScore</name>
        <dataType>Number</dataType>
        <expression>IF ({!$Record.Account.ChargeOver_Most_Recent_Payment_Date__c}-TODAY() &lt;= 30, 5, 
IF({!$Record.Account.ChargeOver_Most_Recent_Payment_Date__c}-TODAY() &gt;=31 &amp;&amp; {!$Record.Account.ChargeOver_Most_Recent_Payment_Date__c}-TODAY() &lt;= 90, 3, 1))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formLifetimeInvoicedScore</name>
        <dataType>Number</dataType>
        <expression>IF({!$Record.Account.Lifetime_Invoiced_Amount__c} &gt; 7500, 3,
IF({!$Record.Account.Lifetime_Invoiced_Amount__c}&lt;=7500 &amp;&amp; {!$Record.Account.Lifetime_Invoiced_Amount__c}&gt;= 3500, 2,1))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formLifetimePaymentsMinusRefundScore</name>
        <dataType>Number</dataType>
        <expression>IF({!$Record.Account.Lifetime_Payments__c}-{!$Record.Account.Lifetime_Refunds__c} &gt; 7500, 5,
IF({!$Record.Account.Lifetime_Payments__c}-{!$Record.Account.Lifetime_Refunds__c}&lt;=7500 &amp;&amp; {!$Record.Account.Lifetime_Payments__c}-{!$Record.Account.Lifetime_Refunds__c}&gt;= 3500, 3,1))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FormulaClientAge</name>
        <dataType>Number</dataType>
        <expression>TODAY()-{!$Record.Account.First_Subscription_Date__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FormulaLastModifiedFNLN</name>
        <dataType>String</dataType>
        <expression>{!$Record.LastModifiedBy.FirstName}+&quot; &quot; +{!$Record.LastModifiedBy.LastName}</expression>
    </formulas>
    <formulas>
        <name>formulaToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>NetPaymentLast180Days</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Account.Payments_Last_180_days__c}+{!$Record.Account.Refunds_Last_180_Days__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Case - Created Edited - Actions &amp; Related Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Created Edited - Actions &amp; Related Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Populate_Case_Score</name>
        <label>Populate Case Score</label>
        <locationX>710</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Subscription_Review_Cases</targetReference>
        </connector>
        <inputAssignments>
            <field>Case_Score__c</field>
            <value>
                <elementReference>formBillingCaseScore</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Closed_By</name>
        <label>Update Case Closed By</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>New_Case_or_Account_Populated</targetReference>
        </connector>
        <inputAssignments>
            <field>Closed_By__c</field>
            <value>
                <elementReference>FormulaLastModifiedFNLN</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Payment_and_Refund_fields</name>
        <label>Update Payment and Refund fields</label>
        <locationX>710</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Case_Transferred_to_Billing_Queue</targetReference>
        </connector>
        <inputAssignments>
            <field>Case_Score__c</field>
            <value>
                <elementReference>formBillingCaseScore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Age_When_Case_Created__c</field>
            <value>
                <elementReference>FormulaClientAge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Account.Primary_Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lifetime_Payments__c</field>
            <value>
                <elementReference>$Record.Account.Lifetime_Payments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lifetime_Refunds__c</field>
            <value>
                <elementReference>$Record.Account.Lifetime_Refunds__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Payments_Last_180_Days__c</field>
            <value>
                <elementReference>NetPaymentLast180Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payments_Last_180_days__c</field>
            <value>
                <elementReference>$Record.Account.Payments_Last_180_days__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refunds_Last_30_Days__c</field>
            <value>
                <elementReference>$Record.Account.Refunds_Last_30_Days__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refunds_Last_90_Days__c</field>
            <value>
                <elementReference>$Record.Account.Refunds_90_Days__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updated_Related_Account</name>
        <label>Updated Related Account</label>
        <locationX>710</locationX>
        <locationY>3947</locationY>
        <inputReference>varRelatedAccount</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Mark_Case_Closed_By</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varRelatedAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
