force-app/main/default/flows/Case_Status_Mass_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Creates a unique collection of Record Type Names</description>
        <name>Add_RT_to_Collection</name>
        <label>Add RT to Collection</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varCollRT</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Loop_through_selected_case_records.RecordType.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCollRT</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_selected_case_records.RecordType.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRTName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_selected_case_records.RecordType.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_selected_case_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Status</name>
        <label>Assign New Status</label>
        <locationX>754</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>Loop_to_Assign_New_Status.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCollCase</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_to_Assign_New_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_Assign_New_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_to_variable</name>
        <label>Assign Status to variable</label>
        <locationX>930</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>varNewStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaNewStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_chose_a_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_RT_Count</name>
        <label>Get RT Count</label>
        <locationX>490</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varRTcount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varCollRT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Multiple_Record_Types</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ACHPendingSettlement</name>
        <choiceText>ACH Pending Settlement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ACH Pending Settlement</stringValue>
        </value>
    </choices>
    <choices>
        <name>AdditionalInformationRequired</name>
        <choiceText>Additional Information Required</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Additional Information Required</stringValue>
        </value>
    </choices>
    <choices>
        <name>AwaitingClientResponse</name>
        <choiceText>Awaiting Client Response</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Awaiting Client Response</stringValue>
        </value>
    </choices>
    <choices>
        <name>ClientResponded</name>
        <choiceText>Client Responded</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Client Responded</stringValue>
        </value>
    </choices>
    <choices>
        <name>Closed</name>
        <choiceText>Closed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed</stringValue>
        </value>
    </choices>
    <choices>
        <name>ClosedAwaitingResponse</name>
        <choiceText>Closed - Awaiting Response</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed - Awaiting Response</stringValue>
        </value>
    </choices>
    <choices>
        <name>ClosedCancelled</name>
        <choiceText>Closed-Cancelled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed-Cancelled</stringValue>
        </value>
    </choices>
    <choices>
        <name>ClosedDormantAccount</name>
        <choiceText>Closed - Dormant Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed - Dormant Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>ClosedEscalated</name>
        <choiceText>Closed Escalated</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed Escalated</stringValue>
        </value>
    </choices>
    <choices>
        <name>ClosedSaved</name>
        <choiceText>Closed-Saved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed-Saved</stringValue>
        </value>
    </choices>
    <choices>
        <name>Discard</name>
        <choiceText>Discard</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Discard</stringValue>
        </value>
    </choices>
    <choices>
        <name>Duplicate</name>
        <choiceText>Duplicate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Duplicate</stringValue>
        </value>
    </choices>
    <choices>
        <name>DuplicateCase</name>
        <choiceText>Duplicate Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Duplicate Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>Escalated</name>
        <choiceText>Escalated</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Escalated</stringValue>
        </value>
    </choices>
    <choices>
        <name>Expedited</name>
        <choiceText>Expedited</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Expedited</stringValue>
        </value>
    </choices>
    <choices>
        <name>InProgress</name>
        <choiceText>In Progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </choices>
    <choices>
        <name>ITTicketSubmittedtoDevelopment</name>
        <choiceText>I.T. Ticket Submitted to Development</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I.T. Ticket Submitted to Development</stringValue>
        </value>
    </choices>
    <choices>
        <name>ITTicketSubmittedtoInvoice</name>
        <choiceText>I.T.Ticket Submitted to Invoice</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I.T.Ticket Submitted to Invoice</stringValue>
        </value>
    </choices>
    <choices>
        <name>New</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewEmailReceived</name>
        <choiceText>New Email Received</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Email Received</stringValue>
        </value>
    </choices>
    <choices>
        <name>Open</name>
        <choiceText>Open</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Open</stringValue>
        </value>
    </choices>
    <choices>
        <name>OpenAwaitingResponse</name>
        <choiceText>Open - Awaiting Response</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Open - Awaiting Response</stringValue>
        </value>
    </choices>
    <choices>
        <name>OpenITticketsubmitted</name>
        <choiceText>Open - IT ticket submitted / in process</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Open - IT ticket submitted / in process</stringValue>
        </value>
    </choices>
    <choices>
        <name>PendingInternal</name>
        <choiceText>Pending Internal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending Internal</stringValue>
        </value>
    </choices>
    <choices>
        <name>ResolvedClosed</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Resolved / Closed&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Resolved / Closed</stringValue>
        </value>
    </choices>
    <choices>
        <name>SaveAttemptFailed</name>
        <choiceText>Save Attempt Failed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Save Attempt Failed</stringValue>
        </value>
    </choices>
    <choices>
        <name>ServiceModification</name>
        <choiceText>Service Modification</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Service Modification</stringValue>
        </value>
    </choices>
    <choices>
        <name>Spam</name>
        <choiceText>Spam</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Spam</stringValue>
        </value>
    </choices>
    <choices>
        <name>TalktoanAccountant</name>
        <choiceText>Talk to an Accountant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Talk to an Accountant</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transferred</name>
        <choiceText>Transferred</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transferred</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Multiple_Record_Types</name>
        <label>Multiple Record Types?</label>
        <locationX>490</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Choose_new_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Single RT</defaultConnectorLabel>
        <rules>
            <name>Different_RT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRTcount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Different_RT_Message</targetReference>
            </connector>
            <label>Different RT</label>
        </rules>
        <rules>
            <name>QA_RT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRTName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quality Assurance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_Update_QA_Cases</targetReference>
            </connector>
            <label>QA RT</label>
        </rules>
    </decisions>
    <decisions>
        <description>Did the user select one or more records from the list view?</description>
        <name>Records_Selected</name>
        <label>Records Selected?</label>
        <locationX>974</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Display_No_Records_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_chose_a_Status</name>
        <label>User chose a Status?</label>
        <locationX>930</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Display_Did_not_choose_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Status change</defaultConnectorLabel>
        <rules>
            <name>Update_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_to_Assign_New_Status</targetReference>
            </connector>
            <label>Update Status</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if user is an Admin or has permission to mass update</description>
        <name>User_has_permission_to_Mass_Update</name>
        <label>User has permission to Mass Update?</label>
        <locationX>1348</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Display_No_Access</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Permission</defaultConnectorLabel>
        <rules>
            <name>Has_Permission</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Admin_Validation_Rule_Override</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.Mass_Update_Case</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Records_Selected</targetReference>
            </connector>
            <label>Has Permission</label>
        </rules>
    </decisions>
    <description>Flow to Mass Update Case Status from List View</description>
    <environments>Default</environments>
    <formulas>
        <name>formulaNewStatus</name>
        <dataType>String</dataType>
        <expression>CASE({!varRTName}, 
&apos;Billing&apos;, {!Choose_a_new_Status_for_the_Billing_Cases}, 
&apos;Client Operations&apos;, {!Choose_a_new_Status_for_the_Client_Ops_Cases},
&apos;Fulfillment&apos;, {!Choose_a_new_Status_for_the_Fulfillment_Cases},
&apos;Sales (BNA)&apos;, {!Choose_a_new_Status_for_the_Sales_BNA_Cases},
&apos;Support&apos;, {!Choose_a_new_Status_for_the_Support_Cases},
&apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Case Status Mass Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Status Mass Update</label>
    <loops>
        <name>Loop_through_selected_case_records</name>
        <label>Loop through selected case records</label>
        <locationX>490</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Case_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_RT_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_RT_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_to_Assign_New_Status</name>
        <label>Loop to Assign New Status</label>
        <locationX>666</locationX>
        <locationY>1298</locationY>
        <collectionReference>Get_Case_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Case_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case_Records</name>
        <label>Get Case Records</label>
        <locationX>490</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_selected_case_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Records</name>
        <label>Update Case Records</label>
        <locationX>666</locationX>
        <locationY>1598</locationY>
        <faultConnector>
            <targetReference>Display_Update_Error</targetReference>
        </faultConnector>
        <inputReference>varCollCase</inputReference>
    </recordUpdates>
    <screens>
        <name>Cannot_Update_QA_Cases</name>
        <label>Cannot Update QA Cases</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Logo6_1800A</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Cannot_Update_QA_Cases_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Cannot_Update_QA_Cases_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Blank_Display6</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>QACases</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Brand_Style_Start_H1}QA cases are not available for mass update! Click Finish and choose cases with a different Record Type.{!Brand_Style_Close}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Choose_new_Status</name>
        <label>Choose new Status</label>
        <locationX>930</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Status_to_variable</targetReference>
        </connector>
        <fields>
            <name>Logo1_1800A</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Center</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Choose_new_Status_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Choose_new_Status_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Blank_Display1</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Choose_a_new_Status_for_the_Billing_Cases</name>
            <choiceReferences>ACHPendingSettlement</choiceReferences>
            <choiceReferences>Closed</choiceReferences>
            <choiceReferences>ClosedCancelled</choiceReferences>
            <choiceReferences>ClosedDormantAccount</choiceReferences>
            <choiceReferences>ClosedSaved</choiceReferences>
            <choiceReferences>DuplicateCase</choiceReferences>
            <choiceReferences>New</choiceReferences>
            <choiceReferences>SaveAttemptFailed</choiceReferences>
            <choiceReferences>ServiceModification</choiceReferences>
            <choiceReferences>Spam</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose a new Status for the Billing Cases</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varCollRT</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Billing</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Choose_a_new_Status_for_the_Client_Ops_Cases</name>
            <choiceReferences>AwaitingClientResponse</choiceReferences>
            <choiceReferences>ClientResponded</choiceReferences>
            <choiceReferences>Closed</choiceReferences>
            <choiceReferences>Escalated</choiceReferences>
            <choiceReferences>New</choiceReferences>
            <choiceReferences>Open</choiceReferences>
            <choiceReferences>PendingInternal</choiceReferences>
            <choiceReferences>ResolvedClosed</choiceReferences>
            <choiceReferences>Transferred</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose a new Status for the Client Ops Cases</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varCollRT</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Client Operations</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Choose_a_new_Status_for_the_Fulfillment_Cases</name>
            <choiceReferences>AdditionalInformationRequired</choiceReferences>
            <choiceReferences>Closed</choiceReferences>
            <choiceReferences>Discard</choiceReferences>
            <choiceReferences>InProgress</choiceReferences>
            <choiceReferences>New</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose a new Status for the Fulfillment Cases</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varCollRT</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Fulfillment</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Choose_a_new_Status_for_the_Sales_BNA_Cases</name>
            <choiceReferences>Closed</choiceReferences>
            <choiceReferences>ClosedAwaitingResponse</choiceReferences>
            <choiceReferences>Escalated</choiceReferences>
            <choiceReferences>Expedited</choiceReferences>
            <choiceReferences>New</choiceReferences>
            <choiceReferences>NewEmailReceived</choiceReferences>
            <choiceReferences>Open</choiceReferences>
            <choiceReferences>OpenAwaitingResponse</choiceReferences>
            <choiceReferences>OpenITticketsubmitted</choiceReferences>
            <choiceReferences>TalktoanAccountant</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose a new Status for the Sales (BNA) Cases</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varCollRT</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Sales (BNA)</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Choose_a_new_Status_for_the_Support_Cases</name>
            <choiceReferences>Closed</choiceReferences>
            <choiceReferences>ClosedAwaitingResponse</choiceReferences>
            <choiceReferences>ClosedEscalated</choiceReferences>
            <choiceReferences>Duplicate</choiceReferences>
            <choiceReferences>DuplicateCase</choiceReferences>
            <choiceReferences>Escalated</choiceReferences>
            <choiceReferences>ITTicketSubmittedtoDevelopment</choiceReferences>
            <choiceReferences>ITTicketSubmittedtoInvoice</choiceReferences>
            <choiceReferences>New</choiceReferences>
            <choiceReferences>Open</choiceReferences>
            <choiceReferences>OpenAwaitingResponse</choiceReferences>
            <choiceReferences>OpenITticketsubmitted</choiceReferences>
            <choiceReferences>Spam</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose a new Status for the Support Cases</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varCollRT</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Support</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Change Status</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Different_RT_Message</name>
        <label>Different RT Message</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Logo4_1800A</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Different_RT_Message_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Different_RT_Message_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Blank_Display4</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SameRecordType</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Brand_Style_Start_H1}The selected records have different Record Types!  Cases to be mass updated must have the same Record Type. Click Finish and try again!{!Brand_Style_Close}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Did_not_choose_status</name>
        <label>Display Did not choose status</label>
        <locationX>1194</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Logo5_1800A</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Display_Did_not_choose_status_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_Did_not_choose_status_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Blank_Display5</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DidNotChooseStatusMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Brand_Style_Start_H1} Status to update  cases is not selected! Click Previous to pick a Status or Finish to exit.{!Brand_Style_Close}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_No_Access</name>
        <label>Display No Access</label>
        <locationX>1722</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Logo7_1800A</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Display_No_Access_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_No_Access_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Blank_Display7</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Display_No_Permission</name>
            <fieldText>&lt;p&gt;{!Brand_Style_Start_H1}You do not have the permission to Mass Update Cases! Click Finish to exit.{!Brand_Style_Close}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_No_Records_Selected</name>
        <label>Display No Records Selected</label>
        <locationX>1458</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Logo2_1800A</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Display_No_Records_Selected_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_No_Records_Selected_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Blank_Display2</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>NoRecordsSelected</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!Brand_Style_Start_H1}No Records were selected for this update. Click Finish and try again!{!Brand_Style_Close}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Update_Error</name>
        <label>Display Update Error</label>
        <locationX>930</locationX>
        <locationY>1706</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Logo3_1800A</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Display_Update_Error_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_Update_Error_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Blank_Display3</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DisplayFlowError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;{!Brand_Style_Start_H1}The Update to the selected records failed. Please Click Finish and Try again!{!Brand_Style_Close}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1222</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User_has_permission_to_Mass_Update</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Closes all font styling</description>
        <name>Brand_Style_Close</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Used for page headers</description>
        <name>Brand_Style_Start_H1</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p style = &apos;font-size:24px;color:#435360;font-weight:bold;&apos;&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Used for first level page explanation</description>
        <name>Brand_Style_Start_H2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p style = &apos;font-size:18px;color:#435360;font-weight:bold;&apos;&gt;</text>
    </textTemplates>
    <variables>
        <description>System variable holding case ids selected in the list view</description>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Temp variable to be used in Update Case element (To bypass the issue when using the original collection variable)</description>
        <name>varCollCase</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varCollRT</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Count of Record Types in selected Records</description>
        <name>varRTcount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varRTName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
