force-app/main/default/flows/ChargeOver_Subscription_Created_Edited_Actions_Rel.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>138</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>varCollTARecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TA_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TA_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Toggle_Historical_Update</name>
        <label>Toggle Historical Update</label>
        <locationX>138</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>TA_Records.Historical_Update__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formTAHistoricalUdpate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If Cancellation Date is populated, trigger the Transaction Applied flow that populates the commission date.</description>
        <name>Cancellation_Date_Populated</name>
        <label>Cancellation Date Populated?</label>
        <locationX>380</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cancellation_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Cancellation_Date__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transaction_Applied_Refunds</targetReference>
            </connector>
            <label>Is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Created_Date_Check</name>
        <label>Created Date Check</label>
        <locationX>270</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>TA_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formTACreatedToday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Toggle_Historical_Update</targetReference>
            </connector>
            <label>Today</label>
        </rules>
    </decisions>
    <decisions>
        <name>Created_or_Updated</name>
        <label>Created or Updated?</label>
        <locationX>611</locationX>
        <locationY>923</locationY>
        <defaultConnectorLabel>Created</defaultConnectorLabel>
        <rules>
            <name>Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancellation_Date_Populated</targetReference>
            </connector>
            <label>Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Engagement_Fields_Changed</name>
        <label>Engagement Fields Changed?</label>
        <locationX>611</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Created_or_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Updated_Signature</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Engagement_Letter_Signature_Date_Time__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Engagement_Letter_Signature_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Engagement_Letter_Signature_Link__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CO_Sub_with_Most_Recent_Signature</targetReference>
            </connector>
            <label>Updated Signature</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check</name>
        <label>Null Check</label>
        <locationX>457</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Created_or_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recent_Sub</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CO_Sub_with_Most_Recent_Signature.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CO_Sub_with_Most_Recent_Signature.Account__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Engagement_Fields</targetReference>
            </connector>
            <label>Recent Sub</label>
        </rules>
    </decisions>
    <decisions>
        <name>TA_Null_Check</name>
        <label>TA Null Check</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transaction_Applied_Refunds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TA_Records</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formIsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>formTACreatedToday</name>
        <dataType>Boolean</dataType>
        <expression>DATEVALUE({!TA_Records.CreatedDate}) = TODAY()</expression>
    </formulas>
    <formulas>
        <name>formTAHistoricalUdpate</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!TA_Records.Historical_Update__c})</expression>
    </formulas>
    <interviewLabel>ChargeOver Subscription - Created Edited - Actions &amp; Rel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ChargeOver Subscription - Created Edited - Actions &amp; Related Records</label>
    <loops>
        <name>TA_Records</name>
        <label>TA Records</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <collectionReference>Transaction_Applied_Refunds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Created_Date_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>TA_Refund_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CO_Sub_with_Most_Recent_Signature</name>
        <label>CO Sub with Most Recent Signature</label>
        <locationX>457</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ChargeOver_Subscription__c</object>
        <sortField>Engagement_Letter_Signature_Date_Time__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Transaction_Applied_Refunds</name>
        <label>Transaction Applied Refunds</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TA_Null_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Transaction_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Refund</stringValue>
            </value>
        </filters>
        <filters>
            <field>Transaction_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </filters>
        <filters>
            <field>Commission_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ChargeOver_Transaction_Applied__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Account_Engagement_Fields</name>
        <label>Account Engagement Fields</label>
        <locationX>325</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Created_or_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CO_Sub_with_Most_Recent_Signature.Account__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Engagement_Letter_Signature_Date_Time__c</field>
            <value>
                <elementReference>CO_Sub_with_Most_Recent_Signature.Engagement_Letter_Signature_Date_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engagement_Letter_Signature_Link__c</field>
            <value>
                <elementReference>CO_Sub_with_Most_Recent_Signature.Engagement_Letter_Signature_Link__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engagement_Letter_Signature_Status__c</field>
            <value>
                <elementReference>CO_Sub_with_Most_Recent_Signature.Engagement_Letter_Signature_Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>TA_Refund_Records</name>
        <label>TA Refund Records</label>
        <locationX>50</locationX>
        <locationY>1955</locationY>
        <inputReference>varCollTARecords</inputReference>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Engagement_Fields_Changed</targetReference>
        </connector>
        <object>ChargeOver_Subscription__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Collection Variable to bypass the bug (Original record collection in Update Records reflects no updates made through the flow)</description>
        <name>varCollTARecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ChargeOver_Transaction_Applied__c</objectType>
    </variables>
</Flow>
