force-app/main/default/flows/ChargeOver_TA_Created_Edited_Actions_Related_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Blank_Commission_Date</name>
        <label>Blank Commission Date</label>
        <locationX>578</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>$Record.Override_Earner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Commission_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_TA_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Commission_Date_Next_FP</name>
        <label>Commission Date Next FP</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>$Record.Commission_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaNextCommissionDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Related_Invoice_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Commission_Date_This_FP</name>
        <label>Commission Date This FP</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>$Record.Commission_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaCurrentCommissionDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Related_Invoice_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OE_is_Commission_Earner_s_Manager</name>
        <label>OE is Commission Earner&apos;s Manager</label>
        <locationX>512</locationX>
        <locationY>1745</locationY>
        <assignmentItems>
            <assignToReference>$Record.Override_Earner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Related_Invoice_Line_Item.Commission_Earner_Lookup__r.Manager.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_TA_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OE_is_Sales_Manager</name>
        <label>OE is Sales Manager</label>
        <locationX>248</locationX>
        <locationY>1637</locationY>
        <assignmentItems>
            <assignToReference>$Record.Override_Earner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Related_Invoice_Line_Item.Sales_Manager_Lookup__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_TA_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Commission_Date_Payment</name>
        <label>Set Commission Date Payment</label>
        <locationX>1018</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>$Record.Commission_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaNextCommissionDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Related_Invoice_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fiscal_Start_and_End_Date</name>
        <label>Set Fiscal Start and End Date</label>
        <locationX>864</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varFiscalPeriodStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Fiscal_Period.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFiscalPeriodEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Fiscal_Period.EndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Payment_or_Refund</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Cancel_Date_for_Refund</name>
        <label>Check Cancel Date for Refund</label>
        <locationX>446</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Related_Invoice_Line_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Within_Cancel_and_Refund_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formulaIsCancelledWithin30Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formulaWithinRefundCheckWindow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Commission_Date_This_FP</targetReference>
            </connector>
            <label>Within Cancel and Refund Check</label>
        </rules>
        <rules>
            <name>Within_Cancel_Outside_Refund_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formulaIsCancelledWithin30Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formulaWithinRefundCheckWindow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Commission_Date_Next_FP</targetReference>
            </connector>
            <label>Within Cancel Outside Refund Check</label>
        </rules>
        <rules>
            <name>Outside_Cancel_Window</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formulaIsCancelledWithin30Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blank_Commission_Date</targetReference>
            </connector>
            <label>Outside Cancel Window</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Line_Item_Sync</name>
        <label>Check Line Item Sync</label>
        <locationX>864</locationX>
        <locationY>1421</locationY>
        <defaultConnector>
            <targetReference>Update_TA_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Line_Item_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_Invoice_Line_Item.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Override_Earner</targetReference>
            </connector>
            <label>Line Item Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Commission Earner&apos;s Sales Manager is currently active AND is still on Sales Manager Profile</description>
        <name>Manager_Check</name>
        <label>Manager Check</label>
        <locationX>644</locationX>
        <locationY>1637</locationY>
        <defaultConnector>
            <targetReference>Update_TA_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsActive_SMProfile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_Invoice_Line_Item.Commission_Earner_Lookup__r.Manager.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Related_Invoice_Line_Item.Commission_Earner_Lookup__r.Manager.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OE_is_Commission_Earner_s_Manager</targetReference>
            </connector>
            <label>IsActive SMProfile</label>
        </rules>
    </decisions>
    <decisions>
        <description>Populate Commission Date based on logic for payment or refund</description>
        <name>Payment_or_Refund</name>
        <label>Payment or Refund</label>
        <locationX>864</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Refund</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Transaction_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refund</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Transaction_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Cancel_Date_for_Refund</targetReference>
            </connector>
            <label>Refund</label>
        </rules>
        <rules>
            <name>Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Transaction_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Transaction_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Commission_Date_Payment</targetReference>
            </connector>
            <label>Payment</label>
        </rules>
    </decisions>
    <decisions>
        <description>Based on the Sales Manager or Commission Earner field on Chargeover Invoice Line Item</description>
        <name>Populate_Override_Earner</name>
        <label>Populate Override Earner</label>
        <locationX>600</locationX>
        <locationY>1529</locationY>
        <defaultConnector>
            <targetReference>Update_TA_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_Manager_IsActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_Invoice_Line_Item.Sales_Manager_Lookup__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Related_Invoice_Line_Item.Sales_Manager_Lookup__r.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OE_is_Sales_Manager</targetReference>
            </connector>
            <label>Sales Manager IsActive</label>
        </rules>
        <rules>
            <name>Commission_Earner_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_Invoice_Line_Item.Commission_Earner_Lookup__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manager_Check</targetReference>
            </connector>
            <label>Commission Earner Active</label>
        </rules>
    </decisions>
    <decisions>
        <description>Record is created OR Historical update is run on the day of record creation.</description>
        <name>Trigger_Condition</name>
        <label>Trigger Condition</label>
        <locationX>1205</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_TA_Record</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>formulaIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Historical_Update__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formulaCreatedToday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Custom_Fiscal_Year</targetReference>
            </connector>
            <label>New TA Record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formulaCancellationDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.ChargeOver_Invoice__r.ChargeOver_Subscription__r.Cancellation_Date__c})</expression>
    </formulas>
    <formulas>
        <name>formulaCreatedToday</name>
        <dataType>Boolean</dataType>
        <expression>DATEVALUE({!$Record.CreatedDate})=Today()</expression>
    </formulas>
    <formulas>
        <name>formulaCurrentCommissionDate</name>
        <dataType>Date</dataType>
        <expression>{!varFiscalPeriodEndDate}-1</expression>
    </formulas>
    <formulas>
        <name>formulaIsCancelledWithin30Days</name>
        <dataType>Boolean</dataType>
        <expression>{!formulaCancellationDate}-{!formulaOppClosedDate}&lt;=30</expression>
    </formulas>
    <formulas>
        <name>formulaIsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>formulaNextCommissionDate</name>
        <dataType>Date</dataType>
        <expression>{!varFiscalPeriodEndDate}+27</expression>
    </formulas>
    <formulas>
        <name>formulaOppClosedDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.ChargeOver_Invoice__r.Opportunity__r.Close_Date_Time__c})</expression>
    </formulas>
    <formulas>
        <name>formulaToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>formulaWithinRefundCheckWindow</name>
        <dataType>Boolean</dataType>
        <expression>Today()&lt;= {!varFiscalPeriodEndDate}-4</expression>
    </formulas>
    <interviewLabel>ChargeOver TA - Created Edited - Actions &amp; Related Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ChargeOver TA - Created Edited - Actions &amp; Related Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Current_Custom_Fiscal_Year</name>
        <label>Current Custom Fiscal Year</label>
        <locationX>864</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Current_Fiscal_Period</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>YearType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Custom</stringValue>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>formulaToday</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FiscalYearSettings</object>
        <sortField>StartDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Current_Fiscal_Period</name>
        <label>Current Fiscal Period</label>
        <locationX>864</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Fiscal_Start_and_End_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>formulaToday</elementReference>
            </value>
        </filters>
        <filters>
            <field>FiscalYearSettingsId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_Custom_Fiscal_Year.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Month</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Period</object>
        <sortField>StartDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Related_Invoice_Line_Item</name>
        <label>Related Invoice Line Item</label>
        <locationX>864</locationX>
        <locationY>1313</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Line_Item_Sync</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ChargeOver_Invoice_Line__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ChargeOver_Invoice_Line_Item__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_TA_Record</name>
        <label>Update TA Record</label>
        <locationX>864</locationX>
        <locationY>2105</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1079</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Trigger_Condition</targetReference>
        </connector>
        <object>ChargeOver_Transaction_Applied__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Current Fiscal Period(Month) End Date</description>
        <name>varFiscalPeriodEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Current Fiscal Period(Month) Start Date</description>
        <name>varFiscalPeriodStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOverrideEarner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
