force-app/main/default/flows/ChargeOver_Invoice_Line_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Set Commission Text and Lookup fields</description>
        <name>CommissionEarner</name>
        <label>CommissionEarner</label>
        <locationX>314</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.Commissionable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Commission_Earner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formAccSalesRepFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Commission_Earner_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.Sales_Rep__r.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Set Commission Earner and Sales Manager Text and Lookup fields from Account</description>
        <name>CommissionEarner_SalesManager</name>
        <label>CommissionEarner SalesManager</label>
        <locationX>3306</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.Commissionable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Commission_Earner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formAccSalesRepFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sales_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formAccSalesManagerFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Commission_Earner_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.Sales_Rep__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sales_Manager_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.Sales_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Active_Sales_User_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Commission Earner and Sales Manager Text and Lookup fields</description>
        <name>CommissionEarner_SalesManager1</name>
        <label>CommissionEarner SalesManager</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.Commissionable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Commission_Earner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formAccSalesRepFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sales_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formAccSalesManagerFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Commission_Earner_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.Sales_Rep__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sales_Manager_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.Sales_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Set Commission Earner and Sales Manager Text and Lookup fields with values from Account</description>
        <name>CommissionEarner_SalesManager2</name>
        <label>CommissionEarner SalesManager</label>
        <locationX>1634</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.Commissionable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Commission_Earner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formAccSalesRepFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sales_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formAccSalesManagerFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Commission_Earner_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.Sales_Rep__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sales_Manager_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.Sales_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Active_Sales_User_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Commission Earner and Sales Manager Text and Lookup fields with values from Opportunity</description>
        <name>CommissionEarner_SalesManager3</name>
        <label>CommissionEarner SalesManager</label>
        <locationX>2074</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.Commissionable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Commission_Earner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formOppOwnerFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sales_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formOppOwnerManagerFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Commission_Earner_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sales_Manager_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Owner.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Active_Sales_User_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Commission Earner and Sales Manager Text and Lookup fields</description>
        <name>CommissionEarner_SalesManager4</name>
        <label>CommissionEarner SalesManager</label>
        <locationX>4714</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Commissionable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Commission_Earner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formAccSalesRepFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sales_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formAccSalesManagerFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Commission_Earner_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.Sales_Rep__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sales_Manager_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.Sales_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Active_Sales_User_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Commission Earner and Sales Manager Text and Lookup fields</description>
        <name>CommissionEarner_SalesManager5</name>
        <label>CommissionEarner SalesManager</label>
        <locationX>4978</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Commissionable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Commission_Earner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formOppOwnerFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sales_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formOppOwnerManagerFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Commission_Earner_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sales_Manager_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Sales_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Active_Sales_User_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Commission Earner and Sales Manager Text and Lookup fields from Opp</description>
        <name>CommissionEarner_SalesManager6</name>
        <label>CommissionEarner SalesManager</label>
        <locationX>3746</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.Commissionable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Commission_Earner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formOppOwnerFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sales_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formOppOwnerManagerFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Commission_Earner_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sales_Manager_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Sales_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Active_Sales_User_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Sales Manager Text and Lookup fields</description>
        <name>SalesManager</name>
        <label>SalesManager</label>
        <locationX>578</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.Commissionable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sales_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formAccSalesManagerFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sales_Manager_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.Sales_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Active_Commission_Earner_True</name>
        <label>Set Active Commission Earner True</label>
        <locationX>3009</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>$Record.Active_Commission_Earner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Zuora Transaction Type</description>
        <name>Set_Payment_Type</name>
        <label>Set Payment Type</label>
        <locationX>776</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Payment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Zuora_Transaction_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_and_Payment_Type_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Payment_Type_Initial</name>
        <label>Set Payment Type Initial</label>
        <locationX>2778</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Payment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Initial</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Payment_Type_Initial2</name>
        <label>Set Payment Type Initial</label>
        <locationX>1370</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Payment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Initial</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Payment_Type_Initial3</name>
        <label>Set Payment Type Initial</label>
        <locationX>1766</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Payment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Initial</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Payment_Type_Initial4</name>
        <label>Set Payment Type Initial</label>
        <locationX>2206</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Payment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Initial</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sales_Source_and_Product_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Recurring_Payment_Type</name>
        <label>Set Recurring Payment Type</label>
        <locationX>3042</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Payment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recurring</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Recurring_Payment_Type2</name>
        <label>Set Recurring Payment Type</label>
        <locationX>3438</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Payment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recurring</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Check2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Recurring_Payment_Type3</name>
        <label>Set Recurring Payment Type</label>
        <locationX>3878</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Payment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recurring</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sales_Source_and_Product_Check2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Renewal</name>
        <label>Set Renewal</label>
        <locationX>4450</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Payment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Undetermined</name>
        <label>Set Undetermined</label>
        <locationX>5506</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Payment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Undetermined</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>constProdClientBooks</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01tf1000004VPb5AAG</stringValue>
        </value>
    </constants>
    <constants>
        <name>constProdDedicatedBK</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01tf1000003JjrdAAC</stringValue>
        </value>
    </constants>
    <constants>
        <name>constProdPayroll</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01tf1000003JjrtAAC</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Checks for both conditions - With Or Without Opportunity</description>
        <name>Active_Sales_User_Check</name>
        <label>Active Sales User Check</label>
        <locationX>3141</locationX>
        <locationY>1187</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_Sales_User</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7) OR (7 AND 8 AND 9)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Owner.Sales_Team__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>constProdClientBooks</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Sales_Rep__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Sales_Rep__r.Sales_Team__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Active_Commission_Earner_True</targetReference>
            </connector>
            <label>Active Sales User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Initial_Opp_and_Rep</name>
        <label>Initial Opp and Rep</label>
        <locationX>1942</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Opp_No_Rep</name>
            <conditionLogic>1 AND 2  AND (3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Obligation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Website</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constProdClientBooks</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Payment_Type_Initial2</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>No Opp No Rep</label>
        </rules>
        <rules>
            <name>No_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Website</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Sales_Rep__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Obligation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Payment_Type_Initial3</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>No Opp</label>
        </rules>
        <rules>
            <name>With_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Obligation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Payment_Type_Initial4</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>With Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manager_Rep_Check</name>
        <label>Manager Rep Check</label>
        <locationX>446</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Manager_and_Rep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Sales_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Sales_Rep__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Zuora_Transaction_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CommissionEarner_SalesManager1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Manager and Rep</label>
        </rules>
        <rules>
            <name>Rep_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Sales_Rep__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Sales_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Zuora_Transaction_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CommissionEarner</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Rep Only</label>
        </rules>
        <rules>
            <name>Manager_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Sales_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Sales_Rep__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Zuora_Transaction_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesManager</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Manager Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>Monthly_Opp_or_Commission</name>
        <label>Monthly Opp or Commission</label>
        <locationX>4978</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Monthly_No_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>constProdClientBooks</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Website</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Terms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monthly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Recurs__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CommissionEarner_SalesManager4</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Monthly No Opp</label>
        </rules>
        <rules>
            <name>Monthly_Commission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>constProdClientBooks</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Terms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monthly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Recurs__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CommissionEarner_SalesManager5</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Monthly Commission</label>
        </rules>
    </decisions>
    <decisions>
        <description>Legacy, Initial, Recurring, Renewal, Monthly or Undetermined</description>
        <name>Payment_Type</name>
        <label>Payment Type</label>
        <locationX>3141</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Set_Undetermined</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Undetermined</defaultConnectorLabel>
        <rules>
            <name>Legacy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Zuora_Transaction_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Payment_Type</targetReference>
            </connector>
            <label>Legacy</label>
        </rules>
        <rules>
            <name>Initial</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Obligation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initial_Opp_and_Rep</targetReference>
            </connector>
            <label>Initial</label>
        </rules>
        <rules>
            <name>Initial_Setup_Fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Setup_Fee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Recurs__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Payment_Type_Initial</targetReference>
            </connector>
            <label>Initial Setup Fee</label>
        </rules>
        <rules>
            <name>Recurring</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Cycle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monthly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recurring_Opp_and_Rep</targetReference>
            </connector>
            <label>Recurring</label>
        </rules>
        <rules>
            <name>Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Cycle__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Monthly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Obligation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.First_Obligation_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Renewal</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
        <rules>
            <name>Monthly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Terms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monthly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Recurs__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Monthly_Opp_or_Commission</targetReference>
            </connector>
            <label>Monthly</label>
        </rules>
    </decisions>
    <decisions>
        <description>Initial Commissionable, Recurring Commissionable - Payroll, Recurring Commissionable - Bookkeeping, Monthly Commission</description>
        <name>Product_and_Payment_Type_Check</name>
        <label>Product and Payment Type Check</label>
        <locationX>776</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Commissionable_Conditions</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4 AND (5 OR 6))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>constProdClientBooks</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Recurs__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recurring</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constProdPayroll</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constProdDedicatedBK</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manager_Rep_Check</targetReference>
            </connector>
            <label>Commissionable Conditions</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Check</name>
        <label>Product Check</label>
        <locationX>1766</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Active_Sales_User_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_ClientBooks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>constProdClientBooks</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CommissionEarner_SalesManager2</targetReference>
            </connector>
            <label>Not ClientBooks</label>
        </rules>
    </decisions>
    <decisions>
        <description>Payroll - 01tf1000003JjrtAAC Bookkeeping - 01tf1000003JjrdAAC</description>
        <name>Product_Check2</name>
        <label>Product Check</label>
        <locationX>3438</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Active_Sales_User_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Payroll_or_BK</name>
            <conditionLogic>1 AND ((2 AND 3) OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_Recurs__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Terms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monthly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constProdPayroll</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constProdDedicatedBK</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CommissionEarner_SalesManager</targetReference>
            </connector>
            <label>Payroll or BK</label>
        </rules>
    </decisions>
    <decisions>
        <description>ClientBooks - 01tf1000004VPb5AAG.</description>
        <name>Recurring_Opp_and_Rep</name>
        <label>Recurring Opp and Rep</label>
        <locationX>3614</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Opp_and_No_Rep</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND ((5 OR 6 OR 7) OR (8 OR 9))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.First_Obligation_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Cycle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monthly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Obligation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Website</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constProdClientBooks</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Sales_Rep__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Sales_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Recurring_Payment_Type</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>No Opp and No Rep</label>
        </rules>
        <rules>
            <name>No_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.First_Obligation_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Website</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Cycle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monthly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Obligation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Recurring_Payment_Type2</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>No Opportunity</label>
        </rules>
        <rules>
            <name>With_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.First_Obligation_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Cycle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monthly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Obligation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Recurring_Payment_Type3</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>With Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sales_Source_and_Product_Check</name>
        <label>Sales Source and Product Check</label>
        <locationX>2206</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Active_Sales_User_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_and_Not_ClientBooks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>constProdClientBooks</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CommissionEarner_SalesManager3</targetReference>
            </connector>
            <label>Sales and Not ClientBooks</label>
        </rules>
    </decisions>
    <decisions>
        <description>Payroll - 01tf1000003JjrtAAC Bookkeeping - 01tf1000003JjrdAAC</description>
        <name>Sales_Source_and_Product_Check2</name>
        <label>Sales Source and Product Check</label>
        <locationX>3878</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Active_Sales_User_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Payroll_or_BK2</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_Recurs__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Terms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monthly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constProdPayroll</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constProdDedicatedBK</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CommissionEarner_SalesManager6</targetReference>
            </connector>
            <label>Payroll or BK</label>
        </rules>
    </decisions>
    <description>Runs when a ChargeOver Invoice Line has a related payment or refund processed.</description>
    <environments>Default</environments>
    <formulas>
        <name>formAccSalesManagerFullName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account__r.Sales_Manager__r.FirstName}+&apos; &apos;+{!$Record.Account__r.Sales_Manager__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>formAccSalesRepFullName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account__r.Sales_Rep__r.FirstName}+&apos; &apos;+{!$Record.Account__r.Sales_Rep__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>formOppOwnerFullName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Opportunity__r.Owner.FirstName}+&apos; &apos;+{!$Record.Opportunity__r.Owner.LastName}</expression>
    </formulas>
    <formulas>
        <name>formOppOwnerManagerFullName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Opportunity__r.Owner.Manager.FirstName}+&apos; &apos;+{!$Record.Opportunity__r.Owner.Manager.LastName}</expression>
    </formulas>
    <interviewLabel>ChargeOver Invoice Line {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ChargeOver Invoice Line Item - Created Edited - Fast Field Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>3015</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Payment_Type</targetReference>
        </connector>
        <object>ChargeOver_Invoice_Line_Item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
