force-app/main/default/flows/ChargeOver_Invoice_Line_Edited_Actions_Related_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Rep_to_Schedule_Call</name>
        <label>Email Rep to Schedule Call</label>
        <locationX>242</locationX>
        <locationY>816</locationY>
        <actionName>Opportunity.Schedule_a_Discovery_Call</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Schedule_a_Discovery_Call</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_Opportunity_Owner_and_Manager</name>
        <label>Notify Opportunity Owner and Manager</label>
        <locationX>242</locationX>
        <locationY>708</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Email_Rep_to_Schedule_Call</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varCollRepIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Discovery Call Not Scheduled!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>DiscoveryCallNotScheduled</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Opportunity_OwnerId</name>
        <label>Assign Opportunity OwnerId</label>
        <locationX>242</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>varCollRepIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Opportunity__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCollRepIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>User_Record_of_the_Opp_Owner.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_Opportunity_Owner_and_Manager</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>AdvisoryProductId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01tf1000003JjrqAAC</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Discovery_Call_Scheduled</name>
        <label>Discovery Call Scheduled?</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Account_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1st Year Client</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Discovery_Call_Scheduled_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Notification</targetReference>
            </connector>
            <label>Not Scheduled</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ChargeOver Invoice Line - Edited - Actions &amp; Related Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ChargeOver Invoice Line Item - Edited - Actions &amp; Related Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Custom Notification - Schedule Discovery Call</description>
        <name>Get_Custom_Notification</name>
        <label>Get Custom Notification</label>
        <locationX>242</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Record_of_the_Opp_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Schedule_Discovery_Call</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>User_Record_of_the_Opp_Owner</name>
        <label>User Record of the Opp Owner</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Opportunity_OwnerId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01tf1000003JjrqAAC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Net_Paid_Amount__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>ChargeOver_Invoice_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Void</stringValue>
            </value>
        </filters>
        <object>ChargeOver_Invoice_Line_Item__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X30_Min_delay</name>
            <connector>
                <targetReference>Discovery_Call_Scheduled</targetReference>
            </connector>
            <label>30 Min delay</label>
            <offsetNumber>30</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>DiscoveryCallNotScheduled</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Please reach out to {!$Record.Account__r.Primary_Contact_First_Name__c} {!$Record.Account__r.Primary_Contact_Last_Name__c} to schedule a Discovery as soon as possible. Clients are more likely to refund the longer they have to wait for a Discovery.</text>
    </textTemplates>
    <variables>
        <name>varCollRepIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
