force-app/main/default/flows/CO_Quote_Audit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Run_Apex</name>
        <label>Run Apex</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>AuditCOQuoteItemsInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Data</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>quoteIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AuditCOQuoteItemsInvocable</nameSegment>
        <outputParameters>
            <assignToReference>AggregatedData</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_picklist_value</name>
        <label>Add picklist value</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>PicklistValue.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Data</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PicklistValue.Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>true</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PicklistCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PicklistValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Data</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>ResultChoices</name>
        <collectionReference>PicklistCollection</collectionReference>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>CO Quote Audit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CO Quote Audit</label>
    <loops>
        <name>Loop_Data</name>
        <label>Loop Data</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>AggregatedData</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_picklist_value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CO_Quote_Audit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>CO_Quote_Audit</name>
        <label>CO Quote Audit</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Checkboxes</name>
            <choiceReferences>ResultChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>true</stringValue>
            </defaultValue>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_Apex</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AggregatedData</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PicklistCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PicklistValueInfo</objectType>
    </variables>
    <variables>
        <name>PicklistValue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PicklistValueInfo</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
