force-app/main/default/flows/Delete_Calendar_Blocks_Confirmation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apex_Delete_Batch</name>
        <label>Apex Delete Batch</label>
        <locationX>188</locationX>
        <locationY>1130</locationY>
        <actionName>DeleteCalendarBlocksBatchable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>userIds</name>
            <value>
                <elementReference>OwnerIdList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DeleteCalendarBlocksBatchable</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_User_Id_To_List</name>
        <label>Add User Id To List</label>
        <locationX>526</locationX>
        <locationY>668</locationY>
        <assignmentItems>
            <assignToReference>OwnerIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_user_the_owner_or_an_admin</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Confirm_or_cancel</name>
        <label>Confirm or cancel?</label>
        <locationX>320</locationX>
        <locationY>1022</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConfirmChoice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirm</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apex_Delete_Batch</targetReference>
            </connector>
            <label>Confirmed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_user_the_owner_or_an_admin</name>
        <label>Is user the owner or an admin?</label>
        <locationX>518</locationX>
        <locationY>806</locationY>
        <defaultConnector>
            <targetReference>ErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>TrimOwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TrimManagerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteBlockConfirmation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TrimManagerId</name>
        <dataType>String</dataType>
        <expression>LEFT({!MangerId}, 15)</expression>
    </formulas>
    <formulas>
        <name>TrimOwnerId</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordId.OwnerId}, 15)</expression>
    </formulas>
    <interviewLabel>Delete Calendar Blocks Confirmation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Calendar Blocks Confirmation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_User_Name</name>
        <label>Get User Name</label>
        <locationX>517</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_User_Id_To_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>MangerId</assignToReference>
            <field>ManagerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UserName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>DeleteBlockConfirmation</name>
        <label>Delete Calendar Blocks</label>
        <locationX>320</locationX>
        <locationY>914</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Confirm_or_cancel</targetReference>
        </connector>
        <fields>
            <name>ConfirmationPrompt</name>
            <fieldText>&lt;p&gt;{!ConfirmationTextVariable}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmChoice</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Confirm&quot;,&quot;value&quot;:&quot;Confirm&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>716</locationX>
        <locationY>914</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;You do not have the ability to delete records for this user. Please contact a system administrator for more details.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>392</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_User_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ConfirmationTextVariable</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;You are about to delete all future calendar blocks belonging to {!UserName}. Do you wish to continue?&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AdminProfileIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MangerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>UserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
