force-app/main/default/flows/EmailMessage_Created_Actions_Related_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Lightning Email Template &apos;Case Closed - Create New Case&apos; in &apos;Client Care&apos; folder.</description>
        <name>Case_Closed_New_Case_Link</name>
        <label>Case Closed - New Case Link</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Client_Emailed_Link_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@1800accountant.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Parent.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>constEmailTemplateId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Chatter Post</description>
        <name>Client_Emailed_Link_Sent</name>
        <label>Client Emailed Link Sent</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ttClientEmailClosedCase</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_Case_Owner_on_Chatter</name>
        <label>Notify Case Owner on Chatter</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ttCheckClientEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_CC_on_Chatter</name>
        <label>Notify CC on Chatter</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ttCCManagerNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Post_on_Chatter</name>
        <label>Post on Chatter</label>
        <locationX>578</locationX>
        <locationY>947</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ttGenericChatterPost</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Parent.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Assigns new values to the related Opportunity</description>
        <name>Assign_Opportunity_Values</name>
        <label>Assign Opportunity Values</label>
        <locationX>1634</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quote Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Opportunity.Send_Quote_Toggle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaSendQuoteToggle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>How many email messages were sent to this Account</description>
        <name>Set_Count</name>
        <label>Set Count</label>
        <locationX>1656</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>varContactEmailCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>All_Email_Messages_Sent_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Number_Of_Emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Count_of_Emails</name>
        <label>Set Count of Emails</label>
        <locationX>1920</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>varLeadEmailCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>All_Email_Message_Relations_sent_Lead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Number_of_Emails</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Katie Kus</description>
        <name>constCCManager1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005PJ000000QPFhYAO</stringValue>
        </value>
    </constants>
    <constants>
        <description>Paramjeet Kaur</description>
        <name>constCCManager2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0053Z00000KBip3QAD</stringValue>
        </value>
    </constants>
    <constants>
        <name>constClientCareQueueId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00GPJ000000r0bO</stringValue>
        </value>
    </constants>
    <constants>
        <name>constEmailTemplateId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00XO8000000v3IvMAI</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Case_Owner_check</name>
        <label>Case Owner check</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Post_on_Chatter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Queues</defaultConnectorLabel>
        <rules>
            <name>Owner_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Case_Owner_on_Chatter</targetReference>
            </connector>
            <label>Owner - User</label>
        </rules>
        <rules>
            <name>Owner_Client_Care</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constClientCareQueueId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_CC_on_Chatter</targetReference>
            </connector>
            <label>Owner - Client Care</label>
        </rules>
    </decisions>
    <decisions>
        <description>Billing, Fulfillment, Support, Client Operations</description>
        <name>Case_RT_Check</name>
        <label>Case RT Check</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Case_Owner_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Eligible_Record_Types</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Billing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fulfillment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Operations</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Client_Responded</targetReference>
            </connector>
            <label>Eligible Record Types</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the Opportunity has a valid Stage for updating</description>
        <name>Check_Opportunity_Stage</name>
        <label>Check Opportunity Stage</label>
        <locationX>1766</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Contact_Email_Message_Relation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_to_Change_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EligibleStageCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opportunity_Values</targetReference>
            </connector>
            <label>Valid to Change Stage?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_or_Lead</name>
        <label>Contact or Lead?</label>
        <locationX>1920</locationX>
        <locationY>1355</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Related_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_Email_Message_Relation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_Email_Messages_Sent_Contact</targetReference>
            </connector>
            <label>Related Contact</label>
        </rules>
        <rules>
            <name>Related_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Email_Message_Relation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_Email_Message_Relations_sent_Lead</targetReference>
            </connector>
            <label>Related Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Received_or_Sent</name>
        <label>Email Received or Sent?</label>
        <locationX>1645</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_an_Email_to_Case</targetReference>
            </connector>
            <label>Received</label>
        </rules>
        <rules>
            <name>Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_Emails</targetReference>
            </connector>
            <label>Sent</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check for existing case. Not new Email-to-Case</description>
        <name>Not_an_Email_to_Case</name>
        <label>Not an Email to Case</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Open_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formulaCaseCreatedinLast10Mins</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_RT_Check</targetReference>
            </connector>
            <label>Open Case</label>
        </rules>
        <rules>
            <name>Closed_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formulaCaseCreatedinLast10Mins</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Type_Check</targetReference>
            </connector>
            <label>Closed Case</label>
        </rules>
    </decisions>
    <decisions>
        <description>Runs for Quote emails</description>
        <name>Quote_Emails</name>
        <label>Quote Emails</label>
        <locationX>1920</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Contact_Email_Message_Relation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote_Email_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RelatedToId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EmailTemplate.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote_Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Opportunity</targetReference>
            </connector>
            <label>Quote Email Sent</label>
        </rules>
    </decisions>
    <decisions>
        <description>Billing, Fulfillment, Support, Client Operations</description>
        <name>Record_Type_Check</name>
        <label>Record Type Check</label>
        <locationX>974</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Eligible_RT</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Billing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fulfillment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Operations</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Closed_New_Case_Link</targetReference>
            </connector>
            <label>Eligible RT</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Checks for eligible Opportunity Stages for updating</description>
        <name>EligibleStageCheck</name>
        <dataType>String</dataType>
        <expression>CASE({!Get_Related_Opportunity.StageName},
&quot;New&quot;, &quot;True&quot;,
&quot;Quote Generated&quot;, &quot;True&quot;,
&quot;False&quot;)</expression>
    </formulas>
    <formulas>
        <name>formulaCaseCreatedinLast10Mins</name>
        <dataType>Boolean</dataType>
        <expression>(NOW()-{!$Record.Parent.CreatedDate})*24*60 &lt;= 10</expression>
    </formulas>
    <formulas>
        <name>formulaSendQuoteToggle</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!Get_Related_Opportunity.Send_Quote_Toggle__c})</expression>
    </formulas>
    <interviewLabel>EmailMessage - Created - Actions &amp; Related Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EmailMessage - Created - Actions &amp; Related Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get all Email Message Relations sent on this lead</description>
        <name>All_Email_Message_Relations_sent_Lead</name>
        <label>All Email Message Relations sent Lead</label>
        <locationX>1920</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Count_of_Emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead_Email_Message_Relation.RelationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelationType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ToAddress</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EmailMessageRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all Email Messages Sent to Related Account</description>
        <name>All_Email_Messages_Sent_Contact</name>
        <label>All Email Messages Sent Contact</label>
        <locationX>1656</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Email_Message_Relation.RelationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelationType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ToAddress</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EmailMessageRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Contact_Email_Message_Relation</name>
        <label>Contact Email Message Relation</label>
        <locationX>1920</locationX>
        <locationY>1139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Email_Message_Relation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EmailMessageId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelationObjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailMessageRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets info for the related Opportunity record</description>
        <name>Get_Related_Opportunity</name>
        <label>Get Related Opportunity</label>
        <locationX>1766</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Opportunity_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedToId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Email Message Relation Record related to this email message where RelationId is Lead</description>
        <name>Lead_Email_Message_Relation</name>
        <label>Lead Email Message Relation</label>
        <locationX>1920</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_or_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EmailMessageId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelationObjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailMessageRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Set &apos;# of Emails&apos; Field on related Contact</description>
        <name>Contact_Number_Of_Emails</name>
        <label>Contact Number Of Emails</label>
        <locationX>1656</locationX>
        <locationY>1679</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Email_Message_Relation.RelationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>of_Emails__c</field>
            <value>
                <elementReference>varContactEmailCount</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Set # of emails field on Related Lead</description>
        <name>Lead_Number_of_Emails</name>
        <label>Lead Number of Emails</label>
        <locationX>1920</locationX>
        <locationY>1679</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead_Email_Message_Relation.RelationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>of_Emails__c</field>
            <value>
                <elementReference>varLeadEmailCount</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <description>Change status to Client Responded</description>
        <name>Status_Client_Responded</name>
        <label>Status Client Responded</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Case_Owner_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Client Responded</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the related Opportunity record</description>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>1634</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Contact_Email_Message_Relation</targetReference>
        </connector>
        <inputReference>Get_Related_Opportunity</inputReference>
    </recordUpdates>
    <start>
        <locationX>1519</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Email_Received_or_Sent</targetReference>
        </connector>
        <object>EmailMessage</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ttCCManagerNotification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!constCCManager1}] @[{!constCCManager2}] Client sent an email regarding case {!$Record.Parent.CaseNumber}. Kindly reference the email and follow-up as necessary.</text>
    </textTemplates>
    <textTemplates>
        <name>ttCheckClientEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!$Record.Parent.OwnerId}] Client sent an email regarding case {!$Record.Parent.CaseNumber}. Kindly reference the email and follow-up as necessary.</text>
    </textTemplates>
    <textTemplates>
        <name>ttClientEmailClosedCase</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Client sent an email regarding closed Case {!$Record.Parent.CaseNumber}. An automated email with link to create a new case has been sent.</text>
    </textTemplates>
    <textTemplates>
        <name>ttGenericChatterPost</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Client sent an email regarding Case {!$Record.Parent.CaseNumber}. Kindly reference the email and follow-up as necessary.</text>
    </textTemplates>
    <variables>
        <description>Sum of all emails sent to the Account Primary Contact</description>
        <name>varContactEmailCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Sum of all email messages sent to the Related Lead</description>
        <name>varLeadEmailCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
