force-app/main/default/flows/Event_Created_Actions_Related_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <description>Checks if the Email Campaign ID field is null on the parent object</description>
        <name>Null_Email_Campaign_ID</name>
        <label>Null Email Campaign ID</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Update_Related_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Null_Value_Account</targetReference>
            </connector>
            <label>Account Null</label>
        </rules>
        <rules>
            <name>Lead_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Null_Value_Lead</targetReference>
            </connector>
            <label>Lead Null</label>
        </rules>
    </decisions>
    <description>Flow that runs upon creation of an event and after it&apos;s saved to the database</description>
    <environments>Default</environments>
    <interviewLabel>Event - Created - Actions &amp; Related Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event - Created - Actions &amp; Related Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Updates the related Account record</description>
        <name>Update_Related_Account</name>
        <label>Update Related Account</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_Campaign_ID_Last_Touch__c</field>
            <value>
                <elementReference>$Record.Email_Campaign_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the related Lead record</description>
        <name>Update_Related_Lead</name>
        <label>Update Related Lead</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Related_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_Campaign_ID_Last_Touch__c</field>
            <value>
                <elementReference>$Record.Email_Campaign_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the related Account record</description>
        <name>Update_Related_Null_Value_Account</name>
        <label>Update Related Null-Value Account</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email_Campaign_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_Campaign_ID_Last_Touch__c</field>
            <value>
                <elementReference>$Record.Email_Campaign_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Campaign_ID__c</field>
            <value>
                <elementReference>$Record.Email_Campaign_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the related Lead record</description>
        <name>Update_Related_Null_Value_Lead</name>
        <label>Update Related Null-Value Lead</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email_Campaign_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_Campaign_ID_Last_Touch__c</field>
            <value>
                <elementReference>$Record.Email_Campaign_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Campaign_ID__c</field>
            <value>
                <elementReference>$Record.Email_Campaign_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Null_Email_Campaign_ID</targetReference>
        </connector>
        <object>Event</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
