force-app/main/default/flows/Event_Edited_Actions_Related_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>Update Account values if record is marked as Cancelled</description>
        <name>Assign_Cancelled_Account_Variables</name>
        <label>Assign Cancelled Account Variables</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Account.Lead_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1-1 Cancelled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Cancelled_Lead_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns values for the related Lead record</description>
        <name>Assign_Cancelled_Lead_Variables</name>
        <label>Assign Cancelled Lead Variables</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Lead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1-1 Cancelled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_or_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Consulted_Account_Variables</name>
        <label>Assign Consulted Account Variables</label>
        <locationX>710</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Account.X1_1_Attended__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Account.Lead_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewLeadStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Account.Pitched_by_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EventOwnerManagersName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Account.Pitched__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssignedToFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Account.Consulted_By_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssignedToPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Account.Consulted_by_email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssignedToEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Account.Pitched_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_or_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Values we assign if Lead Status is Bad Number or Do Not Call</description>
        <name>Assign_Consulted_Account_Variables_Bad_Number</name>
        <label>Assign Consulted Account Variables (Bad Number)</label>
        <locationX>446</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Account.X1_1_Attended__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Account.Pitched_by_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EventOwnerManagersName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Account.Pitched__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssignedToFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Account.Consulted_By_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssignedToPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Account.Consulted_by_email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssignedToEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Account.Pitched_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_or_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update Account values if record is marked as a No Show</description>
        <name>Assign_No_Show_Account_Variables</name>
        <label>Assign No Show Account Variables</label>
        <locationX>1238</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Account.Lead_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1-1 No Show</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_No_Show_Lead_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns values for the related Lead record</description>
        <name>Assign_No_Show_Lead_Variables</name>
        <label>Assign No Show Lead Variables</label>
        <locationX>1238</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Lead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1-1 No Show</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_or_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Advisory_Date</name>
        <label>Populate Advisory Date</label>
        <locationX>4142</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Account.Advisory_1_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_or_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Puts today&apos;s date in the field</description>
        <name>Populate_Bookkeeping_Advisory_Onboarding_Date</name>
        <label>Populate Bookkeeping Advisory Onboarding Date</label>
        <locationX>2206</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Account.Bookkeeping_Advisory_Onboarding_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_or_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Puts today&apos;s date in the field</description>
        <name>Populate_Bookkeeping_Onboarding_Date</name>
        <label>Populate Bookkeeping Onboarding Date</label>
        <locationX>2734</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Account.Bookkeeping_Onboarding_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_or_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Discovery_Date</name>
        <label>Populate Discovery Date</label>
        <locationX>1678</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Account.Discovery_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_or_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Puts today&apos;s date in the field</description>
        <name>Populate_Payroll_Onboarding_Date</name>
        <label>Populate Payroll Onboarding Date</label>
        <locationX>3438</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Account.Payroll_Onboarding_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_or_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check&apos;s the Account&apos;s Lead Status</description>
        <name>Account_Lead_Status_Check</name>
        <label>Account Lead Status Check</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Assign_Consulted_Account_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Not_Eligible</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>EligibleAccountLeadStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>False</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EligibleLeadLeadStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>False</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Consulted_Account_Variables_Bad_Number</targetReference>
            </connector>
            <label>Status Not Eligible</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the Advisory Date on the Account is NULL</description>
        <name>Advisory_Date_Value_Check</name>
        <label>Advisory Date Value Check</label>
        <locationX>4274</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Populated Advisory Date</defaultConnectorLabel>
        <rules>
            <name>Empty_Advisory_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Advisory_1_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Advisory_Date</targetReference>
            </connector>
            <label>Empty Advisory Date</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if the Bookkeeping Advisory Onboarding Date field is NULL</description>
        <name>Bookkeeping_Advisory_Onboarding_Date_Value_Check</name>
        <label>Bookkeeping Advisory Onboarding Date Value Check</label>
        <locationX>2338</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Populated Bookkeeping Advisory Onboarding Date</defaultConnectorLabel>
        <rules>
            <name>Empty_Bookkeeping_Advisory_Onboarding_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Bookkeeping_Advisory_Onboarding_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Bookkeeping_Advisory_Onboarding_Date</targetReference>
            </connector>
            <label>Empty Bookkeeping Advisory Onboarding Date</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks for the type of Bookkeeping appointment</description>
        <name>Bookkeeping_Appointment_Type</name>
        <label>Bookkeeping Appointment Type</label>
        <locationX>2800</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Lead_or_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bookkeeping_Advisory_Onboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bookkeeping Advisory Onboarding Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bookkeeping_Advisory_Onboarding_Date_Value_Check</targetReference>
            </connector>
            <label>Bookkeeping Advisory Onboarding</label>
        </rules>
        <rules>
            <name>Bookkeeping_Onboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bookkeeping Onboarding Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bookkeeping_Onboarding_Date_Value_Check</targetReference>
            </connector>
            <label>Bookkeeping Onboarding</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if the Bookkeeping Onboarding Date field is NULL</description>
        <name>Bookkeeping_Onboarding_Date_Value_Check</name>
        <label>Bookkeeping Onboarding Date Value Check</label>
        <locationX>2866</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Populated Bookkeeping Onboarding Date</defaultConnectorLabel>
        <rules>
            <name>Empty_Bookkeeping_Onboarding_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Bookkeeping_Onboarding_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Bookkeeping_Onboarding_Date</targetReference>
            </connector>
            <label>Empty Bookkeeping Onboarding Date</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the Discovery Date on the Account is NULL</description>
        <name>Discovery_Date_Value_Check</name>
        <label>Discovery Date Value Check</label>
        <locationX>1810</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Populated Discovery Date</defaultConnectorLabel>
        <rules>
            <name>Empty_Discovery_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Discovery_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Discovery_Date</targetReference>
            </connector>
            <label>Empty Discovery Date</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if the Event is related to a Lead or to an Account</description>
        <name>Lead_or_Account</name>
        <label>Lead or Account</label>
        <locationX>2723</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>Update_Related_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the Lead Status of the Lead record</description>
        <name>Lead_Status_Check_Cancelled</name>
        <label>Lead Status Check Cancelled</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Assign_Cancelled_Account_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Eligible for Update</defaultConnectorLabel>
        <rules>
            <name>Lead_Status_not_Eligible</name>
            <conditionLogic>(1 AND 3) OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>EligibleAccountLeadStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>False</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EligibleLeadLeadStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>False</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <label>Lead Status not Eligible</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the Lead Status of the Lead record</description>
        <name>Lead_Status_Check_No_Show</name>
        <label>Lead Status Check No Show</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Assign_No_Show_Account_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Eligible for Update</defaultConnectorLabel>
        <rules>
            <name>Lead_Status_not_Eligible1</name>
            <conditionLogic>(1 AND 3) OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>EligibleAccountLeadStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>False</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EligibleLeadLeadStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>False</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <label>Lead Status not Eligible</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks for the type of Payroll appointment</description>
        <name>Payroll_Appointment_Type</name>
        <label>Payroll Appointment Type</label>
        <locationX>3768</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Lead_or_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Payroll_Onboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payroll Onboarding Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payroll_Onboarding_Date_Value_Check</targetReference>
            </connector>
            <label>Payroll Onboarding</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if the Payroll Onboarding Date field is NULL</description>
        <name>Payroll_Onboarding_Date_Value_Check</name>
        <label>Payroll Onboarding Date Value Check</label>
        <locationX>3570</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Populated Advisory Date</defaultConnectorLabel>
        <rules>
            <name>Empty_Onboarding_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Payroll_Onboarding_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Payroll_Onboarding_Date</targetReference>
            </connector>
            <label>Empty Onboarding Date</label>
        </rules>
    </decisions>
    <decisions>
        <description>The Primary Disposition of the TSA</description>
        <name>Tax_Savings_Analysis_Disposition</name>
        <label>Tax Savings Analysis Disposition</label>
        <locationX>776</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Lead_or_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancelled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Appointment_Disposition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secondary_Disposition_Details__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Status_Check_Cancelled</targetReference>
            </connector>
            <label>Cancelled</label>
        </rules>
        <rules>
            <name>Consulted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Appointment_Disposition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consulted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secondary_Disposition_Details__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rescheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Lead_Status_Check</targetReference>
            </connector>
            <label>Consulted</label>
        </rules>
        <rules>
            <name>No_Show</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Appointment_Disposition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Show</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Status_Check_No_Show</targetReference>
            </connector>
            <label>No Show</label>
        </rules>
    </decisions>
    <decisions>
        <description>Branch to separate items based on their Type of Appointment</description>
        <name>Type_of_Appointment</name>
        <label>Type of Appointment</label>
        <locationX>2723</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Lead_or_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tax_Savings_Analysis</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_of_Appointment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tax Savings Analysis</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tax_Savings_Analysis_Disposition</targetReference>
            </connector>
            <label>Tax Savings Analysis</label>
        </rules>
        <rules>
            <name>Discovery_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_of_Appointment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discovery Call</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Appointment_Disposition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Discovery_Date_Value_Check</targetReference>
            </connector>
            <label>Discovery Call</label>
        </rules>
        <rules>
            <name>Bookkeeping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_of_Appointment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bookkeeping</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Appointment_Disposition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bookkeeping_Appointment_Type</targetReference>
            </connector>
            <label>Bookkeeping</label>
        </rules>
        <rules>
            <name>Payroll</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_of_Appointment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payroll</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Appointment_Disposition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payroll_Appointment_Type</targetReference>
            </connector>
            <label>Payroll</label>
        </rules>
        <rules>
            <name>Advisory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_of_Appointment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advisory</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Appointment_Disposition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Advisory_Date_Value_Check</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Advisory</label>
        </rules>
    </decisions>
    <description>Flow that runs only upon edit of a record and triggers actions and related records</description>
    <environments>Default</environments>
    <formulas>
        <description>The Email of the Assigned To user</description>
        <name>AssignedToEmail</name>
        <dataType>String</dataType>
        <expression>{!$Record.Owner:User.Email}</expression>
    </formulas>
    <formulas>
        <description>The full name of the Assigned To user</description>
        <name>AssignedToFullName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Owner:User.FirstName}&amp;&apos; &apos;&amp;{!$Record.Owner:User.LastName}</expression>
    </formulas>
    <formulas>
        <description>The Phone Number of the Assigned To user</description>
        <name>AssignedToPhone</name>
        <dataType>String</dataType>
        <expression>{!$Record.Owner:User.Phone}</expression>
    </formulas>
    <formulas>
        <description>Checks existing Lead Status to see if the Lead Status should be updated</description>
        <name>EligibleAccountLeadStatus</name>
        <dataType>String</dataType>
        <expression>CASE({!Get_Related_Account.Lead_Status__c},
&quot;Bad Number&quot;, &quot;False&quot;,
&quot;Do Not Call&quot;, &quot;False&quot;,
&quot;Dupe&quot;, &quot;False&quot;,
&quot;True&quot;)</expression>
    </formulas>
    <formulas>
        <description>Checks existing Lead Status to see if the Lead Status should be updated</description>
        <name>EligibleLeadLeadStatus</name>
        <dataType>String</dataType>
        <expression>CASE({!Get_Related_Lead.Status},
&quot;Bad Number&quot;, &quot;False&quot;,
&quot;Do Not Call&quot;, &quot;False&quot;,
&quot;Dupe&quot;, &quot;False&quot;,
&quot;True&quot;)</expression>
    </formulas>
    <formulas>
        <description>The full name of the Assigned To&apos;s Manager</description>
        <name>EventOwnerManagersName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Owner:User.Manager.FirstName}&amp;&apos; &apos;&amp;{!$Record.Owner:User.Manager.LastName}</expression>
    </formulas>
    <formulas>
        <description>Determines the New Lead Status</description>
        <name>NewLeadStatus</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Secondary_Disposition_Details__c},
&quot;Follow-Up&quot;, &quot;Pitched&quot;,
&quot;Not Interested&quot;, &quot;Not Interested&quot;,
&quot;No Show&quot;, &quot;1-1 No Show&quot;,
&quot;Sale&quot;, &quot;Qualified&quot;,
&quot;Cancelled&quot;, &quot;1-1 Cancelled&quot;,
null)</expression>
    </formulas>
    <formulas>
        <description>Time Stamp for NOW()</description>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Event - Edited - Actions &amp; Related Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event - Edited - Actions &amp; Related Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Account</name>
        <label>Get Related Account</label>
        <locationX>2723</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Lead</name>
        <label>Get Related Lead</label>
        <locationX>2723</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_of_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>2591</locationX>
        <locationY>1439</locationY>
        <inputReference>Get_Related_Lead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the Account related to the Event</description>
        <name>Update_Related_Account</name>
        <label>Update Related Account</label>
        <locationX>2855</locationX>
        <locationY>1439</locationY>
        <inputReference>Get_Related_Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>2597</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Account</targetReference>
        </connector>
        <object>Event</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
