force-app/main/default/flows/Event_Disposition.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Account_Campaign_Reset</name>
        <label>Account Campaign Reset</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>var_Campaign_Values</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Campaign__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Campaign_Last_Touch__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remove_Campaign_SDRLiveTransfer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Event_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Append_Error_on_Subject</name>
        <label>Append Error on Subject</label>
        <locationX>1370</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>GetEvent.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Append_Error_to_Subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_ShowAs_Free</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lead_Campaign_Reset</name>
        <label>Lead Campaign Reset</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>var_Campaign_Values</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Campaign__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Campaign_Last_Touch__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remove_Campaign_SDRLiveTransfer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Event_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Event_Dispositions</name>
        <label>Set Event Dispositions</label>
        <locationX>1194</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>GetEvent.Appointment_Disposition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Disposition_Fields.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetEvent.Secondary_Disposition_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Disposition_Fields.bottomValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Event_Fields</name>
        <label>Set Event Fields</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>GetEvent.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Append_Error_to_Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetEvent.ShowAs</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Free</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Who_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ShowAs_Free</name>
        <label>Set ShowAs Free</label>
        <locationX>1502</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>GetEvent.ShowAs</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Free</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Who_ID</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>constApptSetterProfileId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00ej0000001Fynm</stringValue>
        </value>
    </constants>
    <constants>
        <name>constSDRManagerProfileId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00e3Z000001MmtS</stringValue>
        </value>
    </constants>
    <decisions>
        <description>When client cancels via SMS and SDRs who monitor SMS set Cancelled disposition , it should not be marked with Error.</description>
        <name>Cancelled_by_SMS</name>
        <label>Cancelled by SMS?</label>
        <locationX>1502</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Set_ShowAs_Free</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SMS Cancellation</defaultConnectorLabel>
        <rules>
            <name>SDR_Cancellation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formCancelDueToSMS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Append_Error_on_Subject</targetReference>
            </connector>
            <label>SDR Cancelllation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_or_Account</name>
        <label>Lead or Account?</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Event_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Campaign_Reset</targetReference>
            </connector>
            <label>Lead Event</label>
        </rules>
        <rules>
            <name>Account_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Campaign_Reset</targetReference>
            </connector>
            <label>Account Event</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if Appointment Setter or SDR Manager Cancelled a Live TSA  or Regular TSA or BNA</description>
        <name>SDR_Cancelled_Event_check</name>
        <label>SDR Cancelled Event check</label>
        <locationX>1194</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Update_Who_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancelled_Live_TSA</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>GetEvent.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Live</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetEvent.Type_of_Appointment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tax Savings Analysis</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Disposition_Fields.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constApptSetterProfileId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constSDRManagerProfileId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_or_Account</targetReference>
            </connector>
            <label>Cancelled Live TSA</label>
        </rules>
        <rules>
            <name>Cancelled_TSA</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>GetEvent.Type_of_Appointment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tax Savings Analysis</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Disposition_Fields.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constApptSetterProfileId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constSDRManagerProfileId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Event_Fields</targetReference>
            </connector>
            <label>Cancelled TSA</label>
        </rules>
        <rules>
            <name>Cancelled_BNA</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>GetEvent.Type_of_Appointment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BNA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Disposition_Fields.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constSDRManagerProfileId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constApptSetterProfileId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancelled_by_SMS</targetReference>
            </connector>
            <label>Cancelled BNA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Who_ID</name>
        <label>Update Who ID</label>
        <locationX>1194</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>Set_Event_Dispositions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_to_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead</targetReference>
            </connector>
            <label>Lead to Update</label>
        </rules>
        <rules>
            <name>Account_to_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>Account to Update</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if there are any validation rule errors</description>
        <name>Validation_Errors</name>
        <label>Validation Errors</label>
        <locationX>622</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>SDR_Cancelled_Event_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Clear</defaultConnectorLabel>
        <rules>
            <name>Error</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Cancelled_Disposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Failure_to_Call_Disposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rescheduled_Disposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SDR_Consulted_Disposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rescheduled_Secondary_Disposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>After24Hrs_TsaBnaFormationCalblock</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DispTSA_Consulted_FollowUp_On_Lead</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rejection_Reason_Blank</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Dispostion_Future_TSA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Disp_Changed_From_Rescheduled_Cancelled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Dupe_Sec_Disposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancelled_Rejection_Error</targetReference>
            </connector>
            <label>Error</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the Who ID is a Lead or Contact</description>
        <name>Who_ID</name>
        <label>Who ID</label>
        <locationX>622</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Disposition_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetEvent.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetEvent.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <description>Picklist Values for Rejection Reason</description>
        <name>RejectionReasonPLValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Rejection_Reason__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Error Condition is True if Disposition or Secondary Disposition is changed Later than a Business Day (later than 30 days later for Sales Manager or Role SDR Manager) for TSA BNA Formation Consultation or Calendar Block Appt type.</description>
        <name>After24Hrs_TsaBnaFormationCalblock</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!$User.Department} != &quot;Quality Assurance&quot;,
NOT({!$Permission.Admin_Validation_Rule_Override}),
OR(
ISPICKVAL({!GetEvent.Type_of_Appointment__c}, &apos;Tax Savings Analysis&apos;) ,
ISPICKVAL({!GetEvent.Type_of_Appointment__c}, &apos;Formation Consultation&apos; ),
ISPICKVAL({!GetEvent.Type_of_Appointment__c}, &apos;BNA&apos;) ,
ISPICKVAL({!GetEvent.Type_of_Appointment__c} , &apos;Calendar Block&apos;)
),
/*Error if Disposition field values are changed*/
OR(
TEXT( {!GetEvent.Appointment_Disposition__c}) != {!Disposition_Fields.middleValue} ,
TEXT ({!GetEvent.Secondary_Disposition_Details__c}) != {!Disposition_Fields.bottomValue}
),
/* Error if more than 3 days since Friday or more than 1 day for other days*/
IF(WEEKDAY({!GetEvent.ActivityDate})=6, (TODAY()- {!GetEvent.ActivityDate})&gt;3 , (TODAY()- {!GetEvent.ActivityDate})&gt;1),

/*Exception if User is Sales Manager or SDR Manager and upto a month since event date*/
NOT (AND(
OR(
{!$User.ProfileId} = &apos;00ej0000000mMPU&apos;,
{!$UserRole.Name} = &apos;SDR Manager&apos;
),
(TODAY()-{!GetEvent.ActivityDate} &lt;=30 )
))
)</expression>
    </formulas>
    <formulas>
        <description>Append Subject with “- Error” at the end</description>
        <name>Append_Error_to_Subject</name>
        <dataType>String</dataType>
        <expression>{!GetEvent.Subject}+&apos; - Error&apos;</expression>
    </formulas>
    <formulas>
        <description>Is the Disposition set as &quot;Cancelled?&quot;</description>
        <name>Cancelled_Disposition</name>
        <dataType>Boolean</dataType>
        <expression>IF(
AND(
NOT({!$Profile.Name} = &quot;System Admin&quot;),
NOT({!$Profile.Name} = &quot;SDR Manager&quot;),
NOT({!$Profile.Name} = &quot;Appointment Setter&quot;),
NOT({!$Profile.Name} = &quot;API User&quot;),
NOT({!$Profile.Name} = &quot;System Administrator&quot;) ,
NOT(ISBLANK( {!Disposition_Fields.middleValue} )),
{!Disposition_Fields.middleValue}=&quot;Cancelled&quot;), true, false)</expression>
    </formulas>
    <formulas>
        <description>Error condition is true if Disposition of a TSA is changed from &apos;Rescheduled&apos; or &apos;Cancelled&apos;</description>
        <name>Disp_Changed_From_Rescheduled_Cancelled</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!Disposition_Fields.middleValue} != TEXT({!GetEvent.Appointment_Disposition__c}) ,  /*Disposition is changed*/
ISPICKVAL( {!GetEvent.Type_of_Appointment__c} , &apos;Tax Savings Analysis&apos;),
OR( TEXT({!GetEvent.Appointment_Disposition__c}) = &apos;Rescheduled&apos;,
TEXT({!GetEvent.Appointment_Disposition__c} )= &apos;Cancelled&apos;),  /*Changed from Rescheduled or Cancelled*/

/*Exception - Admins*/
NOT( {!$Permission.Admin_Validation_Rule_Override} )
)</expression>
    </formulas>
    <formulas>
        <description>Error condition is True if a TSA that is more than 5 minutes in future is Dispositioned. Exception - Admins and SDRs</description>
        <name>Dispostion_Future_TSA</name>
        <dataType>Boolean</dataType>
        <expression>AND(
/*Error if a TSA that is more than 5 minutes in future is Dispositioned*/
ISPICKVAL( {!GetEvent.Type_of_Appointment__c} , &apos;Tax Savings Analysis&apos;),
OR(
TEXT( {!GetEvent.Appointment_Disposition__c}) != {!Disposition_Fields.middleValue} ,
TEXT ({!GetEvent.Secondary_Disposition_Details__c}) != {!Disposition_Fields.bottomValue}
),
AND(
{!GetEvent.Appt_Time__c} &gt; NOW(),
{!GetEvent.Appt_Time__c} - NOW()&gt; 5/1440),

/*Exception - Admins, SDR Manager, SDRs */
NOT( {!$Permission.Admin_Validation_Rule_Override}),
NOT( {!$Profile.Name} = &apos;SDR Manager&apos;),
NOT( {!$Profile.Name} = &apos;Appointment Setter&apos;)
)</expression>
    </formulas>
    <formulas>
        <description>Error condition returns true if TSA is Dispositioned as Consulted-Follow up on Lead (Allowed only after lead is converted)</description>
        <name>DispTSA_Consulted_FollowUp_On_Lead</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT({!$Permission.Admin_Validation_Rule_Override}),
OR(
ISPICKVAL({!GetEvent.Type_of_Appointment__c}, &apos;Tax Savings Analysis&apos;),
ISPICKVAL({!GetEvent.Type_of_Appointment__c}, &apos;Formation Consultation&apos;)
),
{!Lead},
{!Disposition_Fields.middleValue} = &quot;Consulted&quot;,
{!Disposition_Fields.bottomValue} = &quot;Follow-Up&quot;
)</expression>
    </formulas>
    <formulas>
        <description>Error condition is true if Secondary Disposition is Dupe (for non Admins)</description>
        <name>Dupe_Sec_Disposition</name>
        <dataType>Boolean</dataType>
        <expression>AND(
OR(
ISPICKVAL( {!GetEvent.Type_of_Appointment__c} , &apos;Tax Savings Analysis&apos;),
ISPICKVAL( {!GetEvent.Type_of_Appointment__c} , &apos;Formation Consultation&apos;),
ISPICKVAL( {!GetEvent.Type_of_Appointment__c} , &apos;BNA&apos;)
),
NOT({!$Permission.Admin_Validation_Rule_Override}),
{!Disposition_Fields.bottomValue} = &apos;Dupe&apos;)</expression>
    </formulas>
    <formulas>
        <description>Error condition is True if the Disposition set to or changed from &quot;Failure to Call?&quot;</description>
        <name>Failure_to_Call_Disposition</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(
OR( {!$Permission.Admin_Validation_Rule_Override},
{!$User.Department} = &apos;Quality Assurance&apos;)),
OR(
/*Event Disposition is set to Failure to call*/
{!Disposition_Fields.middleValue} = &apos;Failure to Call&apos;,
AND (
/* Event disposition is changed from Failure to call*/
TEXT({!GetEvent.Appointment_Disposition__c}) = &apos;Failure to Call&apos;,
TEXT({!GetEvent.Appointment_Disposition__c}) != {!Disposition_Fields.middleValue}
)
))</expression>
    </formulas>
    <formulas>
        <description>Simeon and Terri monitor SMS and Cancel BNAs not assigned to them if a client cancels through SMS</description>
        <name>formCancelDueToSMS</name>
        <dataType>Boolean</dataType>
        <expression>AND(
OR(
{!$User.Id} = &apos;0053Z00000KliM4QAJ&apos;, /*Simeon Graden*/
{!$User.Id} = &apos;005f100000J3WgwAAF&apos;), /* Terri Dwyer*/
{!GetEvent.OwnerId} != {!$User.Id}
)</expression>
    </formulas>
    <formulas>
        <description>Error condition is true if secondary Disposition is &quot;Not Interested&quot; or &quot;Cancelled&quot; and Rejection Reason is blank.</description>
        <name>Rejection_Reason_Blank</name>
        <dataType>Boolean</dataType>
        <expression>AND(
OR(
{!Disposition_Fields.bottomValue} = &quot;Not Interested&quot;,
{!Disposition_Fields.bottomValue} = &quot;Cancelled&quot;
),
OR (
AND ( {!Contact} , ISPICKVAL({!Get_Account.Rejection_Reason__c}, &quot;&quot;) ) , 
AND ( {!Lead},  ISPICKVAL({!Get_Lead.Rejection_Reason__c}, &quot;&quot;) )
)
)</expression>
    </formulas>
    <formulas>
        <description>Returns the string Campaign(Text) with SDR Live Transfer removed - Used in the flow to remove SDR Live Transfer from Campaign field</description>
        <name>Remove_Campaign_SDRLiveTransfer</name>
        <dataType>String</dataType>
        <expression>/* Returns var_Campaign_Values Campaign Picklist text string without &quot;SDR Live Transfer&quot; for lead or account. */
/* Formula below Substitutes &quot;SDR Live Transfer;&quot; (Incase of multiple values) or &quot;SDR Live Transfer&quot; with null*/
IF ( {!Lead} , 
SUBSTITUTE(SUBSTITUTE({!var_Campaign_Values}, &apos;SDR Live Transfer;&apos;, null), &apos;SDR Live Transfer&apos;, null) , 
SUBSTITUTE(SUBSTITUTE({!var_Campaign_Values}, &apos;SDR Live Transfer;&apos;, null), &apos;SDR Live Transfer&apos;, null)
)</expression>
    </formulas>
    <formulas>
        <description>Is the Disposition set as &quot;Rescheduled?&quot;</description>
        <name>Rescheduled_Disposition</name>
        <dataType>Boolean</dataType>
        <expression>IF(
AND(
OR(
ISPICKVAL( {!GetEvent.Type_of_Appointment__c} , &apos;Tax Savings Analysis&apos;),
ISPICKVAL( {!GetEvent.Type_of_Appointment__c} , &apos;Formation Consultation&apos;),
ISPICKVAL( {!GetEvent.Type_of_Appointment__c} , &apos;BNA&apos;)
),
NOT({!$Permission.Admin_Validation_Rule_Override}),
{!Disposition_Fields.middleValue} = &apos;Rescheduled&apos;), true, false)</expression>
    </formulas>
    <formulas>
        <description>Is the Secondary Disposition Rescheduled or Dupe?</description>
        <name>Rescheduled_Secondary_Disposition</name>
        <dataType>Boolean</dataType>
        <expression>IF(
AND(
OR(
ISPICKVAL( {!GetEvent.Type_of_Appointment__c} , &apos;Tax Savings Analysis&apos;),
ISPICKVAL( {!GetEvent.Type_of_Appointment__c} , &apos;Formation Consultation&apos;),
ISPICKVAL( {!GetEvent.Type_of_Appointment__c} , &apos;BNA&apos;)
),
NOT({!$Permission.Admin_Validation_Rule_Override}),
{!Disposition_Fields.bottomValue} = &apos;Rescheduled&apos;
), true, false)</expression>
    </formulas>
    <formulas>
        <description>Is the User an SDR and the Disposition &quot;Consulted?&quot;</description>
        <name>SDR_Consulted_Disposition</name>
        <dataType>Boolean</dataType>
        <expression>IF(
AND(
{!$Profile.Name} = &apos;Appointment Setter&apos;,
{!Disposition_Fields.middleValue} = &apos;Consulted&apos;), true, false)</expression>
    </formulas>
    <interviewLabel>Event Disposition {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event Disposition</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>622</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Disposition_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetEvent.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>358</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Disposition_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetEvent.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetEvent</name>
        <label>GetEvent</label>
        <locationX>622</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Who_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>1194</locationX>
        <locationY>1466</locationY>
        <connector>
            <targetReference>Set_Event_Dispositions</targetReference>
        </connector>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Event</name>
        <label>Update Event</label>
        <locationX>1194</locationX>
        <locationY>1766</locationY>
        <faultConnector>
            <targetReference>Error_Display</targetReference>
        </faultConnector>
        <inputReference>GetEvent</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>930</locationX>
        <locationY>1466</locationY>
        <connector>
            <targetReference>Set_Event_Dispositions</targetReference>
        </connector>
        <inputReference>Get_Lead</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Cancelled_Rejection_Error</name>
        <label>Cancelled Rejection Error</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Fix Error</backButtonLabel>
        <fields>
            <name>Error_Alert_Cancelled</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Error_Alert</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>200</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>200</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Cancelled_Error_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;ERROR:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;You cannot mark this event as &apos;Cancelled.&apos;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Please select an allowed Disposition and try again.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Cancelled_Disposition</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Rescheduled_Error_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;ERROR:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;You cannot mark this event as &apos;Rescheduled.&apos;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Please use the Universal Scheduler to reschedule this appointment﻿.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Rescheduled_Disposition</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Rescheduled_Secondary_Disposition</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Failure_to_Call_Error_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;ERROR:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Only Admins or QA can mark Disposition as or change Disposition from &apos;Failure to Call&apos;.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Please select an allowed Disposition and try again.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Failure_to_Call_Disposition</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SDR_Consulted_Error_Alert</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;ERROR:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;SDRs cannot use the &apos;Consulted&apos; disposition.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Please select an allowed value and try again﻿.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SDR_Consulted_Disposition</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ChangeAfter24Hrs_ErrorText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;ERROR :&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;You cannot change the &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Dispositions for &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;TSA, BNA, Formation or Calendar Block Type after 24 Hrs. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>After24Hrs_TsaBnaFormationCalblock</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Rejection_Reason_Blank_For_NotInterested</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;ERROR :&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Rejection Reason is required when secondary disposition is &apos;Not Interested&apos; or &apos;Cancelled&apos;.  &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Rejection_Reason_Blank</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ErrorMsgTSAConsultedFollowUpOnLead</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;ERROR :&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;You cannot disposition a TSA or Formation Consultation as &apos;Consulted - Follow Up&apos; until the Lead has been converted.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DispTSA_Consulted_FollowUp_On_Lead</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Disposition_future_TSA_Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;ERROR :&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;You cannot &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Disposition a &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;TSA that is in the future. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Dispostion_Future_TSA</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Rescheduled_Cancelled_Changed</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;ERROR :&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;You cannot change the &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Disposition from &apos;Rescheduled&apos; or &apos;Cancelled&apos;&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;. Please exit this Disposition window. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Disp_Changed_From_Rescheduled_Cancelled</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Display_Dupe_Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;ERROR:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Only Admins can mark this event as &apos;Consulted - Dupe&apos;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Dupe_Sec_Disposition</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Disposition_Appointment</name>
        <label>Disposition Appointment</label>
        <locationX>622</locationX>
        <locationY>542</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Validation_Errors</targetReference>
        </connector>
        <fields>
            <name>Disposition_Fields</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Event</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Type_of_Appointment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Appointment_Disposition__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Type of Appointment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Appointment Disposition</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomPicklistApiName</name>
                <value>
                    <stringValue>Secondary_Disposition_Details__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomLabel</name>
                <value>
                    <stringValue>Secondary Disposition Details</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>GetEvent.Type_of_Appointment__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>GetEvent.Appointment_Disposition__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomValue</name>
                <value>
                    <elementReference>GetEvent.Secondary_Disposition_Details__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Lead.Rejection_Reason__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                <conditions>
                    <leftValueReference>Lead</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Disposition_Fields.bottomValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Not Interested</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Disposition_Fields.bottomValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Cancelled</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Account.Rejection_Reason__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                <conditions>
                    <leftValueReference>Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Disposition_Fields.bottomValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Not Interested</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Disposition_Fields.bottomValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Cancelled</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Display</name>
        <label>Error Display</label>
        <locationX>1986</locationX>
        <locationY>1874</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Flow_Fault</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Error_Alert</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>200</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>200</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Display_Error_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>496</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetEvent</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Text variable to hold the values of the Campaign Multi Select Picklist</description>
        <name>var_Campaign_Values</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
