force-app/main/default/flows/Event_Edited_FFU.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>Updates the Prior Owner field</description>
        <name>Update_Prior_Owner_Field</name>
        <label>Update Prior Owner Field</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Prior_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PriorOwnerName</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Runs if the Owner is updated</description>
        <name>Owner_Updated</name>
        <label>Owner Updated?</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_ID_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Prior_Owner_Field</targetReference>
            </connector>
            <label>Owner ID Updated</label>
        </rules>
    </decisions>
    <description>Flow that runs upon edit of an Event and before it&apos;s saved to the database</description>
    <environments>Default</environments>
    <formulas>
        <description>Text string of the Prior Owner&apos;s first and last name</description>
        <name>PriorOwnerName</name>
        <dataType>String</dataType>
        <expression>{!$Record__Prior.Owner:User.FirstName}+&quot; &quot;+{!$Record__Prior.Owner:User.LastName}</expression>
    </formulas>
    <interviewLabel>Event - Created - FFU {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event - Edited - FFU</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Owner_Updated</targetReference>
        </connector>
        <object>Event</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
