force-app/main/default/flows/Event_Cancelled_Disposition_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Account_Campaign_Reset</name>
        <label>Account Campaign Reset</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>var_Campaign_Values</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Campaign__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Campaign_Last_Touch__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remove_Campaign_SDRLiveTransfer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Who_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Append_Error_on_Subject</name>
        <label>Append Error on Subject</label>
        <locationX>314</locationX>
        <locationY>1250</locationY>
        <assignmentItems>
            <assignToReference>Get_Event_Record.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Append_Error_to_Subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Cancelled_and_Free</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lead_Campaign_Reset</name>
        <label>Lead Campaign Reset</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>var_Campaign_Values</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Campaign__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Campaign_Last_Touch__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remove_Campaign_SDRLiveTransfer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Who_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Disposition and Show Time As fields</description>
        <name>Set_Cancelled_and_Free</name>
        <label>Set Cancelled and Free</label>
        <locationX>666</locationX>
        <locationY>1442</locationY>
        <assignmentItems>
            <assignToReference>Get_Event_Record.Appointment_Disposition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Event_Record.ShowAs</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Free</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Event_Record.Secondary_Disposition_Details__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Event</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Lead_or_Account</name>
        <label>Lead or Account?</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Update_Who_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Campaign_Reset</targetReference>
            </connector>
            <label>Lead Event</label>
        </rules>
        <rules>
            <name>Account_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Campaign_Reset</targetReference>
            </connector>
            <label>Account Event</label>
        </rules>
    </decisions>
    <decisions>
        <name>Live_or_Regular_TSA</name>
        <label>Live or Regular TSA?</label>
        <locationX>666</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Set_Cancelled_and_Free</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancel Other Appointments</defaultConnectorLabel>
        <rules>
            <name>Cancel_SDR_Live_TSA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Event_Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Live</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Event_Record.Type_of_Appointment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tax Savings Analysis</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Event_Record.Appointment_Setter_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Development Representative</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_or_Account</targetReference>
            </connector>
            <label>Cancel SDR Live TSA</label>
        </rules>
        <rules>
            <name>Cancel_SDR_Regular_TSA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Event_Record.Type_of_Appointment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tax Savings Analysis</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Event_Record.Appointment_Setter_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Development Representative</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Append_Error_on_Subject</targetReference>
            </connector>
            <label>Cancel SDR Regular TSA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Who_ID</name>
        <label>Update Who ID</label>
        <locationX>314</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Append_Error_on_Subject</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Record</targetReference>
            </connector>
            <label>Update Lead</label>
        </rules>
        <rules>
            <name>Account_to_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Record</targetReference>
            </connector>
            <label>Account to Update</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the Who ID is a Lead or Contact</description>
        <name>Who_ID</name>
        <label>Who ID</label>
        <locationX>666</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Live_or_Regular_TSA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Event_Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Event_Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Append_Error_to_Subject</name>
        <dataType>String</dataType>
        <expression>{!Get_Event_Record.Subject}+&apos; - Error&apos;</expression>
    </formulas>
    <formulas>
        <description>Returns the string Campaign(Text) with SDR Live Transfer removed - Used in the flow to remove SDR Live Transfer from Campaign field</description>
        <name>Remove_Campaign_SDRLiveTransfer</name>
        <dataType>String</dataType>
        <expression>/* Returns var_Campaign_Values Campaign Picklist text string without &quot;SDR Live Transfer&quot; for lead or account. */
/* Formula below Substitutes &quot;SDR Live Transfer;&quot; (Incase of multiple values) or &quot;SDR Live Transfer&quot; with null*/
IF ( {!Lead} , 
SUBSTITUTE(SUBSTITUTE({!var_Campaign_Values}, &apos;SDR Live Transfer;&apos;, null), &apos;SDR Live Transfer&apos;, null) , 
SUBSTITUTE(SUBSTITUTE({!var_Campaign_Values}, &apos;SDR Live Transfer;&apos;, null), &apos;SDR Live Transfer&apos;, null)
)</expression>
    </formulas>
    <interviewLabel>Event - Cancel Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event - Cancelled Disposition Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>666</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Live_or_Regular_TSA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Event_Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Event_Record</name>
        <label>Get Event Record</label>
        <locationX>666</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Who_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>402</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Live_or_Regular_TSA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Event_Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Record</name>
        <label>Update Account Record</label>
        <locationX>314</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Append_Error_on_Subject</targetReference>
        </connector>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Event</name>
        <label>Update Event</label>
        <locationX>666</locationX>
        <locationY>1550</locationY>
        <connector>
            <targetReference>Display_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Display</targetReference>
        </faultConnector>
        <inputReference>Get_Event_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Record</name>
        <label>Update Lead Record</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Append_Error_on_Subject</targetReference>
        </connector>
        <inputReference>Get_Lead</inputReference>
    </recordUpdates>
    <screens>
        <name>Display_Success</name>
        <label>Display Success</label>
        <locationX>666</locationX>
        <locationY>1658</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Logo</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Display_Success_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_Success_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UpdateSuccess</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Disposition is set as Cancelled and related fields have been updated successfully! &lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Display</name>
        <label>Error Display</label>
        <locationX>1194</locationX>
        <locationY>1658</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Event_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Text variable to hold the values of the Campaign Multi Select Picklist</description>
        <name>var_Campaign_Values</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
