force-app/main/default/flows/Joshua_V2_Messaging_Session_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>Sets the outputForBot to the userInput passed into the flow.</description>
        <name>SetInputToOutput</name>
        <label>Set Input to Output</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Get_Messaging_Session.Case_Record_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseRecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Messaging_Session.Case_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Messaging_Session.Case_Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseSubType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Messaging_Session.Case_Sub_Type_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseSubTypeCat</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Messaging_Session.Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Messaging_Session.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Messaging_Session.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Messaging_Session.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Messaging_Session.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Messaging_Session</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Einstein Bots - Make User Input Available to Bot {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Joshua V2 Messaging Session Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the current messaging session.</description>
        <name>Get_Messaging_Session</name>
        <label>Get Messaging Session</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetInputToOutput</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Messaging_Session</name>
        <label>Update Messaging Session</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <inputReference>Get_Messaging_Session</inputReference>
    </recordUpdates>
    <sourceTemplate>einsteinbot__EchoValue</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Messaging_Session</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseSubType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseSubTypeCat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>clientEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>firstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores text provided by the user that&apos;s passed into the flow.</description>
        <name>userInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
