force-app/main/default/flows/Launch_Guided_Selling.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Business_and_Business_Owner</name>
        <label>Create Business and Business Owner</label>
        <locationX>1168</locationX>
        <locationY>1885</locationY>
        <actionName>LaunchGuidedSellingInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Visual_Presentation_Link_Values</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Type</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Create business and business owner</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LaunchGuidedSellingInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Business_and_Business_Owner_0</name>
        <label>Create Business and Business Owner</label>
        <locationX>1465</locationX>
        <locationY>2206</locationY>
        <actionName>LaunchGuidedSellingInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Visual_Presentation_Link_Values</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Type</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Create business and business owner</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LaunchGuidedSellingInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Primary_Email_Address</name>
        <label>Get Primary Email Address</label>
        <locationX>1317</locationX>
        <locationY>765</locationY>
        <actionName>LaunchGuidedSellingInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_there_an_Event_scheduled</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Type</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LaunchGuidedSellingInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Site_URL</name>
        <label>Get Site URL</label>
        <locationX>1317</locationX>
        <locationY>626</locationY>
        <actionName>GetSiteUrlInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Primary_Email_Address</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Type</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>GetSiteUrlInvocable</nameSegment>
        <outputParameters>
            <assignToReference>siteBaseUrl</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Open_Guided_Selling_Link</name>
        <label>Open Guided Selling Link</label>
        <locationX>1316</locationX>
        <locationY>2688</locationY>
        <actionName>c:fsc_openUrl</actionName>
        <actionType>component</actionType>
        <faultConnector>
            <targetReference>Error_Type</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>VisualPresentationRepLinkForm</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:fsc_openUrl</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>1465</locationX>
        <locationY>2067</locationY>
        <actionName>LaunchGuidedSellingInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Business_and_Business_Owner_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Type</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Send Email</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>controllerToken</name>
            <value>
                <elementReference>Get_Primary_Email_Address.controllerToken</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Additional_Emails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>presentationToken</name>
            <value>
                <elementReference>Get_Primary_Email_Address.presentationToken</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendToPrimaryEmail</name>
            <value>
                <elementReference>Send_Email_To</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sessionId</name>
            <value>
                <elementReference>Get_Primary_Email_Address.sessionId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LaunchGuidedSellingInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <description>Sets the Visual Presentation Link values</description>
        <name>Assign_Visual_Presentation_Link_Values</name>
        <label>Assign Visual Presentation Link Values</label>
        <locationX>1163</locationX>
        <locationY>2205</locationY>
        <assignmentItems>
            <assignToReference>Requery_Event.Visual_Presentation_Client_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VisualPresentationClientLinkForm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Requery_Event.Visual_Presentation_Rep_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VisualPresentationRepLinkForm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Event_with_URLs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Lead Owner to match the Event Lead Owner</description>
        <name>Set_Lead_Owner</name>
        <label>Set Lead Owner</label>
        <locationX>1295</locationX>
        <locationY>229</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Lead.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Event_Details.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Lead.VR_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Toggle_Lead_VR_Override</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns a new What ID value for the Event</description>
        <name>Update_What_ID</name>
        <label>Update What ID</label>
        <locationX>918</locationX>
        <locationY>1761</locationY>
        <assignmentItems>
            <assignToReference>Requery_Event.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Open_Opps_Owned_by_Event_Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_What_ID2</name>
        <label>Update What ID</label>
        <locationX>1218</locationX>
        <locationY>1640</locationY>
        <assignmentItems>
            <assignToReference>Requery_Event.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_new_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Event</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Are_we_sending_emails</name>
        <label>Are we sending emails</label>
        <locationX>1450</locationX>
        <locationY>1881</locationY>
        <defaultConnector>
            <targetReference>Create_Business_and_Business_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Send Emails</defaultConnectorLabel>
        <rules>
            <name>Email_need_to_be_sent</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Send_Email_To</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Add_Additional_Email_Addresses</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email</targetReference>
            </connector>
            <label>Email need to be sent</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if the Current User is the Event Owner or an Admin</description>
        <name>Check_Event_Owner</name>
        <label>Check Event Owner</label>
        <locationX>708</locationX>
        <locationY>71</locationY>
        <defaultConnector>
            <targetReference>Current_User_is_Not_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Current User is Not Owner</defaultConnectorLabel>
        <rules>
            <name>Current_User_is_Admin_Or_Owner</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Alias</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Event_Details.Owner:User.Alias</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>System</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Related_to_Lead</targetReference>
            </connector>
            <label>Current User is Admin Or Owner</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if the Opportunity has an existing Quote</description>
        <name>Clean_Opportunity</name>
        <label>Clean Opportunity?</label>
        <locationX>1640</locationX>
        <locationY>1444</locationY>
        <defaultConnector>
            <targetReference>Are_we_sending_emails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Related Quote</defaultConnectorLabel>
        <rules>
            <name>Opp_Has_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Opportunity_Details.HasOpportunityLineItem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Open_Opps_Owned_by_Event_Owner</targetReference>
            </connector>
            <label>Opp Has Quote</label>
        </rules>
    </decisions>
    <decisions>
        <name>Error_Type</name>
        <label>Error Type</label>
        <locationX>2325</locationX>
        <locationY>1386</locationY>
        <defaultConnector>
            <targetReference>Default_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Duplicate Record</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_Detected</targetReference>
            </connector>
            <label>Duplicate Error</label>
        </rules>
        <rules>
            <name>Quote_Exists_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>errorQuoteExistException</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_Exists_Error_Screen</targetReference>
            </connector>
            <label>Quote Exists Error</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if the Related To on the Event is an Opportunity</description>
        <name>Event_Related_To_Opportunity</name>
        <label>Event Related To Opportunity?</label>
        <locationX>907</locationX>
        <locationY>1221</locationY>
        <defaultConnector>
            <targetReference>Get_Open_Opps_Owned_by_Event_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Related to Other</defaultConnectorLabel>
        <rules>
            <name>Related_to_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Requery_Event.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Opportunity_Details</targetReference>
            </connector>
            <label>Related to Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the Event is related to a Lead</description>
        <name>Is_Related_to_Lead</name>
        <label>Is Related to Lead?</label>
        <locationX>709</locationX>
        <locationY>387</locationY>
        <defaultConnector>
            <targetReference>Get_Site_URL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Related to Lead</defaultConnectorLabel>
        <rules>
            <name>Event_Related_to_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Event_Details.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Lead</targetReference>
            </connector>
            <label>Event Related to Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_an_Event_scheduled</name>
        <label>Is there an Event scheduled?</label>
        <locationX>906</locationX>
        <locationY>768</locationY>
        <defaultConnector>
            <targetReference>Send_Email_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>There is an Event</defaultConnectorLabel>
        <rules>
            <name>There_is_not_an_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Primary_Email_Address.schedulerUrl</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Scheduler_Link</targetReference>
            </connector>
            <label>There is not an Event</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if the Lead Owner is the same User as the Event Owner</description>
        <name>Lead_Owner_Matches_Event_Owner</name>
        <label>Lead Owner Matches Event Owner?</label>
        <locationX>1084</locationX>
        <locationY>233</locationY>
        <defaultConnector>
            <targetReference>Get_Site_URL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Owner Matches</defaultConnectorLabel>
        <rules>
            <name>Owner_Doesn_t_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Event_Details.Owner:User.Alias</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Related_Lead.Owner:User.Alias</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lead_Owner</targetReference>
            </connector>
            <label>Owner Doesn&apos;t Match</label>
        </rules>
    </decisions>
    <decisions>
        <description>Are there any Open opps that are owned by the User?</description>
        <name>Open_Opps</name>
        <label>Open Opps?</label>
        <locationX>907</locationX>
        <locationY>1580</locationY>
        <defaultConnector>
            <targetReference>Update_What_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Open Opp</defaultConnectorLabel>
        <rules>
            <name>No_Open_Opps</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Opps_Owned_by_Event_Owner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_new_Opportunity</targetReference>
            </connector>
            <label>No Open Opps</label>
        </rules>
    </decisions>
    <decisions>
        <description>Who owns the related Opportunity?</description>
        <name>Opportunity_Owned_by_TSA_Owner</name>
        <label>Opportunity Owned by TSA Owner?</label>
        <locationX>1640</locationX>
        <locationY>1228</locationY>
        <defaultConnector>
            <targetReference>Clean_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Same Owner</defaultConnectorLabel>
        <rules>
            <name>Opp_Owner_Not_Same_as_TSA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Opportunity_Details.Owner.Alias</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Requery_Event.Owner:User.Alias</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Open_Opps_Owned_by_Event_Owner</targetReference>
            </connector>
            <label>Opp Owner Not Same as TSA</label>
        </rules>
    </decisions>
    <description>Updated flow logic that ends with an automatic redirect to Guided Selling</description>
    <environments>Default</environments>
    <formulas>
        <description>Today&apos;s Date</description>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>Toggle_Lead_VR_Override</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!Get_Related_Lead.VR_Override__c})</expression>
    </formulas>
    <formulas>
        <name>Trimmed_Duplicate_Error</name>
        <dataType>String</dataType>
        <expression>RIGHT({!$Flow.FaultMessage}, LEN({!$Flow.FaultMessage})-77)</expression>
    </formulas>
    <formulas>
        <name>VisualPresentationClientLinkForm</name>
        <dataType>String</dataType>
        <expression>{!siteBaseUrl}+&quot;/Client?rId=&quot;+{!recordId}+&quot;&amp;session=&quot;+{!Get_Primary_Email_Address.sessionId}+&quot;&amp;token=&quot;+{!Get_Primary_Email_Address.presentationToken}</expression>
    </formulas>
    <formulas>
        <name>VisualPresentationRepLinkForm</name>
        <dataType>String</dataType>
        <expression>{!siteBaseUrl}+&quot;/Sales?rId=&quot;+{!recordId}+&quot;&amp;sessionId=&quot;+{!Get_Primary_Email_Address.sessionId}+&quot;&amp;token=&quot;+{!Get_Primary_Email_Address.controllerToken}+&quot;&amp;pToken=&quot;+{!Get_Primary_Email_Address.presentationToken}</expression>
    </formulas>
    <interviewLabel>Launch Guided Selling {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Launch Guided Selling</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_new_Opportunity</name>
        <label>Create new Opportunity</label>
        <locationX>1112</locationX>
        <locationY>1573</locationY>
        <connector>
            <targetReference>Update_What_ID2</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Requery_Event.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Requery_Event.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Requery_Event.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Event_Details</name>
        <label>Get Event Details</label>
        <locationX>508</locationX>
        <locationY>72</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Event_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets Open Opportunities owned by the Event Owner</description>
        <name>Get_Open_Opps_Owned_by_Event_Owner</name>
        <label>Get Open Opps Owned by Event Owner</label>
        <locationX>915</locationX>
        <locationY>1433</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_Opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Requery_Event.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Requery_Event.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HasOpportunityLineItem</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Lead</name>
        <label>Get Related Lead</label>
        <locationX>938</locationX>
        <locationY>231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Owner_Matches_Event_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Event_Details.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets info for the related Opportunity</description>
        <name>Get_Related_Opportunity_Details</name>
        <label>Get Related Opportunity Details</label>
        <locationX>1166</locationX>
        <locationY>1218</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Owned_by_TSA_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Requery_Event.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Checks the Event after a conversion event</description>
        <name>Requery_Event</name>
        <label>Requery Event</label>
        <locationX>916</locationX>
        <locationY>1099</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Event_Related_To_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the Related To on the Event</description>
        <name>Update_Event</name>
        <label>Update Event</label>
        <locationX>1162</locationX>
        <locationY>1759</locationY>
        <connector>
            <targetReference>Forgot_to_Update_Opp</targetReference>
        </connector>
        <inputReference>Requery_Event</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Event_with_URLs</name>
        <label>Update Event with URLs</label>
        <locationX>1163</locationX>
        <locationY>2409</locationY>
        <connector>
            <targetReference>Open_Guided_Selling_Link</targetReference>
        </connector>
        <inputReference>Requery_Event</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the Lead Owner to be the same User as the Event</description>
        <name>Update_Lead_Owner</name>
        <label>Update Lead Owner</label>
        <locationX>1451</locationX>
        <locationY>229</locationY>
        <connector>
            <targetReference>Lead_Updated</targetReference>
        </connector>
        <inputReference>Get_Related_Lead</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Client_Link</name>
        <label>Client Link</label>
        <locationX>919</locationX>
        <locationY>2572</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>LaunchProcess</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;{!siteBaseUrl}/Sales?rId={!recordId}&amp;amp;sessionId={!Get_Primary_Email_Address.sessionId}&amp;amp;token={!Get_Primary_Email_Address.controllerToken}&amp;amp;pToken={!Get_Primary_Email_Address.presentationToken}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 24px;&quot;&gt;&lt;strong&gt;Launch Tax Savings Analysis Presentation&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>client_link_display</name>
            <fieldText>&lt;p&gt;Client Link: {!VisualPresentationClientLinkForm}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>rep_link_display</name>
            <fieldText>&lt;p&gt;Rep link: {!VisualPresentationRepLinkForm}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EmailMessage</name>
            <fieldText>&lt;p&gt;{!Send_Email.response}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Current_User_is_Not_Owner</name>
        <label>Current User is Not Owner</label>
        <locationX>1010</locationX>
        <locationY>69</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Not_Owner_Error_Alert</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Error_Alert</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>200</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>200</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Current_User_is_Not_Owner_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Current_User_is_Not_Owner_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Owner_Error_Explain</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(67, 83, 96);&quot;&gt;ERROR:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(67, 83, 96);&quot;&gt;Only the Owner of an Event or a System Admin can launch Guided Selling. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Current_User_is_Not_Owner_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Current_User_is_Not_Owner_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Default_Error_Screen</name>
        <label>Default Error Screen</label>
        <locationX>2774</locationX>
        <locationY>1561</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Logo_Fault</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Error_Alert</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>150</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>150</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Default_Error_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Default_Error_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Generic_Error_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;An error has occurred that prevents Guided Selling from launching. Please try again, and if the error continues give the following information to your admin:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FaultMessage1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Default_Error_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Default_Error_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Scheduler_Link</name>
        <label>Display Scheduler Link</label>
        <locationX>655</locationX>
        <locationY>766</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Logo_No_TSA</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Error_Alert</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>200</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>200</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Display_Scheduler_Link_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_Scheduler_Link_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Blank_Text1</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DisplaySchedulerLinkText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px; color: rgb(67, 83, 96);&quot;&gt;There is no TSA Event scheduled for today related to this object.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(67, 83, 96);&quot;&gt;To schedule one, follow this link and then relaunch the process: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!Get_Primary_Email_Address.schedulerUrl}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; color: rgb(67, 83, 96);&quot;&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/a&gt;&lt;a href=&quot;{!Get_Primary_Email_Address.schedulerUrl}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; color: rgb(0, 141, 255);&quot;&gt;&lt;strong&gt;{!Get_Primary_Email_Address.schedulerUrl}&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Scheduler_Link_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_Scheduler_Link_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Blank_Text2</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Duplicate_Detected</name>
        <label>Duplicate Detected</label>
        <locationX>2774</locationX>
        <locationY>1158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Duplicate_Error_Image</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Error_Alert</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>150</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>150</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Duplicate_Detected_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Duplicate_Detected_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Duplicate_Error_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;The lead associated with this event cannot be converted because a duplicate record was detected.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Duplicate_Error_message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!Trimmed_Duplicate_Error}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Duplicate_Detected_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Duplicate_Detected_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Forgot_to_Update_Opp</name>
        <label>Forgot_to_Update_Opp</label>
        <locationX>1293</locationX>
        <locationY>1760</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Are_we_sending_emails</targetReference>
        </connector>
        <fields>
            <name>Logo_Forgot_Opp</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Forgot_to_Update_Opp_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Forgot_to_Update_Opp_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Forgot_Opp</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 24px; color: rgb(52, 83, 96);&quot;&gt;You forgot to either create an Opportunity or link the Opportunity to the TSA, but we fixed that for you and connected the TSA to an Opportunity.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 24px; color: rgb(52, 83, 96);&quot;&gt;Click &quot;Next&quot; to continue.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Forgot_to_Update_Opp_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Forgot_to_Update_Opp_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Lead_Updated</name>
        <label>Lead_Updated</label>
        <locationX>1452</locationX>
        <locationY>436</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Site_URL</targetReference>
        </connector>
        <fields>
            <name>Logo_Lead_Updated</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Lead_Updated_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Lead_Updated_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Lead_Updated_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Lead_Updated_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Forgot_to_Update_Lead</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 24px; color: rgb(67, 83, 96);&quot;&gt;We just made you the owner of the lead.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 24px; color: rgb(67, 83, 96);&quot;&gt;Click &quot;Next&quot; to continue.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Lead_Updated_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Lead_Updated_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Quote_Exists_Error_Screen</name>
        <label>Quote Exists Error Screen</label>
        <locationX>2769</locationX>
        <locationY>1398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Quote_Error_Image</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Error_Alert</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>150</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>150</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Quote_Exists_Error_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Quote_Exists_Error_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Quote_Error_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;There is a Quote already created for the Opportunity. Please go to the Opportunity page and click the Update Quote button.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Quote_Exists_Error_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Quote_Exists_Error_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Send_Email_Screen</name>
        <label>Send Email Screen</label>
        <locationX>915</locationX>
        <locationY>971</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Requery_Event</targetReference>
        </connector>
        <fields>
            <name>Logo_Client_Link</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Send_Email_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Send_Email_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Blank_Text5</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ClientLink</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(67, 83, 96);&quot;&gt;﻿Client Link:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!siteBaseUrl}/Client?rId={!recordId}&amp;amp;session={!Get_Primary_Email_Address.sessionId}&amp;amp;token={!Get_Primary_Email_Address.presentationToken}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!siteBaseUrl}/Client?rId={!recordId}&amp;amp;session={!Get_Primary_Email_Address.sessionId}&amp;amp;token={!Get_Primary_Email_Address.presentationToken}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Send_Email_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Send_Email_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Blank_Text7</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Send_Email_To</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Send Email To {!Get_Primary_Email_Address.primaryEmail}</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Add_Additional_Email_Addresses</name>
            <dataType>Boolean</dataType>
            <fieldText>Add Additional Email Addresses</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Additional_Emails</name>
            <fieldText>Additional Emails</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Please enter additional email addresses in a comma separated list.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Add_Additional_Email_Addresses</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Send_Email_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Send_Email_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Blank_Text6</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>90</locationX>
        <locationY>131</locationY>
        <connector>
            <targetReference>Get_Event_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Opportunities owned by the same User</description>
        <name>OpportunityIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>siteBaseUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VisualPresentationClientLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{!siteBaseUrl}/Client?rId={!recordId}&amp;session={!Get_Primary_Email_Address.sessionId}&amp;token={!Get_Primary_Email_Address.presentationToken}</stringValue>
        </value>
    </variables>
    <variables>
        <name>VisualPresentationRepLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{!siteBaseUrl}/Sales?rId={!recordId}&amp;sessionId={!Get_Primary_Email_Address.sessionId}&amp;token={!Get_Primary_Email_Address.controllerToken}&amp;pToken={!Get_Primary_Email_Address.presentationToken}</stringValue>
        </value>
    </variables>
</Flow>
