force-app/main/default/flows/Launch_Guided_Selling.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Business_and_Business_Owner</name>
        <label>Create Business and Business Owner</label>
        <locationX>385</locationX>
        <locationY>988</locationY>
        <actionName>LaunchGuidedSellingInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Client_Link</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Create business and business owner</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Business_and_Business_Owner_0</name>
        <label>Create Business and Business Owner</label>
        <locationX>748</locationX>
        <locationY>1037</locationY>
        <actionName>LaunchGuidedSellingInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Client_Link</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Create business and business owner</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Primary_Email_Address</name>
        <label>Get Primary Email Address</label>
        <locationX>1018</locationX>
        <locationY>489</locationY>
        <actionName>LaunchGuidedSellingInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_there_an_Event_scheduled</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen_1</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Site_URL</name>
        <label>Get Site URL</label>
        <locationX>989</locationX>
        <locationY>266</locationY>
        <actionName>GetSiteUrlInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Primary_Email_Address</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <outputParameters>
            <assignToReference>siteBaseUrl</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>965</locationX>
        <locationY>1090</locationY>
        <actionName>LaunchGuidedSellingInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Business_and_Business_Owner_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen_1</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Send Email</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>controllerToken</name>
            <value>
                <elementReference>Get_Primary_Email_Address.controllerToken</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Additional_Emails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>presentationToken</name>
            <value>
                <elementReference>Get_Primary_Email_Address.presentationToken</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sessionId</name>
            <value>
                <elementReference>Get_Primary_Email_Address.sessionId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <choices>
        <name>Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Are_we_sending_emails</name>
        <label>Are we sending emails</label>
        <locationX>774</locationX>
        <locationY>786</locationY>
        <defaultConnector>
            <targetReference>Create_Business_and_Business_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Send Emails</defaultConnectorLabel>
        <rules>
            <name>Email_need_to_be_sent</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Send_Email_To</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Add_Additional_Email_Addresses</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email</targetReference>
            </connector>
            <label>Email need to be sent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_an_Event_scheduled</name>
        <label>Is there an Event scheduled?</label>
        <locationX>683</locationX>
        <locationY>624</locationY>
        <defaultConnector>
            <targetReference>Send_Email_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>There is an Event</defaultConnectorLabel>
        <rules>
            <name>There_is_not_an_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Primary_Email_Address.schedulerUrl</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Scheduler_Link</targetReference>
            </connector>
            <label>There is not an Event</label>
        </rules>
    </decisions>
    <description>Creating business and business owner in this process</description>
    <environments>Default</environments>
    <interviewLabel>Launch Guided Selling {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Launch Guided Selling</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Client_Link</name>
        <label>Client Link</label>
        <locationX>597</locationX>
        <locationY>1157</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>LaunchProcess</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;{!siteBaseUrl}/Sales?rId={!recordId}&amp;amp;sessionId={!Get_Primary_Email_Address.sessionId}&amp;amp;token={!Get_Primary_Email_Address.controllerToken}&amp;amp;pToken={!Get_Primary_Email_Address.presentationToken}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 24px;&quot;&gt;&lt;strong&gt;Launch Tax Savings Analysis Presentation&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EmailMessage</name>
            <fieldText>&lt;p&gt;{!Send_Email.response}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Scheduler_Link</name>
        <label>Display Scheduler Link</label>
        <locationX>457</locationX>
        <locationY>824</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplaySchedulerLinkText</name>
            <fieldText>&lt;p&gt;There was no TSA Event scheduled for today related to this object. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To schedule one, follow this link and then relaunch the process: &lt;a href=&quot;{!Get_Primary_Email_Address.schedulerUrl}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Get_Primary_Email_Address.schedulerUrl}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen_1</name>
        <label>Fault Screen 1</label>
        <locationX>1405</locationX>
        <locationY>612</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultMessage1</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Send_Email_Screen</name>
        <label>Send Email Screen</label>
        <locationX>1025</locationX>
        <locationY>756</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Are_we_sending_emails</targetReference>
        </connector>
        <fields>
            <name>ClientLink</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;﻿Client Link:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!siteBaseUrl}/Client?rId={!recordId}&amp;amp;session={!Get_Primary_Email_Address.sessionId}&amp;amp;token={!Get_Primary_Email_Address.presentationToken}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!siteBaseUrl}/Client?rId={!recordId}&amp;amp;session={!Get_Primary_Email_Address.sessionId}&amp;amp;token={!Get_Primary_Email_Address.presentationToken}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Send_Email_To</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Send Email To {!Get_Primary_Email_Address.primaryEmail}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Add_Additional_Email_Addresses</name>
            <dataType>Boolean</dataType>
            <fieldText>Add Additional Email Addresses</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Additional_Emails</name>
            <fieldText>Additional Emails</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Please enter additional email addresses in a comma separated list.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Add_Additional_Email_Addresses</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>503</locationX>
        <locationY>229</locationY>
        <connector>
            <targetReference>Get_Site_URL</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>siteBaseUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
