force-app/main/default/flows/Launch_Guided_Discovery.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Open_Rep_Link</name>
        <label>Open Rep Link</label>
        <locationX>578</locationX>
        <locationY>1598</locationY>
        <actionName>c:fsc_openUrl</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>Get_Event.Visual_Presentation_Rep_Link__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:fsc_openUrl</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Business_Account_IDs</name>
        <label>Assign Business Account IDs</label>
        <locationX>666</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>BusinessAccountIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Business_Account_IDs.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Business_Account_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Business_Accounts</name>
        <label>Count Business Accounts</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>CountofBusinessAccounts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Account_Contact_Relationships</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Number_of_Businesses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the selected Business Account ID to a variable</description>
        <name>Selected_Business_Account_ID</name>
        <label>Selected Business Account ID</label>
        <locationX>578</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>SelectedBusinessAccountID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Account_Selection.outputSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Event.Visual_Presentation_Client_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewVisualPresentationClientLinkURL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Event.Visual_Presentation_Rep_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewVisualPresentationRepLinkURL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Business Account ID to the Event</description>
        <name>Set_Business_Account_ID</name>
        <label>Set Business Account ID</label>
        <locationX>842</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>SelectedBusinessAccountID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Single_Business_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Event.Visual_Presentation_Client_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewVisualPresentationClientLinkURL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Event.Visual_Presentation_Rep_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewVisualPresentationRepLinkURL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Event</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks for the number of related businesses to the Account</description>
        <name>Check_Number_of_Businesses</name>
        <label>Check Number of Businesses</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Get_Single_Business_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>1 Business</defaultConnectorLabel>
        <rules>
            <name>No_Businesses</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountofBusinessAccounts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Business_Warning</targetReference>
            </connector>
            <label>No Businesses</label>
        </rules>
        <rules>
            <name>X2_Businesses</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountofBusinessAccounts</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Multiple_Businesses</targetReference>
            </connector>
            <label>2+ Businesses</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if the Visual Presentation - Rep Link field is populated or not</description>
        <name>Is_Rep_Link_Missing</name>
        <label>Is Rep Link Missing?</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Parent_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rep Link Populated</defaultConnectorLabel>
        <rules>
            <name>Empty_Rep_Link</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Event.Visual_Presentation_Rep_Link__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Rep_Link_Warning</targetReference>
            </connector>
            <label>Empty Rep Link</label>
        </rules>
    </decisions>
    <description>A screen flow that launches the Guided Discovery flow</description>
    <environments>Default</environments>
    <formulas>
        <description>Assembles the new Client Link URL</description>
        <name>NewVisualPresentationClientLinkURL</name>
        <dataType>String</dataType>
        <expression>&quot;&quot;+{!Get_Event.Visual_Presentation_Client_Link__c}+&quot;/&quot;+{!SelectedBusinessAccountID}</expression>
    </formulas>
    <formulas>
        <description>Creates the new Rep Link</description>
        <name>NewVisualPresentationRepLinkURL</name>
        <dataType>String</dataType>
        <expression>&quot;&quot;+{!Get_Event.Visual_Presentation_Rep_Link__c}+&quot;/&quot;+{!SelectedBusinessAccountID}</expression>
    </formulas>
    <interviewLabel>Launch Guided Discovery {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Launch Guided Discovery</label>
    <loops>
        <description>Gets the Account ID values for the Business Accounts</description>
        <name>Get_Business_Account_IDs</name>
        <label>Get Business Account IDs</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Account_Contact_Relationships</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Business_Account_IDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Business_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Gets the related Account Contact Relationships for the Contact</description>
        <name>Get_Account_Contact_Relationships</name>
        <label>Get Account Contact Relationships</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Business_Account_IDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Event.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDirect</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Business_Accounts</name>
        <label>Get Business Accounts</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Business_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>BusinessAccountIDs</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Event record details</description>
        <name>Get_Event</name>
        <label>Get Event</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Rep_Link_Missing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Account</name>
        <label>Get Parent Account</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Contact_Relationships</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Event.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Single_Business_Account</name>
        <label>Get Single Business Account</label>
        <locationX>842</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Business_Account_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>BusinessAccountIDs</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Event</name>
        <label>Update Event</label>
        <locationX>578</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>Open_Rep_Link</targetReference>
        </connector>
        <inputReference>Get_Event</inputReference>
    </recordUpdates>
    <screens>
        <name>Multiple_Businesses</name>
        <label>Multiple Businesses</label>
        <locationX>578</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Selected_Business_Account_ID</targetReference>
        </connector>
        <fields>
            <name>Logo_Multiple_Businesses</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Multiple_Businesses_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Multiple_Businesses_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Blank_Text4</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Multiple_Business_Explain</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Brand_Style_Start_H1} This client has multiple Businesses {!Brand_Style_Close}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Brand_Style_Start_H2}﻿Please select the Business to use for the Guided Discovery appointment {!Brand_Style_Close}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Multiple_Businesses_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Multiple_Businesses_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Blank_Text5</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Multiple_Businesses_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Multiple_Businesses_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Business_Account_Selection</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Business_Accounts</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Name,CreatedDate</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Name:844, CreatedDate:1000</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>singleRowSelection</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_tableBorder</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableBorder</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Multiple_Businesses_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Launch Guided Discovery</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Business_Warning</name>
        <label>No Business Warning</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Logo_No_Businesses</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>No_Business_Warning_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>No_Business_Warning_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Blank_Text</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>No_Business_Explain</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Brand_Style_Start_H1}This client doesn&apos;t have any related Businesses. {!Brand_Style_Close}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Brand_Style_Start_H1}Before Guided Discovery can be launched, they need to first login to the Client Portal to automatically create their first Business. {!Brand_Style_Close}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Brand_Style_Start_H1}Once the client has successfully logged in, try again. {!Brand_Style_Close}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>No_Business_Warning_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>No_Business_Warning_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Blank_Text1</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Rep_Link_Warning</name>
        <label>No Rep Link Warning</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Logo_No_Rep_Link</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>No_Rep_Link_Warning_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>No_Rep_Link_Warning_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Blank_Text2</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>No_Rep_Link_Explain</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Brand_Style_Start_H1}Guided Discovery cannot be launched from Salesforce for this Account. {!Brand_Style_Close}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Brand_Style_Start_H1}Please launch the Accountant Portal and launch Guided Discovery from the Discovery Appointment. {!Brand_Style_Close}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>No_Rep_Link_Warning_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>No_Rep_Link_Warning_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Blank_Text3</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Event</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Closes all font styling</description>
        <name>Brand_Style_Close</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Used for page headers</description>
        <name>Brand_Style_Start_H1</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p style = &apos;font-size:24px;color:#435360;font-weight:bold;&apos;&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Used for first level page explanation</description>
        <name>Brand_Style_Start_H2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p style = &apos;font-size:18px;color:#435360;font-weight:bold;&apos;&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Used for second level page explanations</description>
        <name>Brand_Style_Start_H3</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p style = &apos;font-size:14px;color:#435360;font-weight:bold;&apos;&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Used for third level page explanation</description>
        <name>Brand_Style_Start_H4</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p style = &apos;font-size:12px;color:#435360;font-weight:bold;&apos;&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Template to include margins</description>
        <name>Brand_Style_Start_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p style = &apos;font-size:14px;color:#435360;font-weight:bold;margin-left:.5in;&apos;&gt;</text>
    </textTemplates>
    <variables>
        <name>BusinessAccountIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The count of the number of Business Accounts that the Contact has a relation</description>
        <name>CountofBusinessAccounts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Gets a count of the number of Business records for the Account</description>
        <name>CountofBusinesses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedBusinessAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
