force-app/main/default/flows/Lead_Actions_Related_Record_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>The email alert to send to leads where the Lead Source = &quot;Bark&quot;</description>
        <name>Bark_Email_Alert</name>
        <label>Bark Email Alert</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Lead.New_Bark_Email_Notice</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>PD Lead Needs Immediate Call</description>
        <name>Immediate_Call_Paid_Digital_Group</name>
        <label>Immediate Call Paid Digital Group</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <actionName>Lead.New_Lead_Email_Notification_Immediate_Call</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>LinkedIn_Facebook_Alert</name>
        <label>LinkedIn &amp; Facebook Alert</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <actionName>Lead.Facebook_LinkedIn_Email_Notice</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends an email alert to all Paid Digital group members</description>
        <name>Send_Email_Alert_to_Paid_Digital_Group</name>
        <label>Send Email Alert to Paid Digital Group</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <actionName>Lead.Tier_1_Email_Notice</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends an email alert to the responsible SDR</description>
        <name>Send_Email_Alert_to_Rep</name>
        <label>Send Email Alert to Rep</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <actionName>Lead.SDR_Manager_New_Lead_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>X1800Accountant</name>
        <label>1800Accountant</label>
        <locationX>1898</locationX>
        <locationY>539</locationY>
        <actionName>Lead.New_Website_Email_Notification_1800Acct</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <constants>
        <name>InsertCompanyName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>***INSERT COMPANY NAME***</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Checks to see the distribution test variation</description>
        <name>Distribution_Variation</name>
        <label>Distribution Variation</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>SDR_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Distribution_Test_Variation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SDR Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Alert_to_Rep</targetReference>
            </connector>
            <label>SDR Manager</label>
        </rules>
        <rules>
            <name>Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Distribution_Test_Variation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Alert_to_Paid_Digital_Group</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
    </decisions>
    <decisions>
        <description>What is the Lead Source?</description>
        <name>Lead_Source</name>
        <label>Lead Source</label>
        <locationX>1238</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Bark_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bark</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Bark Lead</label>
        </rules>
        <rules>
            <name>X1_800Accountant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1-800Accountant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1_800Accountant_Lead_Types</targetReference>
            </connector>
            <label>1-800Accountant</label>
        </rules>
    </decisions>
    <decisions>
        <description>Branch to split the different types of leads that can come through our 1-800Accountant lead source</description>
        <name>X1_800Accountant_Lead_Types</name>
        <label>1-800Accountant Lead Types</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MVF_Global_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MVF Global</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_6_A1</targetReference>
            </connector>
            <label>MVF Global Campaign</label>
        </rules>
        <rules>
            <name>Facebook_LinkedIn_Campaigns</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead Form Accounting Services-Facebook</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead Form Accounting Services-LinkedIn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Lead_Owner_to_SDR_Manager</targetReference>
            </connector>
            <label>Facebook/LinkedIn Campaigns</label>
        </rules>
        <rules>
            <name>Business_com_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Distribution_Variation</targetReference>
            </connector>
            <label>Business.com Campaign</label>
        </rules>
        <rules>
            <name>Scheduler_Conflict_Call_Now</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Type_New__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Marketing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Company</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>InsertCompanyName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Alias</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>eapi</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CampaignLastTouchValues</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Do Not Reply</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HourValueOfNowEST</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HourValueOfNowEST</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Immediate_Call_Paid_Digital_Group</targetReference>
            </connector>
            <label>SchedulerConflictCallNow</label>
        </rules>
        <rules>
            <name>Non_Referrals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Type_New__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Referral</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1800Accountant</targetReference>
            </connector>
            <label>Non-Referrals</label>
        </rules>
    </decisions>
    <description>Flow for all Actions and Related Record Updates</description>
    <environments>Default</environments>
    <formulas>
        <description>The text of the SMS message to send to Bark leads</description>
        <name>BarkSMSMessageText</name>
        <dataType>String</dataType>
        <expression>&quot;You recently requested assistance through Bark. We are excited to help! The first step is scheduling an appointment with our small business team. Use this link to find a time that works for you. https://1800accountant.com/sfapi/t/?w=&quot;+{!$Record.Id+&quot;&amp;c=SMS} Reply STOP to stop receiving messages.&quot;</expression>
    </formulas>
    <formulas>
        <name>BarkTSAInviteRecordName</name>
        <dataType>String</dataType>
        <expression>&quot;Bark TSA Invitation for &quot;+{!$Record.FirstName} + {!$Record.LastName}</expression>
    </formulas>
    <formulas>
        <description>Returns False only if Campaign(Last Touch) does not contain any of the following values - Entity Formation, Call, Chat, Join Now.</description>
        <name>CampaignLastTouchValues</name>
        <dataType>Boolean</dataType>
        <expression>OR(
CONTAINS(TEXT({!$Record.Campaign_Last_Touch__c}), &apos;Entity Formation&apos;),
CONTAINS(TEXT({!$Record.Campaign_Last_Touch__c}), &apos;Call&apos;),
CONTAINS(TEXT({!$Record.Campaign_Last_Touch__c}), &apos;Chat&apos;),
CONTAINS(TEXT({!$Record.Campaign_Last_Touch__c}), &apos;Join Now&apos;)
)</expression>
    </formulas>
    <formulas>
        <name>HourValueOfNowEST</name>
        <dataType>Number</dataType>
        <expression>VALUE(MID(TEXT(NOW()),12,2))-4</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>MVFGlobalMessageText</name>
        <dataType>String</dataType>
        <expression>&quot;You recently inquired about payroll services through Expert Market. We are excited to help! The first step is scheduling an appointment with our small business team. Use this link to find a time that works for you. https://1800accountant.com/sfapi/t/?w=&quot;+{!$Record.Id+&quot;&amp;c=SMS} Reply STOP to stop receiving messages.&quot;</expression>
    </formulas>
    <formulas>
        <name>MVFGlobalTSAInviteRecordName</name>
        <dataType>String</dataType>
        <expression>&quot;MVFGlobal TSA Invitation for &quot;+{!$Record.FirstName} + {!$Record.LastName}</expression>
    </formulas>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Actions &amp; Related Record Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>myRule_1_A1</name>
        <label>Bark SMS Schedule</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Bark_Email_Alert</targetReference>
        </connector>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>BarkSMSMessageText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>BarkTSAInviteRecordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RingCentral_Number__c</field>
            <value>
                <stringValue>+18662126814</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule_Date__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>To_Phone_Number__c</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>TSA Invite</stringValue>
            </value>
        </inputAssignments>
        <object>SMS_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>myRule_6_A1</name>
        <label>MVF Global SMS Schedule</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Distribution_Variation</targetReference>
        </connector>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>MVFGlobalMessageText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>MVFGlobalTSAInviteRecordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RingCentral_Number__c</field>
            <value>
                <stringValue>+18662126814</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule_Date__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>To_Phone_Number__c</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>TSA Invite</stringValue>
            </value>
        </inputAssignments>
        <object>SMS_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>Changes the owner to the SDR Manager</description>
        <name>Change_Lead_Owner_to_SDR_Manager</name>
        <label>Change Lead Owner to SDR Manager</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>LinkedIn_Facebook_Alert</targetReference>
        </connector>
        <inputAssignments>
            <field>Distribution_Test_Variation__c</field>
            <value>
                <stringValue>SDR Manager</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>SDRManagerID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lead_Source</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>The ID of the SDR Manager</description>
        <name>SDRManagerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0055e000007DMn4AAG</stringValue>
        </value>
    </variables>
</Flow>
