force-app/main/default/flows/Lead_and_Account_SDR_Scripts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_Sub_Name_to_Collection</name>
        <label>Add Sub Name to Collection</label>
        <locationX>1240</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varCollPartnerSubNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sub_Lines_from_Partner.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sub_Lines_from_Partner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_Owner</name>
        <label>Set Account Owner</label>
        <locationX>1172</locationX>
        <locationY>2450</locationY>
        <assignmentItems>
            <assignToReference>Recent_Account_Details.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formOwnerIdToUpdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Recent_Account_Details.VR_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formToggleVROverride</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lead_Owner</name>
        <label>Set Lead Owner</label>
        <locationX>644</locationX>
        <locationY>2450</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead_Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formOwnerIdToUpdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead_Record.VR_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formToggleVROverride</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_Owner</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>const1800A</name>
        <dataType>String</dataType>
        <value>
            <stringValue>1-800Accountant</stringValue>
        </value>
    </constants>
    <constants>
        <name>constADP</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ADP</stringValue>
        </value>
    </constants>
    <constants>
        <name>constAnnualReportBuyer</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Annual Report Buyer</stringValue>
        </value>
    </constants>
    <constants>
        <name>constBTP</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Business Tax Preparation</stringValue>
        </value>
    </constants>
    <constants>
        <name>constDirectInCorp</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Directincorp</stringValue>
        </value>
    </constants>
    <constants>
        <name>constDunBradstreet</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Dun &amp; Bradstreet</stringValue>
        </value>
    </constants>
    <constants>
        <description>To accommodate Campaign values that are wrongly populated without the hyphen</description>
        <name>constExpoWithoutHyphen</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Outbound SMB Expo</stringValue>
        </value>
    </constants>
    <constants>
        <name>constFloridaReg</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Florida Registrations</stringValue>
        </value>
    </constants>
    <constants>
        <name>constGovtAssist</name>
        <dataType>String</dataType>
        <value>
            <stringValue>GovtAssist</stringValue>
        </value>
    </constants>
    <constants>
        <name>constIncAuthority</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Inc. Authority</stringValue>
        </value>
    </constants>
    <constants>
        <name>constIssue1099</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Issue1099</stringValue>
        </value>
    </constants>
    <constants>
        <name>constIssue1099Payee</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Issue1099 Payee</stringValue>
        </value>
    </constants>
    <constants>
        <description>User ID for JT Keenan - After Hour Appointment Manager</description>
        <name>constJTUserID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005j000000C6PkQ</stringValue>
        </value>
    </constants>
    <constants>
        <name>constMylo</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Mylo</stringValue>
        </value>
    </constants>
    <constants>
        <name>constNewBusinessForm</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NewBusinessFormations</stringValue>
        </value>
    </constants>
    <constants>
        <name>constOutboundSMBExpo</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Outbound - SMB Expo</stringValue>
        </value>
    </constants>
    <constants>
        <name>constPTP</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Personal Tax Preparation</stringValue>
        </value>
    </constants>
    <constants>
        <name>constSDRQueueId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005PJ000000080n</stringValue>
        </value>
    </constants>
    <constants>
        <description>ID of the public group &apos;SDR - Stateside&apos;.</description>
        <name>constSDRStatesidePGId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00GPJ00000A0jnP</stringValue>
        </value>
    </constants>
    <constants>
        <name>constTailorBrands</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Tailor Brands</stringValue>
        </value>
    </constants>
    <constants>
        <name>constTaxHotline</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Tax Hotline</stringValue>
        </value>
    </constants>
    <constants>
        <name>constUENI</name>
        <dataType>String</dataType>
        <value>
            <stringValue>UENI</stringValue>
        </value>
    </constants>
    <constants>
        <name>constZenBusiness</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ZenBusiness</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Branch to Get Lead or Account Record once again - For instances when the User clicks Previous from the final screen (Post Update Record Operation) and changes the Owner again</description>
        <name>Current_Lead_or_Account</name>
        <label>Current Lead or Account</label>
        <locationX>1172</locationX>
        <locationY>2042</locationY>
        <defaultConnector>
            <targetReference>Owner_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recent_Lead_Details</targetReference>
            </connector>
            <label>Lead Record</label>
        </rules>
        <rules>
            <name>Account_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recent_Account_Details</targetReference>
            </connector>
            <label>Account Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_or_Account</name>
        <label>Lead or Account?</label>
        <locationX>1172</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>SDR_Stateside_Group_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead_Record</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Record</targetReference>
            </connector>
            <label>Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Source</name>
        <label>Lead Source</label>
        <locationX>710</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>Generic_Script</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BTP_PTP_Tax_Hotline</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Account</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Record.Account_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner-Subscribed Prospect</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCollPartnerSubNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>constBTP</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCollPartnerSubNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>constPTP</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCollPartnerSubNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>constTaxHotline</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BTP_PTP_TaxHotline</targetReference>
            </connector>
            <label>BTP PTP Tax Hotline</label>
        </rules>
        <rules>
            <name>ZB_TB_Inc_DunB_ADP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>formLeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constTailorBrands</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formLeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constZenBusiness</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formLeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constDunBradstreet</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formLeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constIncAuthority</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formLeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constADP</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TB_ZB_Inc_DunBrad_ADP</targetReference>
            </connector>
            <label>ZB TB Inc DunB ADP</label>
        </rules>
        <rules>
            <name>NewB_Mylo_GovA_FloReg</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>formLeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constNewBusinessForm</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formLeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constMylo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formLeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constGovtAssist</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formLeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constFloridaReg</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewB_Mylo_GovtA_FloReg</targetReference>
            </connector>
            <label>NewB Mylo GovA FloReg</label>
        </rules>
        <rules>
            <name>DirectInC_Issue1099_Expo</name>
            <conditionLogic>(1 AND 2) OR (3 AND (4 or 5 or 6))</conditionLogic>
            <conditions>
                <leftValueReference>formLeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constDirectInCorp</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formLeadTypeNewText</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>constAnnualReportBuyer</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formLeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>const1800A</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formCampaignIssue1099Payee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formCampaign</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>constOutboundSMBExpo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formCampaign</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>constExpoWithoutHyphen</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DirectInc_Issue1099</targetReference>
            </connector>
            <label>DirectInC Issue1099/Expo</label>
        </rules>
        <rules>
            <name>X1800A_Primary_UENI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>formLeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>const1800A</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formLeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constUENI</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1800A_and_UENI</targetReference>
            </connector>
            <label>1800A Primary UENI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Status_Check</name>
        <label>Lead Status Check</label>
        <locationX>1172</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>No_Show_Cancelled_Appts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Show Cancelled</defaultConnectorLabel>
        <rules>
            <name>Other_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formLeadStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>1-1 No Show</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formLeadStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>1-1 Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Source</targetReference>
            </connector>
            <label>Other Status</label>
        </rules>
    </decisions>
    <decisions>
        <description>Change Owner to After Hour Manager or SDR Queue based on user input</description>
        <name>Owner_Check</name>
        <label>Owner Check</label>
        <locationX>1172</locationX>
        <locationY>2342</locationY>
        <defaultConnector>
            <targetReference>Scheduler_IFrame</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_Lead_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formOwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>formOwnerIdToUpdate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lead_Owner</targetReference>
            </connector>
            <label>Change Lead Owner</label>
        </rules>
        <rules>
            <name>Change_Account_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formOwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>formOwnerIdToUpdate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_Owner</targetReference>
            </connector>
            <label>Change Account Owner</label>
        </rules>
    </decisions>
    <decisions>
        <description>Only if the user belongs to the Public group &apos;SDR - Stateside&apos;, show them the option for After hour Appointment.</description>
        <name>SDR_location_check</name>
        <label>SDR location check</label>
        <locationX>1172</locationX>
        <locationY>1742</locationY>
        <defaultConnector>
            <targetReference>Current_Lead_or_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Philippines</defaultConnectorLabel>
        <rules>
            <name>Stateside_SDRs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SDR_Stateside_Group_Member.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_After_Hour_Appt</targetReference>
            </connector>
            <label>Stateside SDRs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subs_from_Partners_Null_Check</name>
        <label>Subs from Partners - Null Check</label>
        <locationX>1260</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>SDR_Stateside_Group_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No subs from Partner</defaultConnectorLabel>
        <rules>
            <name>Active_Subs_from_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CO_Sub_from_Partner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sub_Lines_from_Partner</targetReference>
            </connector>
            <label>Active Subs from Partner</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formCampaign</name>
        <dataType>String</dataType>
        <expression>IF({!Lead}, {!Get_Lead_Record.Campaign_Text__c},
IF({!Account}, {!Get_Account_Record.Campaign_Text__c},&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <description>Returns - Issue 1099 Payee or Issue 1099 if present</description>
        <name>formCampaignIssue1099Payee</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!formCampaign}, {!constIssue1099Payee}), {!constIssue1099Payee},
IF(CONTAINS({!formCampaign}, {!constIssue1099}),{!constIssue1099},&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>formClientEmail</name>
        <dataType>String</dataType>
        <expression>IF({!Lead}, {!Get_Lead_Record.Email},
IF({!Account}, {!Get_Account_Record.Primary_Contact__r.Email},&quot;Email Not Found&quot;))</expression>
    </formulas>
    <formulas>
        <name>formClientTimezone</name>
        <dataType>String</dataType>
        <expression>IF({!Lead}, {!Get_Lead_Record.Timezone_Text__c},
IF({!Account}, {!Get_Account_Record.Timezone_Text__c},&quot;Timezone Not Found&quot;))</expression>
    </formulas>
    <formulas>
        <name>formDunBradPackageName</name>
        <dataType>String</dataType>
        <expression>IF({!formLeadSource}= {!constDunBradstreet}, 
IF(CONTAINS({!formLeadTypeNewText}, &quot;Manager&quot; ), &quot;Portfolio Manager&quot;,
IF(CONTAINS({!formLeadTypeNewText}, &quot;Credit Insights&quot; ), &quot;Credit Insights&quot;,
IF(CONTAINS({!formLeadTypeNewText}, &quot;Credit Primary&quot; ), &quot;Credit Primary&quot;,
IF(CONTAINS({!formLeadTypeNewText}, &quot;Credit Signal&quot; ), &quot;Credit Signal&quot;,&quot;&quot;)))),&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>Returns True if Owner is SDR Queue, General Lead Queue or Dead Leads Queue</description>
        <name>formEligibleOwner</name>
        <dataType>Boolean</dataType>
        <expression>OR(
LEFT({!formOwnerId},15) = &apos;005PJ000000080n&apos;, /*SDR Queue*/
LEFT({!formOwnerId},15) = &apos;005f100000HXqaD&apos;,  /*GLQ*/
LEFT({!formOwnerId},15) = &apos;005j000000DDBst&apos;)  /*Dead Leads Queue*/</expression>
    </formulas>
    <formulas>
        <name>formEmailCampaignID</name>
        <dataType>String</dataType>
        <expression>IF({!Lead}, {!Get_Lead_Record.Email_Campaign_ID__c},
IF({!Account}, {!Get_Account_Record.Email_Campaign_ID__c},&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>formEntityType</name>
        <dataType>String</dataType>
        <expression>IF({!Lead},TEXT({!Get_Lead_Record.Entity_Tax_Classification__c}),TEXT({!Get_Account_Record.Entity_Tax_Classification__c}))</expression>
    </formulas>
    <formulas>
        <description>If Entity Tax Classification is blank or &apos;Undetermined&apos;, return &apos;Business&apos;, else return Entity Tax Classification.</description>
        <name>formEntityTypeOrBusiness</name>
        <dataType>String</dataType>
        <expression>IF(OR(ISBLANK({!formEntityType}),{!formEntityType}=&apos;Undetermined&apos;),&apos;Business&apos;,{!formEntityType})</expression>
    </formulas>
    <formulas>
        <name>formFloRegAddOnText</name>
        <dataType>String</dataType>
        <expression>IF({!formLeadSource} = &quot;Florida Registrations&quot;, &quot; with the State of Florida.&quot;,&quot;.&quot;)</expression>
    </formulas>
    <formulas>
        <name>formIncAuthPackageName</name>
        <dataType>String</dataType>
        <expression>IF({!formLeadSource}= {!constIncAuthority}, 
IF(CONTAINS({!formLeadTypeNewText}, &quot;Fast Track&quot; ), &quot;Fast Track package&quot;,
IF(CONTAINS({!formLeadTypeNewText}, &quot;Starter&quot; ), &quot;Starter package&quot;,
IF(CONTAINS({!formLeadTypeNewText}, &quot;Express&quot; ), &quot;Express package&quot;,
IF(CONTAINS({!formLeadTypeNewText}, &quot;Operating Agreement&quot; ), &quot;Operating Agreement package&quot;,
IF(CONTAINS({!formLeadTypeNewText}, &quot;Buyer&quot; ), &quot;Buyer package&quot;,
IF(CONTAINS({!formLeadTypeNewText}, &quot;Basic&quot; ), &quot;Basic package&quot;,&quot;&quot;)))))),&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>Returns the Lead Source of Lead or Account</description>
        <name>formLeadSource</name>
        <dataType>String</dataType>
        <expression>IF({!Lead}, TEXT({!Get_Lead_Record.LeadSource}),
IF({!Account}, TEXT({!Get_Account_Record.Lead_Source__c}),&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>formLeadStatus</name>
        <dataType>String</dataType>
        <expression>IF({!Lead}, TEXT({!Get_Lead_Record.Status}),
IF({!Account}, TEXT({!Get_Account_Record.Lead_Status__c}),&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>formLeadTypeNewText</name>
        <dataType>String</dataType>
        <expression>IF({!Lead}, {!Get_Lead_Record.Lead_Type_New_Text__c},
IF({!Account}, {!Get_Account_Record.Lead_Type_New_Text__c},&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <description>Returns Owner Id of the Lead Or Account (after any recent updates)</description>
        <name>formOwnerId</name>
        <dataType>String</dataType>
        <expression>IF({!Lead}, LEFT({!Recent_Lead_Details.OwnerId},15),
IF({!Account}, LEFT({!Recent_Account_Details.OwnerId},15),&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <description>If user chooses After-Hour Manager, return JTKeenan&apos;s user Id. Else if the owner is not SDR Queue, GLQ or Dead Leads Queue, return SDR Queue Id</description>
        <name>formOwnerIdToUpdate</name>
        <dataType>String</dataType>
        <expression>IF({!Toggle_Owner_Change.value}, {!constJTUserID}, 
IF({!formEligibleOwner}, {!formOwnerId},{!constSDRQueueId}))</expression>
    </formulas>
    <formulas>
        <name>formRegisteredAgent</name>
        <dataType>String</dataType>
        <expression>IF({!Lead},{!Get_Lead_Record.Registered_Agent__c},{!Get_Account_Record.Registered_Agent_Name__c})</expression>
    </formulas>
    <formulas>
        <name>formSchedulerCustomSetting</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Chargeover_URL__c.Scheduler_URL__c}</expression>
    </formulas>
    <formulas>
        <name>formSchedulerUrl</name>
        <dataType>String</dataType>
        <expression>{!formSchedulerCustomSetting}+&quot;?WID=&quot;+{!formWhoId}+&quot;&amp;Setter=&quot;+{!formUserFirstLastName}+&quot;&amp;SetterID=&quot;+{!$User.Id}+&quot;&amp;Frame=1&amp;EmailCampaignID=&quot;+{!formEmailCampaignID}</expression>
    </formulas>
    <formulas>
        <name>formToggleVROverride</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Lead_Record},NOT({!Recent_Lead_Details.VR_Override__c}),NOT({!Recent_Account_Details.VR_Override__c}))</expression>
    </formulas>
    <formulas>
        <name>formUserFirstLastName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}+&quot;+&quot;+{!$User.LastName}</expression>
    </formulas>
    <formulas>
        <description>Returns WhoId</description>
        <name>formWhoId</name>
        <dataType>String</dataType>
        <expression>IF({!Lead}, {!Get_Lead_Record.Id},
IF({!Account}, {!Get_Account_Record.Primary_Contact__r.Id},&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <description>If Registered Agent is blank, return blank, else return &quot;with {Registered Agent}&quot;</description>
        <name>formWithRegisteredAgent</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!formRegisteredAgent}), &apos;&apos;,&apos;with &apos;+{!formRegisteredAgent})</expression>
    </formulas>
    <interviewLabel>SDR Scripts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead and Account - SDR Scripts</label>
    <loops>
        <name>Sub_Lines_from_Partner</name>
        <label>Sub Lines from Partner</label>
        <locationX>1152</locationX>
        <locationY>674</locationY>
        <collectionReference>CO_Sub_from_Partner</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Sub_Name_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SDR_Stateside_Group_Member</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>CO_Sub_from_Partner</name>
        <label>CO Sub from Partner</label>
        <locationX>1260</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Subs_from_Partners_Null_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partner</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ChargeOver_Subscription_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>1260</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CO_Sub_from_Partner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Record</name>
        <label>Get Lead Record</label>
        <locationX>800</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SDR_Stateside_Group_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>No_Show_Cancelled_Appts</name>
        <label>No Show Cancelled Appts</label>
        <locationX>1634</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NoShow_Cancelled_Pitch</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 6) AND (4 OR 5)</filterLogic>
        <filters>
            <field>Type_of_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tax Savings Analysis</stringValue>
            </value>
        </filters>
        <filters>
            <field>Appointment_Disposition__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Secondary_Disposition_Details__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Appointment_Disposition__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No Show</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <sortField>StartDateTime</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recent_Account_Details</name>
        <label>Recent Account Details</label>
        <locationX>1172</locationX>
        <locationY>2150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owner_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Event created in the previous Screen.</description>
        <name>Recent_Event_Details</name>
        <label>Recent Event Details</label>
        <locationX>1172</locationX>
        <locationY>3098</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Post_Appointment_Script</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formWhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <sortField>Created_Date_Time__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recent_Lead_Details</name>
        <label>Recent Lead Details</label>
        <locationX>908</locationX>
        <locationY>2150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owner_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Check if the User belongs to the SDR - Stateside Public group</description>
        <name>SDR_Stateside_Group_Member</name>
        <label>SDR-Stateside Group Member</label>
        <locationX>1172</locationX>
        <locationY>1142</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Status_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>constSDRStatesidePGId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Owner</name>
        <label>Update Account Owner</label>
        <locationX>1172</locationX>
        <locationY>2558</locationY>
        <connector>
            <targetReference>Scheduler_IFrame</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Display_Fault_Message</targetReference>
        </faultConnector>
        <inputReference>Recent_Account_Details</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Owner</name>
        <label>Update Lead Owner</label>
        <locationX>644</locationX>
        <locationY>2558</locationY>
        <connector>
            <targetReference>Scheduler_IFrame</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Fault_Message</targetReference>
        </faultConnector>
        <inputReference>Get_Lead_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>BTP_PTP_TaxHotline</name>
        <label>BTP PTP TaxHotline</label>
        <locationX>50</locationX>
        <locationY>1466</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SDR_location_check</targetReference>
        </connector>
        <fields>
            <name>Script_Live_Transfer_Rep_Note</name>
            <fieldText>&lt;p&gt;{!Template_Live_Transfer_Rep_Note}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Script_BTP_PTP</name>
            <fieldText>&lt;p&gt;{!Template_BTP_PTP}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varCollPartnerSubNames</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>constBTP</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varCollPartnerSubNames</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>constPTP</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Script_BTP</name>
            <fieldText>&lt;p&gt;{!Template_BTP}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 AND NOT(2)</conditionLogic>
                <conditions>
                    <leftValueReference>varCollPartnerSubNames</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>constBTP</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varCollPartnerSubNames</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>constPTP</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Script_Tax_Hotline</name>
            <fieldText>&lt;p&gt;{!Template_Tax_Hotline}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 AND NOT(2 OR 3)</conditionLogic>
                <conditions>
                    <leftValueReference>varCollPartnerSubNames</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>constTaxHotline</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varCollPartnerSubNames</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>constBTP</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varCollPartnerSubNames</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>constPTP</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LS = 1800A and Campaign contains Issue1099 or Outbound - SMB Expo</description>
        <name>DirectInc_Issue1099</name>
        <label>DirectInc Issue1099 Expo</label>
        <locationX>842</locationX>
        <locationY>1466</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SDR_location_check</targetReference>
        </connector>
        <fields>
            <name>Script_Live_Transfer_Rep_Note_DirectInc</name>
            <fieldText>&lt;p&gt;{!Template_Live_Transfer_Rep_Note}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Script_DirectInc_1099</name>
            <fieldText>&lt;p&gt;{!Template_DirectInc_AnnualRep}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>formLeadSource</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>constDirectInCorp</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Script_SMB_Expo</name>
            <fieldText>&lt;p&gt;{!Template_SMB_Expo}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                <conditions>
                    <leftValueReference>formLeadSource</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>const1800A</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>formCampaign</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>constOutboundSMBExpo</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>formCampaign</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>constExpoWithoutHyphen</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Script_Issue_1099_Payee</name>
            <fieldText>&lt;p&gt;{!Template_Issue1099_Payee}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 AND NOT(2) AND 3</conditionLogic>
                <conditions>
                    <leftValueReference>formCampaignIssue1099Payee</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>constIssue1099Payee</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>formCampaign</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>constOutboundSMBExpo</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>formLeadSource</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>const1800A</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Script_Issue_1099</name>
            <fieldText>&lt;p&gt;{!Template_Issue_1099}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 AND 2 AND NOT(3)</conditionLogic>
                <conditions>
                    <leftValueReference>formCampaignIssue1099Payee</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>constIssue1099</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>formLeadSource</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>const1800A</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>formCampaign</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>constOutboundSMBExpo</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_After_Hour_Appt</name>
        <label>Display After Hour Appt</label>
        <locationX>1040</locationX>
        <locationY>1850</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Current_Lead_or_Account</targetReference>
        </connector>
        <fields>
            <name>Script_Change_Owner</name>
            <fieldText>&lt;p&gt;{!Template_AfterHour_Manager}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Toggle_Owner_Change</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Regular or After-Hour Appointment?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>After-Hour Appt</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Regular Appt</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Fault_Message</name>
        <label>Display Fault Message</label>
        <locationX>908</locationX>
        <locationY>2666</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Screen_Error_Message</name>
            <fieldText>&lt;p&gt;Owner Update for Lead/Account Failed&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Generic_Script</name>
        <label>Generic Script</label>
        <locationX>1370</locationX>
        <locationY>1466</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SDR_location_check</targetReference>
        </connector>
        <fields>
            <name>Live_Transfer_Rep_Note_Generic</name>
            <fieldText>&lt;p&gt;{!Template_Live_Transfer_Rep_Note}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Script_Generic</name>
            <fieldText>&lt;p&gt;{!Template_Generic}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NewB_Mylo_GovtA_FloReg</name>
        <label>NewB Mylo GovtA FloReg</label>
        <locationX>578</locationX>
        <locationY>1466</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SDR_location_check</targetReference>
        </connector>
        <fields>
            <name>Script_Live_Transfer_Rep_Note_NB_Mylo</name>
            <fieldText>&lt;p&gt;{!Template_Live_Transfer_Rep_Note}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Script_NewBusiness_Primary</name>
            <fieldText>&lt;p&gt;{!Template_NewBusiness}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>formLeadSource</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>constNewBusinessForm</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Script_Mylo_Primary</name>
            <fieldText>&lt;p&gt;{!Template_Mylo_Primary}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>formLeadSource</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>constMylo</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Script_GovtA_FloReg</name>
            <fieldText>&lt;p&gt;{!Template_GovtAssist_FloReg}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>formLeadSource</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>constGovtAssist</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>formLeadSource</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>constFloridaReg</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoShow_Cancelled_Pitch</name>
        <label>NoShow Cancelled Pitch</label>
        <locationX>1634</locationX>
        <locationY>1466</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SDR_location_check</targetReference>
        </connector>
        <fields>
            <name>Script_Live_Transfer_Rep_Note_NoShow</name>
            <fieldText>&lt;p&gt;{!Template_Live_Transfer_Rep_Note}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Script_NoShow_Cancel</name>
            <fieldText>&lt;p&gt;{!Template_NoShow_Cancelled}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>formLeadSource</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>constNewBusinessForm</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Script_NewBusiness_NoShow_Cancelled</name>
            <fieldText>&lt;p&gt;{!Template_NewBusiness_NoShow_Cancelled}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>formLeadSource</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>constNewBusinessForm</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Post_Appointment_Script</name>
        <label>Post Appointment Script</label>
        <locationX>1172</locationX>
        <locationY>3206</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Script_Set_Appointment2</name>
            <fieldText>&lt;p&gt;{!Template_Set_Appointment}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Scheduler_IFrame</name>
        <label>Scheduler IFrame</label>
        <locationX>1172</locationX>
        <locationY>2990</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Recent_Event_Details</targetReference>
        </connector>
        <fields>
            <name>Display_Owner_Updated</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;&lt;em&gt;Owner has been updated&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Change_Lead_Owner</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Change_Account_Owner</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Scheduler_IFrame_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Scheduler_IFrame_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Open_Scheduler</name>
            <extensionName>c:flowIframe</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>borderWidth</name>
                <value>
                    <stringValue>20</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>height</name>
                <value>
                    <stringValue>500</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>width</name>
                <value>
                    <stringValue>600</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>frameURL</name>
                <value>
                    <elementReference>formSchedulerUrl</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Script_Launch</name>
        <label>Script Launch</label>
        <locationX>1172</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Lead_or_Account</targetReference>
        </connector>
        <fields>
            <name>Display_Launch</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Click Launch when the call is answered</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>rgb(0, 112, 210)</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Launch</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TB_ZB_Inc_DunBrad_ADP</name>
        <label>TB ZB Inc DunBrad ADP</label>
        <locationX>314</locationX>
        <locationY>1466</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SDR_location_check</targetReference>
        </connector>
        <fields>
            <name>Script_Live_Transfer_Rep_Note_Primary</name>
            <fieldText>&lt;p&gt;{!Template_Live_Transfer_Rep_Note}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Script_ZB_IncAuth_Primary</name>
            <fieldText>&lt;p&gt;{!Template_ZB_IncAuth}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>formLeadSource</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>constZenBusiness</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>formLeadSource</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>constIncAuthority</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Script_DunBrad_ADP</name>
            <fieldText>&lt;p&gt;{!Template_DunBrad_ADP}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>formLeadSource</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>constDunBradstreet</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>formLeadSource</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>constADP</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Script_Tailor_Brands</name>
            <fieldText>&lt;p&gt;{!Template_TailorBrands}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>formLeadSource</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>constTailorBrands</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>X1800A_and_UENI</name>
        <label>1800A and UENI</label>
        <locationX>1106</locationX>
        <locationY>1466</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SDR_location_check</targetReference>
        </connector>
        <fields>
            <name>Script_Live_Transfer_Rep_Note_1800A</name>
            <fieldText>&lt;p&gt;{!Template_Live_Transfer_Rep_Note}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Script_1800A_Primary</name>
            <fieldText>&lt;p&gt;{!Template_1800A_Primary}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>formLeadSource</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>const1800A</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Script_UENI</name>
            <fieldText>&lt;p&gt;{!Template_UENI}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>formLeadSource</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>constUENI</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1046</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Script_Launch</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Template_1800A_Primary</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(13, 13, 13); background-color: transparent;&quot;&gt;Hello, this is {!$User.FirstName} with 1-800Accountant. Just a quick note, this call is being recorded for quality and training purposes.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(13, 13, 13); background-color: transparent;&quot;&gt;The reason Im reaching out is it appears you may have recently shown some interest in our accounting services and as a courtesy, we wanted to extend to you a no-fee tax consultation that covers IRS compliance and bookkeeping strategies. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(13, 13, 13); background-color: transparent;&quot;&gt;We&apos;ll also go over other important topics such as your Entity Classification Election, looming deadlines, potential deductions, and the new tax law that was enacted this year.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(13, 13, 13); background-color: rgb(255, 255, 255);&quot;&gt;If you have about 30 minutes now, I can get you speaking to the right person to get this taken care of for you.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(244, 67, 54); background-color: transparent;&quot;&gt;&lt;em&gt;&amp;lt;&amp;lt;&amp;lt;WAIT FOR THEM TO SPEAK&amp;gt;&amp;gt;&amp;gt;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;&lt;em&gt;ONLY IF THEY ASK&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt; for more details on this new rule, you can reply with this:&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 255); background-color: transparent;&quot;&gt;&lt;em&gt;As of January 1, most U.S. companies must report detailed ownership information under the &lt;u&gt;Corporate Transparency Act&lt;/u&gt;.&amp;nbsp;This rule significantly impacts 97% of small business owners. Our tax specialist can go in more detail on that for you.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;&lt;em&gt;If they say no to a LIVE&lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(244, 67, 54); background-color: transparent;&quot;&gt;&lt;em&gt;, then follow up with one of the following &lt;u&gt;in this order&lt;/u&gt;:&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;&lt;em&gt; Okay, what time later today or tomorrow works for you?&lt;/em&gt;&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 11pt; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;&lt;em&gt;If they still say no &lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;&lt;em&gt;I know time can be scarce, but this consultation is designed to help protect your investment- were going to provide you with a lot of valuable information and remember: it does come at &lt;u&gt;no additional cost&lt;/u&gt;, as it was part of your original business formation, so what time works best for you?&lt;/em&gt;&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Template_AfterHour_Manager</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;background-color: transparent; font-size: 11pt; color: rgb(244, 67, 54); font-family: Arial, sans-serif;&quot;&gt;&lt;em&gt;If this is an AFTER HOUR Appointment request, set toggle to &apos;After-Hour Appt&apos; (This will change record owner to After-Hour Manager)&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Template_BTP</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: Arial, sans-serif; background-color: transparent; color: rgb(13, 13, 13); font-size: 11pt;&quot;&gt;Hello, this is {!$User.FirstName} with &lt;/span&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; background-color: transparent; color: rgb(13, 13, 13); font-size: 11pt;&quot;&gt;{!formLeadSource}s&lt;/strong&gt;&lt;span style=&quot;font-family: Arial, sans-serif; background-color: transparent; color: rgb(13, 13, 13); font-size: 11pt;&quot;&gt; accounting partner, 1-800Accountant. Just a quick note, this call is being recorded for quality and training purposes.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; background-color: transparent; color: rgb(13, 13, 13); font-size: 11pt;&quot;&gt;We are the company that will be filing your Business taxes&lt;/strong&gt;&lt;span style=&quot;font-family: Arial, sans-serif; background-color: transparent; color: rgb(13, 13, 13); font-size: 11pt;&quot;&gt;. We need to schedule your consultation where well go over important topics such as your Entity Classification Election, looming deadlines, potential deductions, and the new tax law that was enacted this year.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; background-color: transparent; color: rgb(0, 0, 0); font-size: 11pt;&quot;&gt;I do have a Tax Specialist available now if you have about 30 minutes &lt;/strong&gt;&lt;span style=&quot;font-family: Arial, sans-serif; background-color: transparent; color: rgb(0, 0, 0); font-size: 11pt;&quot;&gt;so we can get this taken care of for you &lt;/span&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; background-color: transparent; color: rgb(244, 67, 54); font-size: 11pt;&quot;&gt;&lt;em&gt;&amp;lt;&amp;lt;&amp;lt;WAIT FOR THEM TO SPEAK&amp;gt;&amp;gt;&amp;gt;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; background-color: transparent; color: rgb(255, 0, 0); font-size: 11pt;&quot;&gt;&lt;em&gt;(ONLY IF THEY ASK&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;font-family: Arial, sans-serif; background-color: transparent; color: rgb(255, 0, 0); font-size: 11pt;&quot;&gt; for more details on this new rule, you can reply with this):&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; background-color: transparent; color: rgb(0, 0, 255); font-size: 11pt;&quot;&gt;&lt;em&gt;As of January 1, most U.S. companies must report detailed ownership information under the &lt;u&gt;Corporate Transparency Act&lt;/u&gt;.&amp;nbsp;This rule significantly impacts 97% of small business owners. Our tax specialist can go in more detail on that for you.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; background-color: transparent; color: rgb(255, 0, 0); font-size: 11pt;&quot;&gt;&lt;em&gt;If they say no to a LIVE&lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; background-color: transparent; color: rgb(244, 67, 54); font-size: 11pt;&quot;&gt;&lt;em&gt;, then follow up with one of the following &lt;u&gt;in this order&lt;/u&gt;:&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;&lt;em&gt;&lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;background-color: transparent; font-size: 11pt; color: rgb(255, 0, 0);&quot;&gt;&lt;em&gt; &lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;&lt;em&gt;Okay, what time later today or tomorrow works for you?&lt;/em&gt;&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-size: 11pt;&quot;&gt;&lt;em&gt;If they still say no &lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;&lt;em&gt;I know time can be scarce, but this consultation is designed to help protect your investment- were going to provide you with a lot of valuable information and remember: it does come at &lt;u&gt;no additional cost&lt;/u&gt;, as it was part of your original business formation, so what time works best for you?&lt;/em&gt;&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Template_BTP_PTP</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 11pt; color: rgb(13, 13, 13); background-color: transparent;&quot;&gt;Hello, this is {!$User.FirstName} with &lt;/span&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 11pt; color: rgb(13, 13, 13); background-color: transparent;&quot;&gt;{!formLeadSource}s&lt;/strong&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 11pt; color: rgb(13, 13, 13); background-color: transparent;&quot;&gt; accounting partner, 1-800Accountant. Just a quick note, this call is being recorded for quality and training purposes.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 11pt; color: rgb(13, 13, 13); background-color: transparent;&quot;&gt;We are the company that will be filing your Business and Personal taxes&lt;/strong&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 11pt; color: rgb(13, 13, 13); background-color: transparent;&quot;&gt;. We need to schedule your consultation where well go over important topics such as your Entity Classification Election, looming deadlines, potential deductions, and the new tax law that was enacted this year.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 11pt; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;I do have a Tax Specialist available now if you have about 30 minutes &lt;/strong&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 11pt; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;so we can get this taken care of for you &lt;/span&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 11pt; color: rgb(244, 67, 54); background-color: transparent;&quot;&gt;&lt;em&gt;&amp;lt;&amp;lt;&amp;lt;WAIT FOR THEM TO SPEAK&amp;gt;&amp;gt;&amp;gt;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 11pt; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;&lt;em&gt;(ONLY IF THEY ASK&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;font-family: Arial, sans-serif; font-size: 11pt; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt; for more details on this new rule, you can reply with this):&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 11pt; color: rgb(0, 0, 255); background-color: transparent;&quot;&gt;&lt;em&gt;As of January 1, most U.S. companies must report detailed ownership information under the &lt;u&gt;Corporate Transparency Act&lt;/u&gt;.&amp;nbsp;This rule significantly impacts 97% of small business owners. Our tax specialist can go in more detail on that for you.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 11pt; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;&lt;em&gt;If they say no to a LIVE&lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 11pt; color: rgb(244, 67, 54); background-color: transparent;&quot;&gt;&lt;em&gt;, then follow up with one of the following &lt;u&gt;in this order&lt;/u&gt;:&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;&lt;em&gt;&lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 11pt; background-color: transparent; color: rgb(255, 0, 0);&quot;&gt;&lt;em&gt; &lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;&lt;em&gt;Okay, what time later today or tomorrow works for you?&lt;/em&gt;&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 11pt; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;&lt;em&gt;If they still say no &lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;&lt;em&gt;I know time can be scarce, but this consultation is designed to help protect your investment- were going to provide you with a lot of valuable information and remember: it does come at &lt;u&gt;no additional cost&lt;/u&gt;, as it was part of your original business formation, so what time works best for you?&lt;/em&gt;&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Template_DirectInc_AnnualRep</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;Hello - This is {!$User.FirstName} with 1-800Accountant &lt;/span&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;calling on a recorded line&lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;. &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;Included with your &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;Annual Report purchase with DirectIncorporation&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt; is an urgent no-fee tax consultation&lt;/span&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt; we still owe you.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(13, 13, 13); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;We need to schedule your consultation to go over IRS compliance requirements, your Entity Classification Election, looming deadlines, and also the new tax law that was enacted this year.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;I do have a Tax Specialist available now if you have about 30 minutes &lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;so we can get this taken care of for you &lt;/span&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(244, 67, 54); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&lt;em&gt;&amp;lt;&amp;lt;&amp;lt;WAIT FOR THEM TO SPEAK&amp;gt;&amp;gt;&amp;gt;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&lt;em&gt;ONLY IF THEY ASK&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt; for more details on this new rule, you can reply with this:&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 255); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&lt;em&gt;As of January 1, most U.S. companies must report detailed ownership information under the &lt;u&gt;Corporate Transparency Act&lt;/u&gt;. This rule significantly impacts 97% of small business owners. Our tax specialist can go in more detail on that for you.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&lt;em&gt;If they say no to a LIVE&lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(244, 67, 54); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&lt;em&gt;, then follow up with one of the following &lt;u&gt;in this order&lt;/u&gt;:&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;&lt;em&gt; Okay, what time later today or tomorrow works for you?&lt;/em&gt;&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-size: 11pt;&quot;&gt;&lt;em&gt;If they still say no &lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;&lt;em&gt;I know time can be scarce, but this consultation is designed to help protect your investment- were going to provide you with a lot of valuable information and remember: it does come at &lt;u&gt;no additional cost&lt;/u&gt;, as it was part of your original business formation, so what time works best for you?&lt;/em&gt;&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Template_DunBrad_ADP</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(13, 13, 13); background-color: transparent;&quot;&gt;Hello, this is {!$User.FirstName} with &lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(13, 13, 13); background-color: transparent;&quot;&gt;{!formLeadSource}s&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(13, 13, 13); background-color: transparent;&quot;&gt; accounting partner, 1-800Accountant. Just a quick note, this call is being recorded for quality and training purposes.&lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt; &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(13, 13, 13); background-color: transparent;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(13, 13, 13); background-color: transparent;&quot;&gt;The reason Im reaching out is your &lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(13, 13, 13); background-color: transparent;&quot;&gt;{!formLeadSource}&apos;s {!formDunBradPackageName} service&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(13, 13, 13); background-color: transparent;&quot;&gt; includes a no-fee tax consultation to cover IRS compliance and bookkeeping strategies. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(13, 13, 13); background-color: transparent;&quot;&gt;We&apos;ll also go over other important topics such as your Entity Classification Election, looming deadlines, the new tax law that was enacted this year and potential deductions which may wind up saving you thousands of dollars.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(13, 13, 13); background-color: rgb(255, 255, 255);&quot;&gt;If you have about 30 minutes now, I can get you speaking to the right person to get this taken care of for you.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(244, 67, 54); background-color: transparent;&quot;&gt;&lt;em&gt;&amp;lt;&amp;lt;&amp;lt;WAIT FOR THEM TO SPEAK&amp;gt;&amp;gt;&amp;gt;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;&lt;em&gt;ONLY IF THEY ASK&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt; for more details on this new rule, you can reply with this:&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 255); background-color: transparent;&quot;&gt;&lt;em&gt;As of January 1, most U.S. companies must report detailed ownership information under the &lt;u&gt;Corporate Transparency Act&lt;/u&gt;.&amp;nbsp;This rule significantly impacts 97% of small business owners. Our tax specialist can go in more detail on that for you.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;&lt;em&gt;If they say no to a LIVE&lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(244, 67, 54); background-color: transparent;&quot;&gt;&lt;em&gt;, then follow up with one of the following &lt;u&gt;in this order&lt;/u&gt;:&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;&lt;em&gt; Okay, what time later today or tomorrow works for you?&lt;/em&gt;&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 11pt; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;&lt;em&gt;If they still say no &lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;&lt;em&gt;I know time can be scarce, but this consultation is designed to help protect your investment- were going to provide you with a lot of valuable information and remember: it does come at &lt;u&gt;no additional cost&lt;/u&gt;, as it was part of your original business formation, so what time works best for you?&lt;/em&gt;&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Template_Generic</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;em style=&quot;color: rgb(255, 0, 0); font-size: 14px; font-family: sans-serif;&quot;&gt;Use this template for any former partners&lt;/em&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px; font-family: sans-serif;&quot;&gt;.&lt;/span&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt; &lt;/span&gt;&lt;em style=&quot;font-family: sans-serif; font-size: 11pt; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;EXAMPLES: Swyft Filings, Legal Zoom, FileNow, MVF Global, MyCompanyWorks, etc &lt;/em&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 11pt; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;&lt;em&gt;( NEVER mention these companies by name)&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;Hello - This is {!$User.FirstName} with 1-800Accountant &lt;/span&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;calling on a recorded line&lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;.&amp;nbsp;Were calling you about your recent &lt;/span&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;business formation&lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt; which entitles you to a no-fee tax consultation. &lt;/span&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;We provide this service to all new businesses.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;We&apos;ll go over IRS compliance requirements, your Entity Classification Election, deadlines that may be coming up, plus the new law that was just implemented as of January 1st - Youre going to want to learn more about that as it is affecting most small businesses&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;I do have a Tax Specialist available now if you have about 30 minutes &lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;so we can get this taken care of for you &lt;/span&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(244, 67, 54); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&lt;em&gt;&amp;lt;&amp;lt;&amp;lt;WAIT FOR THEM TO SPEAK&amp;gt;&amp;gt;&amp;gt;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&lt;em&gt;(IF THEY ASK&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt; for more details on this new rule, you can reply with this):&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 255); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&lt;em&gt;As of January 1, most U.S. companies must report detailed ownership information under the &lt;u&gt;Corporate Transparency Act&lt;/u&gt;.&amp;nbsp;This rule significantly impacts 97% of small business owners. Our tax specialist can go in more detail on that for you.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&lt;em&gt;If they say no to a LIVE&lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(244, 67, 54); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&lt;em&gt;, then follow up with one of the following &lt;u&gt;in this order&lt;/u&gt;:&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;&lt;em&gt; Okay, what time later today or tomorrow works for you?&lt;/em&gt;&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-size: 11pt;&quot;&gt;&lt;em&gt;If they still say no &lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;&lt;em&gt;I know time can be scarce, but this consultation is designed to help protect your investment- were going to provide you with a lot of valuable information and remember: it does come at &lt;u&gt;no additional cost&lt;/u&gt;, as it was part of your original business formation, so what time works best for you?&lt;/em&gt;&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Template_GovtAssist_FloReg</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Hello - This is {!$User.FirstName} with 1-800Accountant &lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;calling on a recorded line&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;.&amp;nbsp;I&apos;m calling to schedule your tax consultation that was provided&lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt; as part of your expedited EIN filing{!formFloRegAddOnText}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;We&apos;ll go over IRS compliance requirements, your ECE,&amp;nbsp;deadlines that may be coming up, plus the new law that was just implemented as of January 1st - Youre going to want to learn more about that as it is affecting many small businesses&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;I do have a Tax Specialist available now if you have about 30 minutes &lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;so we can get this taken care of for you &lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(244, 67, 54); background-color: transparent;&quot;&gt;&lt;em&gt;&amp;lt;&amp;lt;&amp;lt;WAIT FOR THEM TO SPEAK&amp;gt;&amp;gt;&amp;gt;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;&lt;em&gt;(ONLY IF THEY ASK&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt; for more details on this new rule, you can reply with this):&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 255); background-color: transparent;&quot;&gt;&lt;em&gt;As of January 1, most U.S. companies must report detailed ownership information under the &lt;u&gt;Corporate Transparency Act&lt;/u&gt;.&amp;nbsp;This rule significantly impacts 97% of small business owners. Our tax specialist can go in more detail on that for you.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;&lt;em&gt;If they say no to a LIVE&lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(244, 67, 54); background-color: transparent;&quot;&gt;&lt;em&gt;, then follow up with one of the following &lt;u&gt;in this order&lt;/u&gt;:&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;&lt;em&gt; Okay, what time later today or tomorrow works for you?&lt;/em&gt;&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 11pt; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;&lt;em&gt;If they still say no &lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;&lt;em&gt;I know time can be scarce, but this consultation is designed to help protect your investment- were going to provide you with a lot of valuable information and remember: it does come at &lt;u&gt;no additional cost&lt;/u&gt;, as it was part of your original business formation, so what time works best for you?&lt;/em&gt;&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Template_Issue1099_Payee</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;Hello- This is {!$User.FirstName} with 1-800Accountant, &lt;/span&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;calling on a recorded line&lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; font-size: 11pt; color: rgb(255, 0, 0);&quot;&gt;Campaign Issue1099 Payee:&lt;/strong&gt;&lt;span style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;background-color: transparent; font-size: 11pt; color: rgb(0, 0, 0); font-family: Arial, sans-serif;&quot;&gt;We noticed that you just recently received a 1099 via email through 1-800accountant.&amp;nbsp;Just so you are aware, in the eyes of IRS, you are an owner of a small business, so the next step is to schedule your Tax Savings consultation to ensure you are taking advantage of any potential deductions available to you.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;We&apos;ll go over IRS compliance requirements, your ECE,&amp;nbsp;deadlines that may be coming up, plus the new law that was just implemented as of January 1st - Youre going to want to learn more about that as it is affecting most small businesses&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;I do have a Tax Specialist available now if you have about 30 minutes &lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;so we can get this taken care of for you &lt;/span&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(244, 67, 54); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&lt;em&gt;&amp;lt;&amp;lt;&amp;lt;WAIT FOR THEM TO SPEAK&amp;gt;&amp;gt;&amp;gt;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&lt;em&gt;ONLY IF THEY ASK&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt; for more details on this new rule, you can reply with this:&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 255); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&lt;em&gt;As of January 1, most U.S. companies must report detailed ownership information under the &lt;u&gt;Corporate Transparency Act&lt;/u&gt;.&amp;nbsp;This rule significantly impacts 97% of small business owners. Our tax specialist can go in more detail on that for you.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&lt;em&gt;If they say no to a LIVE&lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(244, 67, 54); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&lt;em&gt;, then follow up with one of the following &lt;u&gt;in this order&lt;/u&gt;:&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-size: 11pt;&quot;&gt;&lt;em&gt; &lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;&lt;em&gt;Okay, what time later today or tomorrow works for you?&lt;/em&gt;&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-size: 11pt;&quot;&gt;&lt;em&gt;If they still say no &lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;&lt;em&gt;I know time can be scarce, but this consultation is designed to help protect your investment- were going to provide you with a lot of valuable information and remember: it does come at &lt;u&gt;no additional cost&lt;/u&gt;, as it was part of your original business formation, so what time works best for you?&lt;/em&gt;&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Template_Issue_1099</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Hello- This is {!$User.FirstName} with 1-800Accountant, &lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;calling on a recorded line&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 11pt; background-color: transparent;&quot;&gt;Campaign Issue1099:&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt; We noticed that you just recently filled out a form on our website to generate 1099s.&amp;nbsp;The next step is to schedule your Tax Savings consultation which also covers compliance of those 1099s&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;We&apos;ll go over IRS compliance requirements, your ECE,&amp;nbsp;deadlines that may be coming up, plus the new law that was just implemented as of January 1st - Youre going to want to learn more about that as it is affecting most small businesses&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;I do have a Tax Specialist available now if you have about 30 minutes &lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;so we can get this taken care of for you &lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(244, 67, 54); background-color: transparent;&quot;&gt;&lt;em&gt;&amp;lt;&amp;lt;&amp;lt;WAIT FOR THEM TO SPEAK&amp;gt;&amp;gt;&amp;gt;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;&lt;em&gt;ONLY IF THEY ASK&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt; for more details on this new rule, you can reply with this:&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 255); background-color: transparent;&quot;&gt;&lt;em&gt;As of January 1, most U.S. companies must report detailed ownership information under the &lt;u&gt;Corporate Transparency Act&lt;/u&gt;.&amp;nbsp;This rule significantly impacts 97% of small business owners. Our tax specialist can go in more detail on that for you.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;&lt;em&gt;If they say no to a LIVE&lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(244, 67, 54); background-color: transparent;&quot;&gt;&lt;em&gt;, then follow up with one of the following &lt;u&gt;in this order&lt;/u&gt;:&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 11pt; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;&lt;em&gt; &lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;&lt;em&gt;Okay, what time later today or tomorrow works for you?&lt;/em&gt;&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 11pt; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;&lt;em&gt;If they still say no &lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;&lt;em&gt;I know time can be scarce, but this consultation is designed to help protect your investment- were going to provide you with a lot of valuable information and remember: it does come at &lt;u&gt;no additional cost&lt;/u&gt;, as it was part of your original business formation, so what time works best for you?&lt;/em&gt;&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Template_Live_Transfer_Rep_Note</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;&lt;em&gt;*For all &lt;u&gt;LIVE TRANSFERS&lt;/u&gt;*&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-size: 11pt; font-family: Arial, sans-serif;&quot;&gt;You MUST confirm if they have a partner or not. If they do, the partner MUST be available to join the call, or a LIVE cannot be transferred. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-size: 11pt; font-family: Arial, sans-serif;&quot;&gt;If they have a partner, and the partner is unavailable, you must set the appointment for a different time/date and they will need to invite the partner to the call.&lt;/strong&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 11pt; font-family: Arial, sans-serif;&quot;&gt;&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Template_Mylo_Primary</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;Hello - This is {!$User.FirstName} with 1-800Accountant &lt;/span&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;calling on a recorded line. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;The reason Im reaching out is to&lt;/span&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;schedule your no-cost tax consultation &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Roboto, sans-serif; font-size: 10.5pt;&quot;&gt;as part of the insurance package you purchased&lt;/span&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;.&lt;/span&gt;&lt;span style=&quot;background-color: transparent; color: rgb(13, 13, 13); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(13, 13, 13); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;We&apos;ll go over important topics such as your Entity Classification, looming deadlines, the new tax law that was enacted this year, and potential deductions which may wind up saving you thousands of dollars.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(13, 13, 13); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&lt;em&gt;If you have about 30 minutes now, I can get you speaking to the right person to get this taken care of for you.&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(13, 13, 13); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt; &lt;/em&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(244, 67, 54); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&lt;em&gt;&amp;lt;&amp;lt;&amp;lt;WAIT FOR THEM TO SPEAK&amp;gt;&amp;gt;&amp;gt;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&lt;em&gt;(ONLY IF THEY ASK&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt; for more details on this new rule, you can reply with this):&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 255); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&lt;em&gt;As of January 1, most U.S. companies must report detailed ownership information under the &lt;u&gt;Corporate Transparency Act&lt;/u&gt;.&amp;nbsp;This rule significantly impacts 97% of small business owners. Our tax specialist can go in more detail on that for you.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&lt;em&gt;If they say no to a LIVE&lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(244, 67, 54); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&lt;em&gt;, then follow up with one of the following &lt;u&gt;in this order&lt;/u&gt;:&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;&lt;em&gt;&lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;background-color: transparent; font-size: 11pt; color: rgb(255, 0, 0);&quot;&gt;&lt;em&gt; &lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;&lt;em&gt;Okay, what time later today or tomorrow works for you?&lt;/em&gt;&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-size: 11pt;&quot;&gt;&lt;em&gt;If they still say no &lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;&lt;em&gt;I know time can be scarce, but this consultation is designed to help protect your investment- were going to provide you with a lot of valuable information and remember: it does come at &lt;u&gt;no additional cost&lt;/u&gt;, as it was part of your original business formation, so what time works best for you?&lt;/em&gt;&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Template_NewBusiness</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Hello - This is {!$User.FirstName} with 1-800Accountant &lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;calling on a recorded line&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;.&amp;nbsp;Were calling you about the &lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;{!formEntityTypeOrBusiness} &lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;you recently registered {!formWithRegisteredAgent}. We provide a no-cost tax consultation for all new business owners. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;During this educational call, well review IRS compliance requirements, your Entity Classification Election, and deadlines you now face throughout the year. Our goal is to identify tax strategies and deductions that will save you thousands annually.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Are you available for 30 minutes now to speak with a tax specialist?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(244, 67, 54); background-color: transparent;&quot;&gt;&lt;em&gt;&amp;lt;&amp;lt;&amp;lt;WAIT FOR THEM TO SPEAK&amp;gt;&amp;gt;&amp;gt;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;&lt;em&gt;(IF THEY ASK&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt; for more details on this new rule, you can reply with this):&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 255); background-color: transparent;&quot;&gt;&lt;em&gt;As of January 1, most U.S. companies must report detailed ownership information under the &lt;u&gt;Corporate Transparency Act&lt;/u&gt;.&amp;nbsp;This rule significantly impacts 97% of small business owners. Our tax specialist can go in more detail on that for you.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;&lt;em&gt;If they say no to a LIVE&lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(244, 67, 54); background-color: transparent;&quot;&gt;&lt;em&gt;, then follow up with one of the following &lt;u&gt;in this order&lt;/u&gt;:&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;&lt;em&gt; Okay, what time later today or tomorrow works for you?&lt;/em&gt;&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 11pt; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;&lt;em&gt;If they still say no &lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;&lt;em&gt;I know time can be scarce, but this consultation is designed to help protect your investment- were going to provide you with a lot of valuable information and remember: it does come at &lt;u&gt;no additional cost&lt;/u&gt;, as it was part of your original business formation, so what time works best for you?&lt;/em&gt;&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Template_NewBusiness_NoShow_Cancelled</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(32, 33, 36); background-color: transparent;&quot;&gt;Hello! This is&lt;/span&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt; {!$User.FirstName} &lt;/span&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(32, 33, 36); background-color: transparent;&quot;&gt;with 1-800Accountant, &lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(32, 33, 36); background-color: transparent;&quot;&gt;calling on a recorded line.&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(32, 33, 36); background-color: transparent;&quot;&gt;It looks like we weren&apos;t able to connect for our previously scheduled appointment on {!No_Show_Cancelled_Appts.StartDateTime}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;If you recall, your business formation &lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;{!formWithRegisteredAgent}&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt; entitled you to a no-fee tax consultation.&amp;nbsp;Well go over IRS compliance requirements, your Entity Classification Election, any looming deadlines, plus the new law that was just implemented in January.&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;If you have about 30 minutes, we can get that taken care of for you now.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(244, 67, 54); background-color: transparent;&quot;&gt;&lt;em&gt;&amp;lt;&amp;lt;&amp;lt;WAIT FOR THEM TO SPEAK&amp;gt;&amp;gt;&amp;gt;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;[Whether they agree to be TRANSFERRED LIVE or ASK FOR A RESCHEDULE REAFFIRM URGENCY!!]&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Remember, the reason this call is important is because we go over IRS compliance requirements, your ECE, plus the new law that was implemented at the beginning of the year.&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;[IF THEY ASK for more details on the new law, reply with this]&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 255); background-color: transparent;&quot;&gt;&lt;em&gt;As of January 1, most U.S. companies must report detailed ownership information under the &lt;u&gt;Corporate Transparency Act&lt;/u&gt;.&amp;nbsp;This rule significantly impacts 97% of small business owners. Our tax specialist can go in more detail on that for you.&lt;/em&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt; 	&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;[IF THE Client does NOT agree to a LIVE transfer] &lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Okay, if youre busy now, how about later today or sometime tomorrow?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;[IF THE Client does NOT agree to a later day/tomorrow appointment] &lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;I know time can be scarce, but this consultation is designed to help protect your investment- were going to provide you with a lot of valuable information and remember it does come at no additional cost, as it was part of your original business formation, so what time works best for you?&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Template_NoShow_Cancelled</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(32, 33, 36); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;Hello - This is&lt;/span&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt; {!$User.FirstName} &lt;/span&gt;&lt;span style=&quot;background-color: transparent; color: rgb(32, 33, 36); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;with 1-800Accountant, &lt;/span&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(32, 33, 36); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;calling on a recorded line.&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;It looks like we werent able to connect for our previously scheduled appointment on &lt;/span&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;{!No_Show_Cancelled_Appts.StartDateTime}&lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;. Since it does cover important information, wed like to get that back on your calendar.&lt;/span&gt;&lt;span style=&quot;background-color: transparent; color: rgb(32, 33, 36); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;If you have 30 minutes now, I can get you transferred right over and we can get this taken care of for you now&lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(244, 67, 54); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&lt;em&gt;&amp;lt;&amp;lt;&amp;lt;WAIT FOR THEM TO SPEAK&amp;gt;&amp;gt;&amp;gt;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;[Whether they agree to be TRANSFERRED LIVE or ASK FOR A RESCHEDULE REAFFIRM URGENCY!!]&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;As a reminder, well be going over IRS compliance requirements, your Entity Classification Election, any looming deadlines, and the new law that was just implemented in January.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;[IF THEY ASK for more details on the new law, reply with this]&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 255); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&lt;em&gt;As of January 1, most U.S. companies must report detailed ownership information under the &lt;u&gt;Corporate Transparency Act&lt;/u&gt;.&amp;nbsp;This rule significantly impacts 97% of small business owners. Our tax specialist can go in more detail on that for you.&lt;/em&gt;&lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt; 	&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;[IF THE Client does NOT agree to a LIVE transfer] &lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;Okay, if youre busy now, how about later today or sometime tomorrow?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;[IF THE Client does NOT agree to a later day/tomorrow appointment] &lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;I know time can be scarce, but this consultation is designed to help protect your investment- were going to provide you with a lot of valuable information and remember it does come at no additional cost, as it was part of your original business formation, so what time works best for you?&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Template_Set_Appointment</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 11pt; color: rgb(244, 67, 54); background-color: transparent;&quot;&gt;&lt;em&gt;ONCE APPT HAS BEEN SET&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 11pt; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Okay, to confirm youre in the &lt;/span&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 11pt; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;{!formClientTimezone}&lt;/strong&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 11pt; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt; time zone, right?&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 11pt; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;And is this the best number to reach you?&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 11pt; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;And the email address I have on file for you is&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 11pt; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;{!formClientEmail}&lt;/strong&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 11pt; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt; - Is that correct?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 11pt; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Alright, &lt;/span&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 11pt; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;do you have any business partners?&amp;nbsp;&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(244, 67, 54); background-color: transparent;&quot;&gt;&lt;em&gt;ONLY if they say yes, reply with:&lt;/em&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Please be sure to invite your partner(s) to this call. This will be important to them as well.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Okay great, I am sending you an email confirmation now, and youll receive a courtesy text message about one hour before your scheduled time.&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Youre going to want to have something to take some notes with because they will be sharing with you a lot of important information.&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;If you are near your computer during the call, they can send you a link for a screen share, if youd like to follow along.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Okay, I have put your appointment on our tax specialist&apos;s calendar for 30 minutes.&amp;nbsp;Can you foresee any reason why you would not be able to attend the call?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;&lt;em&gt;(ONLY IF THEY SAY YES... &lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;&amp;nbsp;reply with the following and reschedule):&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 255); background-color: transparent;&quot;&gt;&lt;em&gt;Okay, if this time we picked is a concern, lets find another time that would work better for you.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Okay, Just to confirm,&lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt; I have your appointment on {!Recent_Event_Details.Local_Start_Time__c}.&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Thank you and have a great rest of your day!&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Template_SMB_Expo</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; color: rgb(0, 0, 0); background-color: transparent; font-family: Arial, sans-serif;&quot;&gt;Hello, I&apos;m {!$User.FirstName} from 1-800accountant &lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; color: rgb(0, 0, 0); background-color: transparent; font-family: Arial, sans-serif;&quot;&gt;calling on a recorded line&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; color: rgb(0, 0, 0); background-color: transparent; font-family: Arial, sans-serif;&quot;&gt;. I&apos;m giving you a call today because all business owners who registered at the &lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; color: rgb(0, 0, 0); background-color: transparent; font-family: Arial, sans-serif;&quot;&gt;Small Business Expo&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; color: rgb(0, 0, 0); background-color: transparent; font-family: Arial, sans-serif;&quot;&gt; in New York City on May 2nd, are entitled to a no-fee tax consultation.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; color: rgb(0, 0, 0); background-color: transparent; font-family: Arial, sans-serif;&quot;&gt;We will go over deadlines that are time sensitive, such as the BOI &lt;/span&gt;&lt;span style=&quot;font-size: 11pt; color: rgb(0, 0, 255); background-color: transparent; font-family: Arial, sans-serif;&quot;&gt;(Beneficial Ownership information)&lt;/span&gt;&lt;span style=&quot;font-size: 11pt; color: rgb(0, 0, 0); background-color: transparent; font-family: Arial, sans-serif;&quot;&gt; filing that was implemented this year, your Entity Classification Election, and any looming deadlines.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; color: rgb(0, 0, 0); background-color: transparent; font-family: Arial, sans-serif;&quot;&gt;We&apos;ll also go over some important deductions that could possibly save you thousands this year. The consultation &lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; color: rgb(0, 0, 0); background-color: transparent; font-family: Arial, sans-serif;&quot;&gt;only takes about 30 minutes and I can get you talking to a Tax Specialist now.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; color: rgb(0, 0, 0); background-color: transparent; font-family: Arial, sans-serif;&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; color: rgb(244, 67, 54); background-color: transparent; font-family: Arial, sans-serif;&quot;&gt;&lt;em&gt;&amp;lt;&amp;lt;&amp;lt;WAIT FOR THEM TO SPEAK&amp;gt;&amp;gt;&amp;gt;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; color: rgb(255, 0, 0); background-color: transparent; font-family: Arial, sans-serif;&quot;&gt;&lt;em&gt;(ONLY IF THEY ASK&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;font-size: 11pt; color: rgb(255, 0, 0); background-color: transparent; font-family: Arial, sans-serif;&quot;&gt; for more details on this new rule, you can reply with this):&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 255); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&lt;em&gt;As of January 1, most U.S. companies must report detailed ownership information under the &lt;u&gt;Corporate Transparency Act&lt;/u&gt;.&amp;nbsp;This rule significantly impacts 97% of small business owners. Our tax specialist can go in more detail on that for you.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&lt;em&gt;If they say no to a LIVE&lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(244, 67, 54); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&lt;em&gt;, then follow up with one of the following &lt;u&gt;in this order&lt;/u&gt;:&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;&lt;em&gt;&lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;background-color: transparent; font-size: 11pt; color: rgb(255, 0, 0);&quot;&gt;&lt;em&gt; &lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;&lt;em&gt;Okay, what time later today or tomorrow works for you?&lt;/em&gt;&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-size: 11pt;&quot;&gt;&lt;em&gt;If they still say no &lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;&lt;em&gt;I know time can be scarce, but this consultation is designed to help protect your investment- were going to provide you with a lot of valuable information and remember: it does come at &lt;u&gt;no additional cost&lt;/u&gt;, as it was part of your original business formation, so what time works best for you?&lt;/em&gt;&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Template_TailorBrands</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(13, 13, 13); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;Hello, this is {!$User.FirstName} with &lt;/span&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(13, 13, 13); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;{!formLeadSource}s&lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(13, 13, 13); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt; accounting partner, 1-800Accountant. Just a quick note, this call is being recorded for quality and training purposes&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(13, 13, 13); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;I&apos;m reaching out because we haven&apos;t yet scheduled your tax consultation, which was included as part of your original business formation with &lt;/span&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(13, 13, 13); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;{!formLeadSource}&lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(13, 13, 13); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;. We&apos;ll go over important topics such as IRS compliance requirements, your ECE, looming deadlines, potential deductions, and also go over the new tax law that was enacted this year.&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;I do have a Tax Specialist available now if you have about 30 minutes &lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;so we can get this taken care of for you &lt;/span&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(244, 67, 54); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&lt;em&gt;&amp;lt;&amp;lt;&amp;lt;WAIT FOR THEM TO SPEAK&amp;gt;&amp;gt;&amp;gt;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&lt;em&gt;(ONLY IF THEY ASK&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt; for more details on this new rule, you can reply with this):&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 255); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&lt;em&gt;As of January 1, most U.S. companies must report detailed ownership information under the &lt;u&gt;Corporate Transparency Act&lt;/u&gt;.&amp;nbsp;This rule significantly impacts 97% of small business owners. Our tax specialist can go in more detail on that for you.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&lt;em&gt;If they say no to a LIVE&lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(244, 67, 54); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&lt;em&gt;, then follow up with one of the following &lt;u&gt;in this order&lt;/u&gt;:&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(152, 0, 0); font-size: 11pt;&quot;&gt;&lt;em&gt; &lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;&lt;em&gt;Okay, what time later today or tomorrow works for you?&lt;/em&gt;&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-size: 11pt;&quot;&gt;&lt;em&gt;If they still say no &lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;&lt;em&gt;I know time can be scarce, but this consultation is designed to help protect your investment- were going to provide you with a lot of valuable information and remember: it does come at &lt;u&gt;no additional cost&lt;/u&gt;, as it was part of your original business formation, so what time works best for you?&lt;/em&gt;&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Template_Tax_Hotline</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: Arial, sans-serif; background-color: transparent; color: rgb(13, 13, 13); font-size: 11pt;&quot;&gt;Hello, this is {!$User.FirstName} with &lt;/span&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; background-color: transparent; color: rgb(13, 13, 13); font-size: 11pt;&quot;&gt;{!formLeadSource}s&lt;/strong&gt;&lt;span style=&quot;font-family: Arial, sans-serif; background-color: transparent; color: rgb(13, 13, 13); font-size: 11pt;&quot;&gt; accounting partner, 1-800Accountant. Just a quick note, this call is being recorded for quality and training purposes.&lt;/span&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; background-color: transparent; color: rgb(0, 0, 0); font-size: 11pt;&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-family: Arial, sans-serif; background-color: transparent; color: rgb(0, 0, 0); font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, sans-serif; background-color: transparent; color: rgb(13, 13, 13); font-size: 11pt;&quot;&gt;Your original &lt;/span&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; background-color: transparent; color: rgb(13, 13, 13); font-size: 11pt;&quot;&gt;Tax Hotline Service&lt;/strong&gt;&lt;span style=&quot;font-family: Arial, sans-serif; background-color: transparent; color: rgb(13, 13, 13); font-size: 11pt;&quot;&gt; package purchase also came with a no-cost tax consultation. I&apos;m reaching out to get that scheduled.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, sans-serif; background-color: transparent; color: rgb(13, 13, 13); font-size: 11pt;&quot;&gt;We&apos;ll go over important topics such as your Entity Classification Election, looming deadlines, potential deductions, and the new tax law that was enacted this year.&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; background-color: transparent; color: rgb(255, 0, 0); font-size: 11pt;&quot;&gt;&lt;em&gt;(ONLY IF THEY ASK&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;font-family: Arial, sans-serif; background-color: transparent; color: rgb(255, 0, 0); font-size: 11pt;&quot;&gt; for more details about the &lt;u&gt;TAX HOTLINE&lt;/u&gt; service):&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; background-color: transparent; color: rgb(0, 0, 255); font-size: 11pt;&quot;&gt;&lt;em&gt;The Tax Hotline service gives you the ability to set an appointment through Zen where you can get a limited session with an accountant. It was part of the package you purchased.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; background-color: transparent; color: rgb(0, 0, 0); font-size: 11pt;&quot;&gt;I have our Tax Specialist available now if you have about 30 minutes &lt;/strong&gt;&lt;span style=&quot;font-family: Arial, sans-serif; background-color: transparent; color: rgb(0, 0, 0); font-size: 11pt;&quot;&gt;so we can get this taken care of for you &lt;/span&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; background-color: transparent; color: rgb(244, 67, 54); font-size: 11pt;&quot;&gt;&lt;em&gt;&amp;lt;&amp;lt;&amp;lt;WAIT FOR THEM TO SPEAK&amp;gt;&amp;gt;&amp;gt;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; background-color: transparent; color: rgb(255, 0, 0); font-size: 11pt;&quot;&gt;&lt;em&gt;(ONLY IF THEY ASK&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;font-family: Arial, sans-serif; background-color: transparent; color: rgb(255, 0, 0); font-size: 11pt;&quot;&gt; for more details on this new rule, you can reply with this):&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 255); background-color: transparent;&quot;&gt;&lt;em&gt;As of January 1, most U.S. companies must report detailed ownership information under the &lt;u&gt;Corporate Transparency Act&lt;/u&gt;.&amp;nbsp;This rule significantly impacts 97% of small business owners. Our tax specialist can go in more detail on that for you.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;&lt;em&gt;If they say no to a LIVE&lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(244, 67, 54); background-color: transparent;&quot;&gt;&lt;em&gt;, then follow up with one of the following &lt;u&gt;in this order&lt;/u&gt;:&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;&lt;em&gt;&lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 11pt; background-color: transparent; color: rgb(255, 0, 0);&quot;&gt;&lt;em&gt; &lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;&lt;em&gt;Okay, what time later today or tomorrow works for you?&lt;/em&gt;&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 11pt; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;&lt;em&gt;If they still say no &lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;&lt;em&gt;I know time can be scarce, but this consultation is designed to help protect your investment- were going to provide you with a lot of valuable information and remember: it does come at &lt;u&gt;no additional cost&lt;/u&gt;, as it was part of your original business formation, so what time works best for you?&lt;/em&gt;&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Template_UENI</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;Hello - This is {!$User.FirstName} with 1-800Accountant &lt;/span&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;calling on a recorded line. &lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;We&apos;re accounting partners with &lt;/span&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;{!formLeadSource}&lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;, the company working on your website. We&apos;re calling to schedule your no-fee tax consultation that&apos;s included in your service. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;You may not know this, but the website package you purchased for your business may be 100% tax deductible, so this call will help you get even more out of your original investment.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;We&apos;ll go over important topics such as your Entity Classification Election, looming deadlines, the new tax law that was enacted this year, and potential deductions which may wind up saving you thousands of dollars.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(13, 13, 13); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&lt;em&gt;If you have about 30 minutes now, I can get you speaking to the right person to get this taken care of for you.&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(13, 13, 13); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt; &lt;/em&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(244, 67, 54); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&lt;em&gt;&amp;lt;&amp;lt;&amp;lt;WAIT FOR THEM TO SPEAK&amp;gt;&amp;gt;&amp;gt;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&lt;em&gt;(ONLY IF THEY ASK&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt; for more details on this new rule, you can reply with this):&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 255); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&lt;em&gt;As of January 1, most U.S. companies must report detailed ownership information under the &lt;u&gt;Corporate Transparency Act&lt;/u&gt;.&amp;nbsp;This rule significantly impacts 97% of small business owners. Our tax specialist can go in more detail on that for you.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&lt;em&gt;If they say no to a LIVE&lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(244, 67, 54); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;&lt;em&gt;, then follow up with one of the following &lt;u&gt;in this order&lt;/u&gt;:&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;&lt;em&gt;&lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;background-color: transparent; font-size: 11pt; color: rgb(255, 0, 0);&quot;&gt;&lt;em&gt; &lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;&lt;em&gt;Okay, what time later today or tomorrow works for you?&lt;/em&gt;&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-size: 11pt;&quot;&gt;&lt;em&gt;If they still say no &lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;&lt;em&gt;I know time can be scarce, but this consultation is designed to help protect your investment- were going to provide you with a lot of valuable information and remember: it does come at &lt;u&gt;no additional cost&lt;/u&gt;, as it was part of your original business formation, so what time works best for you?&lt;/em&gt;&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Template_ZB_IncAuth</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(13, 13, 13); background-color: transparent;&quot;&gt;Hello, this is {!$User.FirstName} with &lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(13, 13, 13); background-color: transparent;&quot;&gt;{!formLeadSource}s&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(13, 13, 13); background-color: transparent;&quot;&gt; accounting partner, 1-800Accountant. Just a quick note, this call is being recorded for quality and training purposes&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(13, 13, 13); background-color: transparent;&quot;&gt;I&apos;m reaching out because we haven&apos;t yet scheduled your no-cost tax consultation, which was included as part of your &lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(13, 13, 13); background-color: transparent;&quot;&gt;{!formEntityTypeOrBusiness}&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(13, 13, 13); background-color: transparent;&quot;&gt; registration with &lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(13, 13, 13); background-color: transparent;&quot;&gt;{!formLeadSource} {!formIncAuthPackageName}&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(13, 13, 13); background-color: transparent;&quot;&gt;. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(13, 13, 13); background-color: transparent;&quot;&gt;We&apos;ll go over important topics such as Entity Classification Election, looming deadlines, potential deductions, and the new tax law that was enacted this year.&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;I do have a Tax Specialist available now if you have about 30 minutes &lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;so we can get this taken care of for you &lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(244, 67, 54); background-color: transparent;&quot;&gt;&lt;em&gt;&amp;lt;&amp;lt;&amp;lt;WAIT FOR THEM TO SPEAK&amp;gt;&amp;gt;&amp;gt;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;&lt;em&gt;(ONLY IF THEY ASK&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt; for more details on this new rule, you can reply with this):&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 255); background-color: transparent;&quot;&gt;&lt;em&gt;As of January 1, most U.S. companies must report detailed ownership information under the &lt;u&gt;Corporate Transparency Act&lt;/u&gt;.&amp;nbsp;This rule significantly impacts 97% of small business owners. Our tax specialist can go in more detail on that for you.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;&lt;em&gt;If they say no to a LIVE&lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(244, 67, 54); background-color: transparent;&quot;&gt;&lt;em&gt;, then follow up with one of the following &lt;u&gt;in this order&lt;/u&gt;:&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 11pt; color: rgb(152, 0, 0); background-color: transparent;&quot;&gt;&lt;em&gt; &lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;&lt;em&gt;Okay, what time later today or tomorrow works for you?&lt;/em&gt;&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 11pt; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;&lt;em&gt;If they still say no &lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;&lt;em&gt;I know time can be scarce, but this consultation is designed to help protect your investment- were going to provide you with a lot of valuable information and remember: it does come at &lt;u&gt;no additional cost&lt;/u&gt;, as it was part of your original business formation, so what time works best for you?&lt;/em&gt;&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCollPartnerSubNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
