force-app/main/default/flows/Lead_Custom_Conversion_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Used to avert Mixed DML Error</description>
        <name>Commit_Earlier_DML_Actions</name>
        <label>Commit Earlier DML Actions</label>
        <locationX>2382</locationX>
        <locationY>4910</locationY>
        <actionName>c:CommitTransaction</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Revoke_Override_Permissions</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:CommitTransaction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Used to avert Mixed DML error</description>
        <name>Commit_Permission_Assignment</name>
        <label>Commit Permission Assignment</label>
        <locationX>2382</locationX>
        <locationY>242</locationY>
        <actionName>c:CommitTransaction</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Get_Latest_Past_TSA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:CommitTransaction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Returns DateTime value for Present Hour Mark, Half Hour Mark or Upcoming Hour Mark based on Minute value of Now() ( Less than 15, 15 to 45 or 46 to 59)</description>
        <name>Set_Nearest_Half_Hour_Mark</name>
        <label>Set Nearest Half Hour Mark</label>
        <locationX>3042</locationX>
        <locationY>2930</locationY>
        <actionName>Return30MinDateTime</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_a_Live_TSA</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Display_Flow_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>Return30MinDateTime</nameSegment>
        <outputParameters>
            <assignToReference>varNearestHalfHourMark</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Set_Event_Record_Variable</name>
        <label>Set Event Record Variable</label>
        <locationX>2184</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varExistingTSA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Latest_Past_TSA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TSA_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Event_Record_Variable2</name>
        <label>Set Event Record Variable</label>
        <locationX>2448</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varExistingTSA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Earliest_Future_TSA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TSA_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Existing_Appt_Variable</name>
        <label>Set Existing Appt Variable</label>
        <locationX>3768</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>varExistingAppt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Future_TSA_or_Formation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ask_Conducting_Live</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Existing_Appt_Variable2</name>
        <label>Set Existing Appt Variable</label>
        <locationX>3328</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>varExistingAppt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Todays_No_Show_or_Blank_Dispo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ask_Conducting_Live</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Save updated Company value to the Record Variable</description>
        <name>Set_Lead_Company</name>
        <label>Set Lead Company</label>
        <locationX>1964</locationX>
        <locationY>4286</locationY>
        <assignmentItems>
            <assignToReference>recordId.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Update_Required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Save updated Name and values to the Record Variable</description>
        <name>Set_Lead_Name</name>
        <label>Set Lead Name</label>
        <locationX>2228</locationX>
        <locationY>4286</locationY>
        <assignmentItems>
            <assignToReference>recordId.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Update_Required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lead_Owner_to_Rep</name>
        <label>Set Lead Owner to Rep</label>
        <locationX>2250</locationX>
        <locationY>3770</locationY>
        <assignmentItems>
            <assignToReference>recordId.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.VR_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaToggleVR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Shell_Lead_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Save updated Name and Company values to the Collection Variable</description>
        <name>Set_Lead_Variables</name>
        <label>Set Lead Variables</label>
        <locationX>1700</locationX>
        <locationY>4286</locationY>
        <assignmentItems>
            <assignToReference>recordId.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Update_Required</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>constBaseUrl</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://1800accountant--arunewsb.sandbox.lightning.force.com/lightning/cmp/runtime_sales_lead__convertDesktopConsole?leadConvert__leadId=</stringValue>
        </value>
    </constants>
    <constants>
        <name>constEAPIUserId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005f100000IPiGhAAL</stringValue>
        </value>
    </constants>
    <constants>
        <name>constSetAuditFieldPermissionSetID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0PSO80000011WDN</stringValue>
        </value>
    </constants>
    <constants>
        <name>constTaxConsultationRTId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012j0000000LBPvAAO</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Conducting_Live</name>
        <label>Conducting Live ?</label>
        <locationX>3614</locationX>
        <locationY>1982</locationY>
        <defaultConnector>
            <targetReference>Display_Cannot_Convert_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Live</defaultConnectorLabel>
        <rules>
            <name>Inbound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_you_conducting_a_Live</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exisiting_Event_Owner_Check</targetReference>
            </connector>
            <label>Live</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exisiting_Event_Owner_Check</name>
        <label>Exisiting Event Owner Check</label>
        <locationX>3042</locationX>
        <locationY>2090</locationY>
        <defaultConnector>
            <targetReference>Set_Nearest_Half_Hour_Mark</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Other Appts</defaultConnectorLabel>
        <rules>
            <name>Not_Assigned_to_Rep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingAppt.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formVarExistingApptOwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Existing_Appointment</targetReference>
            </connector>
            <label>Not Assigned to Rep</label>
        </rules>
        <rules>
            <name>Appt_Assigned_to_Rep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingAppt.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formVarExistingApptOwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>No_Show_Check</targetReference>
            </connector>
            <label>Appt Assigned to Rep</label>
        </rules>
    </decisions>
    <decisions>
        <name>Future_Appts_Null_Check</name>
        <label>Future Appts Null Check</label>
        <locationX>3614</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Set_Existing_Appt_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Future Appt Found</defaultConnectorLabel>
        <rules>
            <name>No_Future_Appts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Future_TSA_or_Formation.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Todays_No_Show_or_Blank_Dispo</targetReference>
            </connector>
            <label>No Future Appts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Future_Time_Window_Check</name>
        <label>Future Time Window Check</label>
        <locationX>2580</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>TSA_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No TSA Next Half Hour</defaultConnectorLabel>
        <rules>
            <name>Next_Half_Hour_Mark_TSA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Earliest_Future_TSA.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formMinutesToTSAstart</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Event_Record_Variable2</targetReference>
            </connector>
            <label>Next Half Hour Mark TSA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Fields_to_Update</name>
        <label>Lead Fields to Update</label>
        <locationX>2096</locationX>
        <locationY>4178</locationY>
        <defaultConnector>
            <targetReference>Lead_Update_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Updates</defaultConnectorLabel>
        <rules>
            <name>Name_and_Company</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formEligibleLeadName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formEligibleCompanyName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lead_Variables</targetReference>
            </connector>
            <label>Name and Company</label>
        </rules>
        <rules>
            <name>Company_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formEligibleCompanyName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lead_Company</targetReference>
            </connector>
            <label>Company Only</label>
        </rules>
        <rules>
            <name>Name_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formEligibleLeadName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lead_Name</targetReference>
            </connector>
            <label>Name Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Owner_Check</name>
        <label>Lead Owner Check</label>
        <locationX>2382</locationX>
        <locationY>3662</locationY>
        <defaultConnector>
            <targetReference>Shell_Lead_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formLeadOwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lead_Owner_to_Rep</targetReference>
            </connector>
            <label>Not Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Update_Required</name>
        <label>Lead Update Required?</label>
        <locationX>2382</locationX>
        <locationY>4562</locationY>
        <defaultConnector>
            <targetReference>Commit_Earlier_DML_Actions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Lead</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Set_Lead_Owner_to_Rep</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Display_Fields_to_Fix</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fix_Lead_Fields</targetReference>
            </connector>
            <label>Update Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Show_Check</name>
        <label>No Show Check</label>
        <locationX>2250</locationX>
        <locationY>2414</locationY>
        <defaultConnector>
            <targetReference>Set_Nearest_Half_Hour_Mark</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Show Appt</defaultConnectorLabel>
        <rules>
            <name>Non_No_Show_Appt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingAppt.Appointment_Disposition__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No Show</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_Existing_Appt_Rescheduled</targetReference>
            </connector>
            <label>Non No Show Appt</label>
        </rules>
    </decisions>
    <decisions>
        <description>Null Check</description>
        <name>No_Show_or_Blank_Check</name>
        <label>No Show or Blank Check</label>
        <locationX>3460</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Ask_Conducting_Live</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Past Appts from Today</defaultConnectorLabel>
        <rules>
            <name>No_Show_or_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Todays_No_Show_or_Blank_Dispo.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Existing_Appt_Variable2</targetReference>
            </connector>
            <label>No Show or Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Past_Time_Window_Check</name>
        <label>Past Time Window Check</label>
        <locationX>2382</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_Earliest_Future_TSA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No TSA Past Half Hour</defaultConnectorLabel>
        <rules>
            <name>Past_Half_Hour_Mark_TSA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_Past_TSA.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formMinutesSinceTSAstart</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Event_Record_Variable</targetReference>
            </connector>
            <label>Past Half Hour Mark TSA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shell_Lead_Check</name>
        <label>Shell Lead Check</label>
        <locationX>2382</locationX>
        <locationY>3962</locationY>
        <defaultConnector>
            <targetReference>Lead_Update_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fix_Fields</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>formEligibleLeadName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formEligibleCompanyName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Fields_to_Fix</targetReference>
            </connector>
            <label>Fix Fields</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transferred_or_Pitch</name>
        <label>Transferred or Pitch?</label>
        <locationX>2602</locationX>
        <locationY>2306</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Revoke_Override_Permissions2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Continue_to_Pitch2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Continue_to_Pitch.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pitch</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Show_Check</targetReference>
            </connector>
            <label>Continue to Pitch</label>
        </rules>
        <rules>
            <name>Live_Transferred</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Live_Transfer.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transferred</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Revoke_Override_Permissions2</targetReference>
            </connector>
            <label>Live Transferred</label>
        </rules>
    </decisions>
    <decisions>
        <name>TSA_Check</name>
        <label>TSA Check</label>
        <locationX>2382</locationX>
        <locationY>1058</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Live_TSA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingTSA.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varExistingTSA.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Live</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TSA_Owner_Check</targetReference>
            </connector>
            <label>Live TSA</label>
        </rules>
        <rules>
            <name>Regular_TSA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingTSA.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TSA_Time_and_Owner_Check</targetReference>
            </connector>
            <label>Regular TSA</label>
        </rules>
        <rules>
            <name>No_TSA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingTSA.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Future_TSA_or_Formation</targetReference>
            </connector>
            <label>No TSA</label>
        </rules>
    </decisions>
    <decisions>
        <name>TSA_Owner_Check</name>
        <label>TSA Owner Check</label>
        <locationX>314</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Lead_Owner_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_TSA_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formVarExistingTSAOwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Live_TSA</targetReference>
            </connector>
            <label>Not Owner</label>
        </rules>
    </decisions>
    <decisions>
        <description>Can convert only 7 mins before TSA Start or within the Appointment window</description>
        <name>TSA_Time_and_Owner_Check</name>
        <label>TSA Time and Owner Check</label>
        <locationX>1238</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Future_TSA_or_Formation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Eligible</defaultConnectorLabel>
        <rules>
            <name>Eligible_Owner_and_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formulaNow</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>form7MinsBeforeStart</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formulaNow</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varExistingTSA.EndDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formVarExistingTSAOwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Owner_Check</targetReference>
            </connector>
            <label>Eligible Owner and Time</label>
        </rules>
        <rules>
            <name>Eligible_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formVarExistingTSAOwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formulaNow</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>form7MinsBeforeStart</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Disposition_Existing_TSA_Rescheduled</targetReference>
            </connector>
            <label>Eligible Owner</label>
        </rules>
        <rules>
            <name>Eligible_Time_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formulaNow</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>form7MinsBeforeStart</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formulaNow</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varExistingTSA.EndDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Display_Cannot_Convert_Message</targetReference>
            </connector>
            <label>Eligible Time Only</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>form7MinsBeforeStart</name>
        <dataType>DateTime</dataType>
        <expression>{!varExistingTSA.StartDateTime}- (7/1440)</expression>
    </formulas>
    <formulas>
        <name>formEligibleCompanyName</name>
        <dataType>Boolean</dataType>
        <expression>NOT(
OR(
ISBLANK({!recordId.Company}),
{!recordId.Company} = &apos;***INSERT COMPANY NAME***&apos;,
Lower({!recordId.Company}) = &apos;none&apos;,
Lower({!recordId.Company}) = &apos;na&apos;,
Lower({!recordId.Company}) = &apos;n/a&apos;,
Lower({!recordId.Company}) = &apos;no business&apos;,
CONTAINS({!recordId.Company},&apos;Personal&apos;)
))</expression>
    </formulas>
    <formulas>
        <name>formEligibleLeadName</name>
        <dataType>Boolean</dataType>
        <expression>NOT(OR(
{!recordId.FirstName} = &apos;***INSERT FIRST NAME***&apos;,
ISBLANK({!recordId.FirstName}),
{!recordId.LastName} = &apos;***INSERT LAST NAME***&apos;,
ISBLANK({!recordId.LastName})))</expression>
    </formulas>
    <formulas>
        <name>formLeadConvertPageLink</name>
        <dataType>String</dataType>
        <expression>{!constBaseUrl}+{!recordId.Id}+&quot;&amp;ws=%2Flightning%2Fr%2FLead%2F&quot;+{!recordId.Id}+&quot;%2Fview&quot;</expression>
    </formulas>
    <formulas>
        <name>formLeadOwnerId</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordId.OwnerId},15)</expression>
    </formulas>
    <formulas>
        <name>formMinutesSinceTSAstart</name>
        <dataType>Number</dataType>
        <expression>(Now() - {!Get_Latest_Past_TSA.StartDateTime})*24*60</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formMinutesToTSAstart</name>
        <dataType>Number</dataType>
        <expression>({!Get_Earliest_Future_TSA.StartDateTime}-Now())*24*60</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Phrase &quot;was dispositioned No Show&quot; to be appended to Display message</description>
        <name>formTextNoShow</name>
        <dataType>String</dataType>
        <expression>IF(TEXT( {!Todays_No_Show_or_Blank_Dispo.Appointment_Disposition__c})= &apos;No Show&apos;, &quot; that was dispositioned No Show&quot;,
IF(AND({!No_Future_Appts},ISBLANK(TEXT( {!Todays_No_Show_or_Blank_Dispo.Appointment_Disposition__c}))),&quot; that was not dispositioned&quot;,&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>formToday</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <name>formulaNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>formulaToggleVR</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!recordId.VR_Override__c})</expression>
    </formulas>
    <formulas>
        <name>formVarExistingApptOwnerId</name>
        <dataType>String</dataType>
        <expression>LEFT({!varExistingAppt.OwnerId},15)</expression>
    </formulas>
    <formulas>
        <name>formVarExistingTSAOwnerId</name>
        <dataType>String</dataType>
        <expression>LEFT({!varExistingTSA.OwnerId},15)</expression>
    </formulas>
    <interviewLabel>Lead - Custom Conversion Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Custom Conversion Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_Live_TSA</name>
        <label>Create a Live TSA</label>
        <locationX>3042</locationX>
        <locationY>3038</locationY>
        <connector>
            <targetReference>Lead_Owner_Check</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Flow_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDateTime</field>
            <value>
                <elementReference>varNearestHalfHourMark</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>recordId.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedById</field>
            <value>
                <elementReference>constEAPIUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribute_Date__c</field>
            <value>
                <elementReference>recordId.Distribute_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationInMinutes</field>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source__c</field>
            <value>
                <elementReference>recordId.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Type_New__c</field>
            <value>
                <elementReference>recordId.Lead_Type_New__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Tracking__c</field>
            <value>
                <stringValue>Self Set</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>constTaxConsultationRTId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShowAs</field>
            <value>
                <stringValue>Busy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>varNearestHalfHourMark</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Live 1on1 Sales Appointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Appointment__c</field>
            <value>
                <stringValue>Tax Savings Analysis</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get TSA or Formation Appointment from future.</description>
        <name>Future_TSA_or_Formation</name>
        <label>Future TSA or Formation</label>
        <locationX>3614</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Future_Appts_Null_Check</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4 AND 5 AND 6</filterLogic>
        <filters>
            <field>Type_of_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tax Savings Analysis</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_of_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Formation Consultation</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Appointment_Disposition__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rescheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Appointment_Disposition__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>StartDateTime</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>formulaNow</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <sortField>ActivityDateTime</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Earliest_Future_TSA</name>
        <label>Get Earliest Future TSA</label>
        <locationX>2580</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Future_Time_Window_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type_of_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tax Savings Analysis</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDateTime</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>formulaNow</elementReference>
            </value>
        </filters>
        <filters>
            <field>Appointment_Disposition__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <sortField>StartDateTime</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Past_TSA</name>
        <label>Get Latest Past TSA</label>
        <locationX>2382</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Past_Time_Window_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type_of_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tax Savings Analysis</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDateTime</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>formulaNow</elementReference>
            </value>
        </filters>
        <filters>
            <field>Appointment_Disposition__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <sortField>StartDateTime</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get TSA or Formation Appointment from today - No Show or Blank Disposition</description>
        <name>Todays_No_Show_or_Blank_Dispo</name>
        <label>Today&apos;s No Show or Blank Dispo</label>
        <locationX>3460</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Show_or_Blank_Check</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND (4 OR 5) AND 6 AND 7</filterLogic>
        <filters>
            <field>Type_of_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tax Savings Analysis</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_of_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Formation Consultation</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Appointment_Disposition__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No Show</stringValue>
            </value>
        </filters>
        <filters>
            <field>Appointment_Disposition__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StartDateTime</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>formulaNow</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formToday</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <sortField>ActivityDateTime</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Disposition_Existing_TSA_Rescheduled</name>
        <label>Disposition Existing TSA Rescheduled</label>
        <locationX>930</locationX>
        <locationY>1274</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Nearest_Half_Hour_Mark</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Display_Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varExistingTSA.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Appointment_Disposition__c</field>
            <value>
                <stringValue>Rescheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShowAs</field>
            <value>
                <stringValue>Busy</stringValue>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <recordUpdates>
        <name>Fix_Lead_Fields</name>
        <label>Fix Lead Fields</label>
        <locationX>2118</locationX>
        <locationY>4670</locationY>
        <connector>
            <targetReference>Commit_Earlier_DML_Actions</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Display_Flow_Error</targetReference>
        </faultConnector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Mark_Existing_Appt_Rescheduled</name>
        <label>Mark Existing Appt Rescheduled</label>
        <locationX>1986</locationX>
        <locationY>2522</locationY>
        <connector>
            <targetReference>Set_Nearest_Half_Hour_Mark</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Display_Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varExistingAppt.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Appointment_Disposition__c</field>
            <value>
                <stringValue>Rescheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShowAs</field>
            <value>
                <stringValue>Free</stringValue>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Live_TSA</name>
        <label>Update Live TSA</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>Lead_Owner_Check</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Display_Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varExistingTSA.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <screens>
        <name>Ask_Conducting_Live</name>
        <label>Ask Conducting Live?</label>
        <locationX>3614</locationX>
        <locationY>1874</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Conducting_Live</targetReference>
        </connector>
        <fields>
            <name>Logo2_1800A</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>50</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Are_you_conducting_a_Live</name>
            <choiceReferences>choiceYes</choiceReferences>
            <choiceReferences>choiceNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you conducting a Live?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Display_Warning</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10px; color: rgb(228, 13, 13);&quot;&gt;**Select &apos;Yes&apos; only if you are actively talking to the Prospect**&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Cannot_Convert_Message</name>
        <label>Display Cannot Convert Message</label>
        <locationX>4186</locationX>
        <locationY>2090</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Revoke_Override_Permissions3</targetReference>
        </connector>
        <fields>
            <name>Logo3_1800A</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>50</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DisplayErrorMessage1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(15, 1, 15);&quot;&gt;You cannot convert this lead unless a TSA is assigned to you or a live pitch is being conducted. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Existing_Appointment</name>
        <label>Display Existing Appointment</label>
        <locationX>2602</locationX>
        <locationY>2198</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Transferred_or_Pitch</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Logo3_1800A</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>50</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Display_Existing_Appointment_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_Existing_Appointment_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Display_Existing_Appt_Details</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(3, 11, 0); background-color: transparent; font-size: 20px;&quot;&gt;We found a {!varExistingAppt.Type_of_Appointment__c} appointment scheduled for {!varExistingAppt.StartDateTime} assigned to {!varExistingAppt.Assigned_To__c}{!formTextNoShow}.&lt;/span&gt;&lt;strong style=&quot;color: rgb(3, 11, 0); background-color: transparent; font-size: 20px;&quot;&gt; &lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(3, 11, 0); background-color: transparent; font-size: 20px;&quot;&gt;Per the rules of Engagement, you must reach out to&amp;nbsp;&lt;/span&gt;&lt;u style=&quot;color: rgb(3, 11, 0); background-color: transparent; font-size: 20px;&quot;&gt;{!varExistingAppt.Assigned_To__c}&lt;/u&gt;&lt;span style=&quot;color: rgb(3, 11, 0); background-color: transparent; font-size: 20px;&quot;&gt; and &lt;/span&gt;&lt;u style=&quot;color: rgb(3, 11, 0); background-color: transparent; font-size: 20px;&quot;&gt;{!varExistingAppt.Sales_Manager__c}&lt;/u&gt;&lt;strong style=&quot;color: rgb(3, 11, 0); background-color: transparent; font-size: 20px;&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(3, 11, 0); background-color: transparent; font-size: 20px;&quot;&gt;in GChat to see if they are available to speak to the prospect&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Existing_Appointment_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_Existing_Appointment_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Transferred</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; background-color: transparent; color: rgb(3, 11, 0);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 20px; background-color: transparent; color: rgb(3, 11, 0);&quot;&gt;If they are available, Live Transfer the prospect over and click &lt;/span&gt;&lt;strong style=&quot;font-size: 20px; background-color: transparent; color: rgb(3, 11, 0);&quot;&gt;Exit&lt;/strong&gt;&lt;span style=&quot;font-size: 20px; background-color: transparent; color: rgb(3, 11, 0);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Live_Transfer</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Exit&quot;,&quot;value&quot;:&quot;Transferred&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Display_Existing_Appointment_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Display_Existing_Appointment_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Pitched</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(3, 11, 0); font-size: 20px; background-color: transparent;&quot;&gt;If {!varExistingAppt.Assigned_To__c} and {!varExistingAppt.Sales_Manager__c} do not respond within 60 seconds&lt;/span&gt;&lt;em style=&quot;color: rgb(3, 11, 0); font-size: 20px; background-color: transparent;&quot;&gt;, &lt;/em&gt;&lt;span style=&quot;color: rgb(3, 11, 0); font-size: 20px; background-color: transparent;&quot;&gt;click &lt;/span&gt;&lt;strong style=&quot;color: rgb(3, 11, 0); font-size: 20px; background-color: transparent;&quot;&gt;Pitch&lt;/strong&gt;&lt;span style=&quot;color: rgb(3, 11, 0); font-size: 20px; background-color: transparent;&quot;&gt;.&lt;/span&gt;&lt;strong style=&quot;color: rgb(3, 11, 0); font-size: 20px; background-color: transparent;&quot;&gt;&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Continue_to_Pitch</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Pitch&quot;,&quot;value&quot;:&quot;Pitch&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Fields_to_Fix</name>
        <label>Display Fields to Fix</label>
        <locationX>2096</locationX>
        <locationY>4070</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Lead_Fields_to_Update</targetReference>
        </connector>
        <fields>
            <name>Logo1_1800A3</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Display_Fields_to_Fix_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_Fields_to_Fix_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Invalid_Name</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Enter valid First and Last Name&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.FirstName</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Name cannot contain &quot;Insert&quot; or &quot;Name&quot; or &quot;First&quot;&lt;/p&gt;</errorMessage>
                        <formulaExpression>NOT( OR(
CONTAINS(LOWER({!First_Name}), &quot;insert&quot;),
CONTAINS(LOWER({!First_Name}), &quot;first&quot;),
CONTAINS(LOWER({!First_Name}), &quot;name&quot;)))</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.LastName</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Name cannot contain &quot;Insert&quot; or &quot;Name&quot; or &quot;Last&quot;&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>NOT( OR(
CONTAINS(LOWER({!Last_Name}), &quot;insert&quot;),
CONTAINS(LOWER({!Last_Name}), &quot;first&quot;),
CONTAINS(LOWER({!Last_Name}), &quot;name&quot;)))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Display_Fields_to_Fix_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Blank</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Display_Name_Guidelines</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;First Name and Last Name cannot be Blank or have words like &quot;Insert&quot;, &quot;Name&quot;, &quot;First&quot; or &quot;Last&quot;&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>formEligibleLeadName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Display_Fields_to_Fix_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_Fields_to_Fix_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Invalid_Company</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Enter a valid Company Name&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Company_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Company</elementReference>
                    </defaultValue>
                    <fieldText>Company Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Invalid Company Name. Check provided guidelines to fix it.&lt;/p&gt;</errorMessage>
                        <formulaExpression>NOT( OR(
{!Company_Name}= &quot;***INSERT COMPANY NAME***&quot;,
LOWER({!Company_Name})= &quot;none&quot;,
LOWER({!Company_Name})= &quot;na&quot;,
LOWER({!Company_Name})= &quot;n/a&quot;,
LOWER({!Company_Name})= &quot;no business&quot;,
CONTAINS({!Company_Name}, &quot;Personal&quot;)
))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Display_Fields_to_Fix_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Blank2</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Display_CompanyName_Guidelines</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Examples of Invalid Company Names : &lt;/span&gt;&lt;span style=&quot;font-size: 11.36px; color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif;&quot;&gt;&apos;***INSERT COMPANY NAME***, &apos;None&apos;, &apos;NA&apos;, &apos;n/a&apos;, &apos;No business&apos;, Personal etc. &lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Display_NoName_Guideline</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;If Company Name is not known, Enter the Lead&apos;s Full Name for Company Name. &lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>NOT(1)</conditionLogic>
                        <conditions>
                            <leftValueReference>Company_Name</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Personal</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Display_Personal_CompanyName</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;If the Company Name has the word &apos;&lt;/strong&gt;&lt;strong style=&quot;color: rgb(173, 11, 11); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Personal&lt;/strong&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;&apos;, remove it and add it back after Lead conversion. &lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Company_Name</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Personal</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>formEligibleCompanyName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Flow_Error</name>
        <label>Display Flow Error</label>
        <locationX>3658</locationX>
        <locationY>3146</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Revoke_Override_Permissions2</targetReference>
        </connector>
        <fields>
            <name>Flow_Error</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FinishToExit</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;Click Finish to Exit&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Open_Lead_Convert_Tab</name>
        <label>Open Lead Convert Tab</label>
        <locationX>2382</locationX>
        <locationY>5126</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>LeadConvertPage</name>
            <extensionName>c:openUrlFromFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>targetParam</name>
                <value>
                    <stringValue>subtab</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>urlParam</name>
                <value>
                    <elementReference>formLeadConvertPageLink</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2256</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Grant_Override_Permissions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Grants Set Audit Field Permission Set. Includes custom Permission used to override Event Validation rules and Set Audit Field restrictions</description>
        <name>Grant_Override_Permissions</name>
        <label>Grant Override Permissions</label>
        <locationX>2382</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Commit_Permission_Assignment</targetReference>
        </connector>
        <flowName>Permission_Set_Assignment_Autolaunched</flowName>
        <inputAssignments>
            <name>varGrantOrRevoke</name>
            <value>
                <stringValue>Grant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPermissionSetID</name>
            <value>
                <elementReference>constSetAuditFieldPermissionSetID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varUserID</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Revokes the Set Audit Fields permission set that was granted earlier.</description>
        <name>Revoke_Override_Permissions</name>
        <label>Revoke Override Permissions</label>
        <locationX>2382</locationX>
        <locationY>5018</locationY>
        <connector>
            <targetReference>Open_Lead_Convert_Tab</targetReference>
        </connector>
        <flowName>Permission_Set_Assignment_Autolaunched</flowName>
        <inputAssignments>
            <name>varGrantOrRevoke</name>
            <value>
                <stringValue>Revoke</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPermissionSetID</name>
            <value>
                <elementReference>constSetAuditFieldPermissionSetID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varUserID</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Revokes the Set Audit Fields permission set that was granted earlier.</description>
        <name>Revoke_Override_Permissions2</name>
        <label>Revoke Override Permissions</label>
        <locationX>3658</locationX>
        <locationY>3254</locationY>
        <flowName>Permission_Set_Assignment_Autolaunched</flowName>
        <inputAssignments>
            <name>varGrantOrRevoke</name>
            <value>
                <stringValue>Revoke</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPermissionSetID</name>
            <value>
                <elementReference>constSetAuditFieldPermissionSetID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varUserID</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Revokes the Set Audit Fields permission set that was granted earlier.</description>
        <name>Revoke_Override_Permissions3</name>
        <label>Revoke Override Permissions</label>
        <locationX>4186</locationX>
        <locationY>2198</locationY>
        <flowName>Permission_Set_Assignment_Autolaunched</flowName>
        <inputAssignments>
            <name>varGrantOrRevoke</name>
            <value>
                <stringValue>Revoke</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPermissionSetID</name>
            <value>
                <elementReference>constSetAuditFieldPermissionSetID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varUserID</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varExistingAppt</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>varExistingTSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>varNearestHalfHourMark</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
