force-app/main/default/flows/Lead_Created_Fast_Field_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Campaign_and_Marketing_Fields</name>
        <label>Campaign and Marketing Fields</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Campaign_Last_Touch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manually Created</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manually Created</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1-800Accountant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Lead_Type_New__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Marketing_Channel_Last_Touch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Digital</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Marketing_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Digital</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sync_to_Marketo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Campaign_First_Touch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manually Created</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Distribute_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaToday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Distribution_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Distributed Upon Creation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PB_Lead_Creation_Updates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Expertise_com_Campaign_and_Marketing_Fields</name>
        <label>Expertise.com Campaign and Marketing Fields</label>
        <locationX>842</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Campaign_Last_Touch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accounting Services</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1-800Accountant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Lead_Type_New__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Marketing_Channel_Last_Touch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Digital</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Marketing_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Digital</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sync_to_Marketo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Campaign_First_Touch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accounting Services</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Distribute_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaToday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Distribution_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Distributed Upon Creation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Campaign__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Accounting Services</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.utm_source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>expertise</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.utm_medium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>affiliate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.utm_campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>expertise</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PB_Lead_Creation_Updates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets Lead Source, Lead type New, Sync to Marketo to 1-800acc, Marketing, True in order</description>
        <name>LS_LTN_SyncToMarketo</name>
        <label>LS LTN SyncToMarketo</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1-800Accountant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Lead_Type_New__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sync_to_Marketo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Distribute_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaToday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Distribution_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Distributed Upon Creation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PB_Lead_Creation_Updates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets to Lead Source</description>
        <name>Original_Lead_Source</name>
        <label>Original Lead Source</label>
        <locationX>798</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>$Record.Original_Lead_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>To Bark Call</description>
        <name>Set_Lead_Source</name>
        <label>Set Lead Source</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bark</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Distribute_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaToday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Distribution_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Distributed Upon Creation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PB_Lead_Creation_Updates</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>FloriaRoyalsUserId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005j000000BNyXeAAL</stringValue>
        </value>
    </constants>
    <constants>
        <name>MVFQueueId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00G5e000000PY6C</stringValue>
        </value>
    </constants>
    <constants>
        <name>OnlineMarketingQueueId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00G3Z000003fwfp</stringValue>
        </value>
    </constants>
    <decisions>
        <description>If Lead source not null, set the Original lead source to Lead Source value</description>
        <name>PB_Lead_Creation_Updates</name>
        <label>PB Lead Creation Updates</label>
        <locationX>930</locationX>
        <locationY>779</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Source_Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Original_Lead_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Original_Lead_Source</targetReference>
            </connector>
            <label>Lead Source Not null</label>
        </rules>
    </decisions>
    <decisions>
        <description>Sets Lead fields based on How Did You Hear About Us?</description>
        <name>PB_LTN_LS_Campaign_Update</name>
        <label>PB LTN/LS/Campaign Update</label>
        <locationX>930</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>PB_Lead_Creation_Updates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.How_did_you_hear_about_us__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Source</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <description>How did you hear about us is Facebook, LinkedIn, Online Search, Other, Marketing OR word of mouth OR Bark Call</description>
        <name>Which_Source</name>
        <label>Which Source</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>PB_Lead_Creation_Updates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FB_LI_Online_MReferral_Other</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.How_did_you_hear_about_us__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.How_did_you_hear_about_us__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facebook</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.How_did_you_hear_about_us__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LinkedIn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.How_did_you_hear_about_us__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online Search</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.How_did_you_hear_about_us__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing Referral</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Campaign_and_Marketing_Fields</targetReference>
            </connector>
            <label>FB LI Online MReferral Other</label>
        </rules>
        <rules>
            <name>Word_Of_Mouth</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.How_did_you_hear_about_us__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Word of Mouth</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LS_LTN_SyncToMarketo</targetReference>
            </connector>
            <label>Word Of Mouth</label>
        </rules>
        <rules>
            <name>Bark_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.How_did_you_hear_about_us__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bark Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lead_Source</targetReference>
            </connector>
            <label>Bark Call</label>
        </rules>
        <rules>
            <name>Expertise_com</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.How_did_you_hear_about_us__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expertise.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Expertise_com_Campaign_and_Marketing_Fields</targetReference>
            </connector>
            <label>Expertise.com</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Hoy!</description>
        <name>FormulaToday</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Lead - Created - Fast Field Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Created - Fast Field Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>804</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PB_LTN_LS_Campaign_Update</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>600</triggerOrder>
</Flow>
