force-app/main/default/flows/Messaging_Routing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Billing_Agent_Availability</name>
        <label>Billing Agent Availability</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <actionName>checkAvailabilityForRouting</actionName>
        <actionType>checkAvailabilityForRouting</actionType>
        <connector>
            <targetReference>Route_to_Billing_Agent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N9PJ000000009h0AA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Messaging</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00GO8000003T5h3MAC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Billing Messages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>selectedOutputs</name>
            <value>
                <stringValue>GET_ALL</stringValue>
            </value>
        </inputParameters>
        <nameSegment>checkAvailabilityForRouting</nameSegment>
        <outputParameters>
            <assignToReference>NumberofQueuedWorkItems</assignToReference>
            <name>queueSize</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>NumberofAvailableOnlineAgents</assignToReference>
            <name>onlineAgentsCount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>EstimatedWaitTime</assignToReference>
            <name>estimatedWaitTime</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Fulfillment_Agent_Availability</name>
        <label>Fulfillment Agent Availability</label>
        <locationX>1150</locationX>
        <locationY>350</locationY>
        <actionName>checkAvailabilityForRouting</actionName>
        <actionType>checkAvailabilityForRouting</actionType>
        <connector>
            <targetReference>Route_to_Fulfillment_Agent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N9PJ000000009h0AA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Messaging</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00GPJ000007P7tW2AS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Client Care Messages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>selectedOutputs</name>
            <value>
                <stringValue>GET_ALL</stringValue>
            </value>
        </inputParameters>
        <nameSegment>checkAvailabilityForRouting</nameSegment>
        <outputParameters>
            <assignToReference>NumberofQueuedWorkItems</assignToReference>
            <name>queueSize</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>NumberofAvailableOnlineAgents</assignToReference>
            <name>onlineAgentsCount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>EstimatedWaitTime</assignToReference>
            <name>estimatedWaitTime</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Route_to_Billing</name>
        <label>Route to Billing</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>Update_Case_Record_with_Case_Owner_Billing</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N9PJ000000009h0AA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Messaging</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00GO8000003T5h3MAC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Billing Messages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Route_to_Fulfillment</name>
        <label>Route to Fulfillment</label>
        <locationX>1018</locationX>
        <locationY>890</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>Update_Case_Record_with_Case_Owner_Live_Support</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N9PJ000000009h0AA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Messaging</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00GPJ000007P7tW2AS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Client Care Messages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Route_to_Sales</name>
        <label>Route to Sales</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>Update_Case_Record_with_Case_Owner_Sales</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N9PJ000000009h0AA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Messaging</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00GO8000003T5h3MAC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Billing Messages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Sales_Agent_Availability</name>
        <label>Sales Agent Availability</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <actionName>checkAvailabilityForRouting</actionName>
        <actionType>checkAvailabilityForRouting</actionType>
        <connector>
            <targetReference>Route_to_Sales_Agent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N9PJ000000009h0AA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Messaging</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00GO8000003RMu9MAG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Sales Messages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>selectedOutputs</name>
            <value>
                <stringValue>GET_ALL</stringValue>
            </value>
        </inputParameters>
        <nameSegment>checkAvailabilityForRouting</nameSegment>
        <outputParameters>
            <assignToReference>NumberofQueuedWorkItems</assignToReference>
            <name>queueSize</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>NumberofAvailableOnlineAgents</assignToReference>
            <name>onlineAgentsCount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>EstimatedWaitTime</assignToReference>
            <name>estimatedWaitTime</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>Assign Case ID to Billing Case</description>
        <name>Assign_Case_ID_to_Billing_Case</name>
        <label>Assign Case ID to Billing Case</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Get_Messaging_Session.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Case_for_Billing_Agent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Messaging_Session_for_Billing_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns Case ID to live Support Case</description>
        <name>Assign_Case_ID_to_Live_Support_Case</name>
        <label>Assign Case ID to Live Support Case</label>
        <locationX>1018</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Get_Messaging_Session.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Case_for_Live_Support</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_messaging_Session_for_Live_Support</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Case ID to Sales Case</description>
        <name>Assign_Case_ID_to_Sales_Case</name>
        <label>Assign Case ID to Sales Case</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Get_Messaging_Session.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Case_for_Sales_Agent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_messaging_Session_for_Sales_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Sends case back to Bot if no Billing agent is available.</description>
        <name>Route_to_Billing_Agent</name>
        <label>Route to Billing Agent</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>No Billing agent available</defaultConnectorLabel>
        <rules>
            <name>Billing_Agent_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberofAvailableOnlineAgents</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_for_Billing_Agent</targetReference>
            </connector>
            <label>Billing Agent Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Route_to_Fulfillment_Agent</name>
        <label>Route to Fulfillment Agent</label>
        <locationX>1150</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>No agent available</defaultConnectorLabel>
        <rules>
            <name>Fulfiilment_Agent_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberofAvailableOnlineAgents</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_for_Live_Support</targetReference>
            </connector>
            <label>Fulfiilment Agent Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Route_to_Sales_Agent</name>
        <label>Route to Sales Agent</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>No Sales Agent Available</defaultConnectorLabel>
        <rules>
            <name>Sales_Agent_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberofAvailableOnlineAgents</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_for_Sales_Agent</targetReference>
            </connector>
            <label>Sales Agent Available</label>
        </rules>
    </decisions>
    <decisions>
        <description>Picks which messaging Queue based on Case Type</description>
        <name>Which_Messaging_Queue</name>
        <label>Which Messaging Queue</label>
        <locationX>666</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Fulfillment_Agent_Availability</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Route to Live Support</defaultConnectorLabel>
        <rules>
            <name>Case_Type_Billing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Messaging_Session.Case_Record_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Billing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Billing_Agent_Availability</targetReference>
            </connector>
            <label>Case Type Billing</label>
        </rules>
        <rules>
            <name>Case_Type_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Messaging_Session.Case_Record_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Agent_Availability</targetReference>
            </connector>
            <label>Case Type Sales</label>
        </rules>
    </decisions>
    <description>Route from Messaging</description>
    <environments>Default</environments>
    <formulas>
        <description>Joins the First and Last Name fields</description>
        <name>JoinFirstandLastName</name>
        <dataType>String</dataType>
        <expression>{!Get_Messaging_Session.First_Name__c}&amp;&quot; &quot;&amp;{!Get_Messaging_Session.Last_Name__c}</expression>
    </formulas>
    <interviewLabel>Messaging Routing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Messaging Routing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordCreates>
        <description>Creates a case for the Billing chat Agent before routing the case to the agent</description>
        <name>Create_Case_for_Billing_Agent</name>
        <label>Create Case for Billing Agent</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Assign_Case_ID_to_Billing_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Messaging_Session.EndUserAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Messaging_Session.EndUserContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Get_Messaging_Session.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00GPJ000000r0bO2AQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012j0000000ft2uAAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type_Category__c</field>
            <value>
                <elementReference>Get_Messaging_Session.Case_Sub_Type_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <elementReference>Get_Messaging_Session.Case_Sub_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Get_Messaging_Session.Subject__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Get_Messaging_Session.Case_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Case__c</field>
            <value>
                <elementReference>Get_Messaging_Session.Case_Record_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a case for the Live support chat Agent before routing the case to the agent</description>
        <name>Create_Case_for_Live_Support</name>
        <label>Create Case for Live Support</label>
        <locationX>1018</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Assign_Case_ID_to_Live_Support_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Messaging_Session.EndUserAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Messaging_Session.EndUserContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Get_Messaging_Session.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00GPJ000000r0bO2AQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125e000000P3L2AAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type_Category__c</field>
            <value>
                <elementReference>Get_Messaging_Session.Case_Sub_Type_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <elementReference>Get_Messaging_Session.Case_Sub_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Get_Messaging_Session.Subject__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Get_Messaging_Session.Case_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Case__c</field>
            <value>
                <elementReference>Get_Messaging_Session.Case_Record_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a case for the Sales chat Agent before routing the case to the agent</description>
        <name>Create_Case_for_Sales_Agent</name>
        <label>Create Case for Sales Agent</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Assign_Case_ID_to_Sales_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Messaging_Session.EndUserAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Messaging_Session.EndUserContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Get_Messaging_Session.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00GPJ000000r0bO2AQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012j0000000ft3KAAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type_Category__c</field>
            <value>
                <elementReference>Get_Messaging_Session.Case_Sub_Type_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <elementReference>Get_Messaging_Session.Case_Sub_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Get_Messaging_Session.Subject__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Get_Messaging_Session.Case_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Case__c</field>
            <value>
                <elementReference>Get_Messaging_Session.Case_Record_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Messaging_Session</name>
        <label>Get Messaging Session</label>
        <locationX>666</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_Messaging_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates case routed to Billing Agent with New Owner</description>
        <name>Update_Case_Record_with_Case_Owner_Billing</name>
        <label>Update Case Record with Case Owner Billing</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Messaging_Session.Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Messaging_Session.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates case routed to Live Support with New Owner</description>
        <name>Update_Case_Record_with_Case_Owner_Live_Support</name>
        <label>Update Case Record with Case Owner Live Support</label>
        <locationX>1018</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Messaging_Session.Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Messaging_Session.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates case routed to Sales with New Owner</description>
        <name>Update_Case_Record_with_Case_Owner_Sales</name>
        <label>Update Case Record with Case Owner Sales</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Messaging_Session.Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Messaging_Session.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates Messaging session after a case is created with CaseID/Case Number.</description>
        <name>Update_Messaging_Session_for_Billing_Case</name>
        <label>Update Messaging Session for Billing Case</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Route_to_Billing</targetReference>
        </connector>
        <inputReference>Get_Messaging_Session</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates Messaging session after a case is created with CaseID/Case Number.</description>
        <name>Update_messaging_Session_for_Live_Support</name>
        <label>Update messaging Session for Live Support</label>
        <locationX>1018</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Route_to_Fulfillment</targetReference>
        </connector>
        <inputReference>Get_Messaging_Session</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates Messaging session after a case is created with CaseID/Case Number.</description>
        <name>Update_messaging_Session_for_Sales_Case</name>
        <label>Update messaging Session for Sales Case</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Route_to_Sales</targetReference>
        </connector>
        <inputReference>Get_Messaging_Session</inputReference>
    </recordUpdates>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Messaging_Session</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EstimatedWaitTime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumberofAvailableOnlineAgents</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NumberofQueuedWorkItems</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
