force-app/main/default/flows/Opportunity_Change_Commission_Earner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <description>This element is to bypass a no-update bug on using the original record collection</description>
        <name>Add_Record_to_Collection</name>
        <label>Add Record to Collection</label>
        <locationX>138</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>varCollInvoiceLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Invoice_Line_Item_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Invoice_Line_Item_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Text and Lookup Commission Earner and Sales Manager Fields</description>
        <name>Set_Commission_Earner</name>
        <label>Set Commission Earner</label>
        <locationX>138</locationX>
        <locationY>1130</locationY>
        <assignmentItems>
            <assignToReference>Invoice_Line_Item_Records.Commission_Earner_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_User_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Invoice_Line_Item_Records.Commission_Earner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formRepFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Invoice_Line_Item_Records.Sales_Manager_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_User_Details.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Invoice_Line_Item_Records.Sales_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formManagerFullName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Record_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Null_Check</name>
        <label>Null Check</label>
        <locationX>314</locationX>
        <locationY>914</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Commissionable_Line_Items</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_CO_Invoice_Line_Items</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoice_Line_Item_Records</targetReference>
            </connector>
            <label>Commissionable Line Items</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Type_Check</name>
        <label>Opportunity Type Check</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Related_CO_Invoice_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Related_Account_Fields</targetReference>
            </connector>
            <label>New Business</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formManagerFullName</name>
        <dataType>String</dataType>
        <expression>{!Selected_User_Details.Manager.FirstName}+&apos; &apos;+{!Selected_User_Details.Manager.LastName}</expression>
    </formulas>
    <formulas>
        <name>formRepFullName</name>
        <dataType>String</dataType>
        <expression>{!Selected_User_Details.FirstName}+&apos; &apos;+{!Selected_User_Details.LastName}</expression>
    </formulas>
    <interviewLabel>Opportunity - Change Commission Earner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Change Commission Earner</label>
    <loops>
        <name>Invoice_Line_Item_Records</name>
        <label>Invoice Line Item Records</label>
        <locationX>50</locationX>
        <locationY>1022</locationY>
        <collectionReference>Related_CO_Invoice_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Commission_Earner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CO_Invoice_Line_Item_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Related_CO_Invoice_Line_Items</name>
        <label>Related CO Invoice Line Items</label>
        <locationX>314</locationX>
        <locationY>806</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Commissionable__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ChargeOver_Invoice_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Selected_User_Details</name>
        <label>Selected User Details</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Field_Updates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_New_User.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>CO_Invoice_Line_Item_Records</name>
        <label>CO Invoice Line Item Records</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Display_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_DML_Error</targetReference>
        </faultConnector>
        <inputReference>varCollInvoiceLineItems</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Opportunity Owner and Sales Manager</description>
        <name>Opportunity_Field_Updates</name>
        <label>Opportunity Field Updates</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Opportunity_Type_Check</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Display_DML_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Select_New_User.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Manager__c</field>
            <value>
                <elementReference>Selected_User_Details.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Sold By and Sales Manager on Account</description>
        <name>Related_Account_Fields</name>
        <label>Related Account Fields</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Related_CO_Invoice_Line_Items</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Display_DML_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sales_Manager__c</field>
            <value>
                <elementReference>Selected_User_Details.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Rep__c</field>
            <value>
                <elementReference>Selected_User_Details.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Display_DML_Error</name>
        <label>Display DML Error</label>
        <locationX>314</locationX>
        <locationY>1538</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fault_Message</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Success</name>
        <label>Display Success</label>
        <locationX>50</locationX>
        <locationY>1538</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Logo1_1800A</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>40</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Display_Success_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_Success_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Success_Message</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Commission Earner and Sales Manager fields have been updated successfully !&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Users</name>
        <label>Display Users</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Selected_User_Details</targetReference>
        </connector>
        <fields>
            <name>Logo1_1800A</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>40</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Select_New_User</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>OwnerId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select a new Commission Earner</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Change Commission Earner</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Display_Users</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Buffer variable to overcome a &apos;no-update&apos; bug on using the Record collection from Get Records.</description>
        <name>varCollInvoiceLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ChargeOver_Invoice_Line_Item__c</objectType>
    </variables>
</Flow>
