force-app/main/default/flows/Opportunity_Entity_Formation_Business_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Business_Contact_to_Collection</name>
        <label>Add Business Contact to Collection</label>
        <locationX>490</locationX>
        <locationY>2906</locationY>
        <assignmentItems>
            <assignToReference>VarCollBusinessOwner</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BusinessOwner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Another_Business_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sum of Ownership Percentages (The two other assignments are for a workaround to correctly populate the State Name in the Datatable)</description>
        <name>Compute_TotalOwnership</name>
        <label>Compute TotalOwnership</label>
        <locationX>336</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>LoopTotalOwnership</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Owner_Records.Business_Percentage_Ownership__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Owner_Records.State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Owner_Records.Contact_Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCollGetBusinessOwners</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Owner_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Owner_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResetCounters</name>
        <label>ResetCounters</label>
        <locationX>248</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>LoopTotalOwnership</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CumulativeOwnerShip</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCollEditedBusinessOwners</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>varCollEditedBusinessOwners</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCollGetBusinessOwners</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>varCollGetBusinessOwners</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Owner_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets Business Owner Address fields to be same as that of Business Address</description>
        <name>Set_Address_Values</name>
        <label>Set Business Address Values</label>
        <locationX>358</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>BusinessOwner.Contact_Address__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BusinessOwner.Contact_Address__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BusinessOwner.Contact_Address__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BusinessOwner.Contact_Address__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varZipCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BusinessOwner.Contact_Address__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Business_Contact_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add Edited record from the loop to the Collection Variable</description>
        <name>Set_Edited_Fields</name>
        <label>Set Edited Fields</label>
        <locationX>534</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>Edit_Business_Contact_Information.Business_Percentage_Ownership__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercentageOwnership</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCollEditedBusinessOwners</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Edit_Business_Contact_Information</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CumulativeOwnerShip</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PercentageOwnership</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Edit_Business_Contact_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Business Id on Business Owner Record to be created.</description>
        <name>Set_ID_on_Business_Owner</name>
        <label>Set ID on Business Owner</label>
        <locationX>490</locationX>
        <locationY>2282</locationY>
        <assignmentItems>
            <assignToReference>BusinessOwner.Business__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Business_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BusinessOwner.Contact_Address__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>US</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enter_Business_Contact_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Business Ownership Percentage field value and compute Cumulative Ownership.</description>
        <name>Set_Percentage_Ownership_Values</name>
        <label>Set Percentage Ownership Values</label>
        <locationX>490</locationX>
        <locationY>2498</locationY>
        <assignmentItems>
            <assignToReference>BusinessOwner.Business_Percentage_Ownership__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercentageOfOwnership</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CumulativeOwnerShip</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PercentageOfOwnership</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BusinessOwner.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Owner_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BusinessOwner.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SFphoneNumberStandard</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BusinessOwner.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPrimaryOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Address_same_as_Business_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Primary_Owner_False</name>
        <label>Set Primary Owner False</label>
        <locationX>578</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>varPrimaryOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_ID_on_Business_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Address Variables to Business Address values incase the new Business Contact chooses &quot;Address Same as Business Address&quot;</description>
        <name>SetAddressVariables</name>
        <label>SetAddressVariables</label>
        <locationX>490</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Business_Record.Business_Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Business_Record.Business_Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Business_Record.Business_Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Business_Record.Business_Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varZipCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Business_Record.Business_Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Existing_Business_Contact_Records</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Check if the all owner details are accounted for (100% cumulative ownership is achieved)</description>
        <name>Another_Business_Contact</name>
        <label>Another Business Contact?</label>
        <locationX>490</locationX>
        <locationY>3014</locationY>
        <defaultConnector>
            <targetReference>Create_Business_Contact_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ownership 100%</defaultConnectorLabel>
        <rules>
            <name>Ownership_Not_100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CumulativeOwnerShip</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Another_Business_Contact_Display</targetReference>
            </connector>
            <label>Ownership Not 100%</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if Business Contact address is selected &quot;Same as Business address&quot;.</description>
        <name>Contact_Address_same_as_Business_Address</name>
        <label>Contact Address same as Business Address?</label>
        <locationX>490</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>Add_Business_Contact_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Same_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Toggle_Same_Address.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Address_Values</targetReference>
            </connector>
            <label>Same Address</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if full ownership is accounted for.</description>
        <name>Contact_Details_Complete</name>
        <label>Contact Details Complete?</label>
        <locationX>446</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Add_Business_Contact_Display</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create New Owner</defaultConnectorLabel>
        <rules>
            <name>Business_Contact_Details_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CumulativeOwnerShip</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Success_Update</targetReference>
            </connector>
            <label>Business Contact Details Complete</label>
        </rules>
    </decisions>
    <decisions>
        <description>No change if 100% Ownership is accounted for AND User validates the present information is correct.</description>
        <name>Contact_Information_Change</name>
        <label>Contact Information Change</label>
        <locationX>248</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Edit_Business_Contact_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Edit or Create New</defaultConnectorLabel>
        <rules>
            <name>No_change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_Edit_Business_Contacts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopTotalOwnership</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ThankYouScreen</targetReference>
            </connector>
            <label>No change</label>
        </rules>
    </decisions>
    <decisions>
        <description>Null check for Get Existing Business Contact Records</description>
        <name>Owner_Records_Exist</name>
        <label>Owner Records Exist?</label>
        <locationX>490</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>No_Owners</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Business_Contact_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ID_on_Business_Owner</targetReference>
            </connector>
            <label>No Owners</label>
        </rules>
        <rules>
            <name>Existing_Business_Owners</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Business_Contact_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ResetCounters</targetReference>
            </connector>
            <label>Existing Business Owners</label>
        </rules>
    </decisions>
    <description>Flow to create a Business Owner record for entity formation fulfillments</description>
    <environments>Default</environments>
    <formulas>
        <name>formulaPrimaryEmail</name>
        <dataType>String</dataType>
        <expression>IF({!varPrimaryOwner}, {!varPrimaryEmail}, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>formulaPrimaryName</name>
        <dataType>String</dataType>
        <expression>IF({!varPrimaryOwner}, {!varPrimaryContactName}, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>RemainingOwnershipPercent</name>
        <dataType>Number</dataType>
        <expression>100 - {!CumulativeOwnerShip}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Converts 10 digit phone number to (123) 123-1234 format</description>
        <name>SFphoneNumberStandard</name>
        <dataType>String</dataType>
        <expression>&quot;(&quot;+MID({!Primary_Phone}, 1, 3)+&quot;) &quot;+MID({!Primary_Phone}, 4, 3)+&quot;-&quot;+MID({!Primary_Phone}, 7, 4)</expression>
    </formulas>
    <interviewLabel>Opportunity - Entity Formation - Business Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Entity Formation - Business Owner</label>
    <loops>
        <description>Loops over each existing Business Contact Record and prompts to edit</description>
        <name>Edit_Business_Contact_Information</name>
        <label>Edit Business Contact Information</label>
        <locationX>446</locationX>
        <locationY>1190</locationY>
        <collectionReference>Get_Existing_Business_Contact_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Edit_Business_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Business_Owner_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through records and check total ownership.</description>
        <name>Loop_Through_Owner_Records</name>
        <label>Loop Through Owner Records</label>
        <locationX>248</locationX>
        <locationY>674</locationY>
        <collectionReference>Get_Existing_Business_Contact_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Compute_TotalOwnership</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Edit_Existing_Business_Contact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Business_Contact_Records</name>
        <label>Create Business Contact Records</label>
        <locationX>622</locationX>
        <locationY>3122</locationY>
        <connector>
            <targetReference>DisplaySuccess</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Record_Create_Error</targetReference>
        </faultConnector>
        <inputReference>VarCollBusinessOwner</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get Business Record where Record Id is same as the Business Id passed from the main Flow</description>
        <name>Get_Business_Record</name>
        <label>Get Business Record</label>
        <locationX>490</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetAddressVariables</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Get_Business_Record_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputBusinessId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Business__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Business Owner Records related to the existing Business.</description>
        <name>Get_Existing_Business_Contact_Records</name>
        <label>Get Existing Business Contact Records</label>
        <locationX>490</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owner_Records_Exist</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Get_Business_Owner_Record_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputBusinessId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Business_Owner__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Business_Owner_Records</name>
        <label>Update Business Owner Records</label>
        <locationX>446</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Contact_Details_Complete</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Record_Update_Error</targetReference>
        </faultConnector>
        <inputReference>varCollEditedBusinessOwners</inputReference>
    </recordUpdates>
    <screens>
        <name>Add_Another_Business_Contact_Display</name>
        <label>Add Another Business Contact Display</label>
        <locationX>358</locationX>
        <locationY>3122</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Enter_Business_Contact_Details</targetReference>
        </connector>
        <fields>
            <name>Logo_1800A1</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddAnotherContactDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;{!Brand_Style_Start_H1}&lt;/strong&gt;&lt;strong style=&quot;font-size: 24px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The Business&apos;s total ownership does not equal 100%. Please click Next to add another Business Owner. &lt;/strong&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;{!Brand_Style_Close}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Add_Business_Contact_Display</name>
        <label>Add Business Contact Display</label>
        <locationX>578</locationX>
        <locationY>1814</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Primary_Owner_False</targetReference>
        </connector>
        <fields>
            <name>Disp1800AccLogo</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Add_Business_Contact_Display_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Business_Contact_Display_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Preview_Existing_Owners</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Business_Owner__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Business_Owner__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>varCollEditedBusinessOwners</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isDisplayHeader</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isDisplayHeader</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableLabel</name>
                        <value>
                            <stringValue>Existing Business Owners</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableIcon</name>
                        <value>
                            <stringValue>custom:custom84</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_not_suppressNameFieldLink</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideCheckboxColumn</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Name,Business_Percentage_Ownership__c,Email__c,Phone__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Name:207, Business_Percentage_Ownership__c:260, Email__c:207, Phone__c:233</stringValue>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>BlankText6</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_AddAnotherContactDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;{!Brand_Style_Start_H1}The Business&apos;s total ownership does not equal 100%. Please click Next to add another Business Owner. {!Brand_Style_Close}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Record_Create_Error</name>
        <label>Display Record Create Error</label>
        <locationX>886</locationX>
        <locationY>3230</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Display_Update_Error</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_Update_Record_Fail</name>
            <fieldText>&lt;p&gt;{!Brand_Style_Start_H1}An error occurred while creating Owner Records. Click Finish to start over. {!Brand_Style_Close}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Record_Update_Error</name>
        <label>Display Record Update Error</label>
        <locationX>842</locationX>
        <locationY>1706</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Update_Error</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Update_Record_Fail</name>
            <fieldText>&lt;p&gt;{!Brand_Style_Start_H1}An error occurred when updating Owner Records. Click Finish to start over. {!Brand_Style_Close}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Success_Update</name>
        <label>Display Success Update</label>
        <locationX>314</locationX>
        <locationY>1814</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Logo_1800A6</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Display_Success_Update_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_Success_Update_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_BlankText9</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Display_Done1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!Brand_Style_Start_H1}Business Owner records updated successfully! {!Brand_Style_Close}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Success_Update_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_Success_Update_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_BlankText10</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DisplaySuccess</name>
        <label>DisplaySuccess</label>
        <locationX>622</locationX>
        <locationY>3230</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Logo_1800A7</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DisplaySuccess_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DisplaySuccess_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BlankText9</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Display_Newly_Created_Owners</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Business_Owner__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Business_Owner__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>VarCollBusinessOwner</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Newly Created Business Owner Records</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom84</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Business_Percentage_Ownership__c,Phone__c,Email__c,Contact_Address__Street__s,Contact_Address__City__s,Contact_Address__PostalCode__s</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:207, Business_Percentage_Ownership__c:207, Phone__c:207, Email__c:207, Contact_Address__Street__s:207, Contact_Address__City__s:207, Contact_Address__PostalCode__s:207</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableBorder</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DisplaySuccess_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DisplaySuccess_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayBlank11</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DisplayDone</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!Brand_Style_Start_H1}Business Contact records created successfully. Thank you!{!Brand_Style_Close}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplaySuccess_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DisplaySuccess_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BlankText10</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Edit_Business_Contact</name>
        <label>Edit Business Contact</label>
        <locationX>534</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Edited_Fields</targetReference>
        </connector>
        <fields>
            <name>Logo_1800A5</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Edit_Business_Contact_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_Business_Contact_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BlankText4</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DisplayReminder</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!Brand_Style_Start_H1}Review existing Owner details below and make necessary Edits: {!Brand_Style_Close}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!Brand_Style_Start_H2}Please ensure  the FULL LEGAL NAME is entered with correct spelling{!Brand_Style_Close}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Edit_Business_Contact_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_Business_Contact_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BlankText5</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Edit_Business_Contact_Information.Name</objectFieldReference>
        </fields>
        <fields>
            <name>PercentageOwnership</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Edit_Business_Contact_Information.Business_Percentage_Ownership__c</elementReference>
            </defaultValue>
            <fieldText>Percentage Ownership</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Enter value 0 - 100 (No Decimals)&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Enter value 0 - 100 (No Decimals). &lt;/p&gt;</errorMessage>
                <formulaExpression>AND(

REGEX ( TEXT( {!PercentageOwnership}), &quot;^([0-9][0-9]?|100)$&quot;) ,

{!PercentageOwnership} &lt;= {!RemainingOwnershipPercent}

)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>ShowRemainingOwnership</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(255, 0, 0);&quot;&gt;Percentage Owners&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;hip cannot exceed {!RemainingOwnershipPercent}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Edit_Business_Contact_Information.Phone__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Edit_Business_Contact_Information.Email__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Edit_Business_Contact_Information.Contact_Address__c</objectFieldReference>
        </fields>
        <fields>
            <name>DispWarning</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Brand_Style_Start_H3}&lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Clicking Next submits the information and updates the Business Contact. Please double check the entered information is correct and complete BEFORE clicking Next&lt;/span&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Brand_Style_Close}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Display existing Business Contact information and check if it needs to be updated.</description>
        <name>Edit_Existing_Business_Contact</name>
        <label>Edit Existing Business Contact?</label>
        <locationX>248</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Contact_Information_Change</targetReference>
        </connector>
        <fields>
            <name>Logo_1800A4</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Edit_Existing_Business_Contact_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_Existing_Business_Contact_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BlankText1</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ListOfExistingContacts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Business_Owner__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Business_Owner__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Business_Percentage_Ownership__c,Phone__c,Email__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:171, Business_Percentage_Ownership__c:261, Phone__c:211, Email__c:390</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Existing Business Owners</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom84</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varCollGetBusinessOwners</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DisplayNot100PercentOwnership</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;{!Brand_Style_Start_H1}Business Contact ownership percentage doesn&apos;t equal 100%.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Click Next to enter another Business Owner&apos;s Information. {!Brand_Style_Close}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LoopTotalOwnership</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <numberValue>100.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>OneLineSpace</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_you_want_to_Edit_Business_Contacts</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to Edit Business Contact/s?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LoopTotalOwnership</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>100.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to capture New Business Contact Details</description>
        <name>Enter_Business_Contact_Details</name>
        <label>Enter Business Contact Details</label>
        <locationX>490</locationX>
        <locationY>2390</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Percentage_Ownership_Values</targetReference>
        </connector>
        <fields>
            <name>Logo_1800A3</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Enter_Business_Contact_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Business_Contact_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BlankText7</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_BusinessContactDetails</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!Brand_Style_Start_H1} Please Enter NEW OWNER details. All fields are *REQUIRED*{!Brand_Style_Close}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_FullLegalName</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(255, 0, 0);&quot;&gt;{!Brand_Style_Start_H3}Enter FULL LEGAL NAME including accurate spelling {!Brand_Style_Close}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Enter_Business_Contact_Details_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Business_Contact_Details_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BlankText8</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Business_Owner_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>formulaPrimaryName</elementReference>
            </defaultValue>
            <fieldText>Owner FULL LEGAL Name (First Middle Last)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PercentageOfOwnership</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>RemainingOwnershipPercent</elementReference>
            </defaultValue>
            <fieldText>Percentage of Ownership</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Enter a number 0-100 No decimals&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 12px;&quot;&gt;Enter a number 0-100 (No Decimals). &lt;/strong&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(
REGEX ( TEXT( {!PercentageOfOwnership}), &quot;^([0-9][0-9]?|100)$&quot;) ,
{!PercentageOfOwnership} &lt;= {!RemainingOwnershipPercent}
)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Copy_1_of_DisplayRemainingOwnership</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Percentage of Ownership cannot exceed {!RemainingOwnershipPercent}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Primary_Phone</name>
            <dataType>String</dataType>
            <fieldText>Primary Phone (10 Digit Number Only with no other characters)</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;No hyphens , Spaces, Brackets or other characters&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Enter a valid 10 digit phone number (No hyphens or spaces) &lt;/strong&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX ({!Primary_Phone}, &quot;^\\d{10}$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Display_Primary_Phone</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;Primary Owner Phone : {!varPrimaryPhone}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varPrimaryOwner</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Primary_Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>formulaPrimaryEmail</elementReference>
            </defaultValue>
            <fieldText>Primary Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Enter_Business_Contact_Details_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Business_Contact_Details_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Toggle_Same_Address</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Address is same as Business Address?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Same Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>Different Address</stringValue>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Business_Contact_Details_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Business_Address</name>
                    <fieldText>&lt;p&gt;Business Address : {!varStreet}, {!varCity}, {!varState}, {!varZipCode}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Enter_Business_Contact_Details_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Business_Contact_Details_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>BusinessOwner.Contact_Address__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Toggle_Same_Address.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Copy_1_of_Displaywarnings</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Brand_Style_Start_H3}&lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Clicking Next submits the information and creates the Business Contact. Please double check the information entered is correct and complete BEFORE clicking Next&lt;/span&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Brand_Style_Close}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Get_Business_Owner_Record_Error</name>
        <label>Get Business Owner Record Error</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Logo_1800A2</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Get_Onwer_Record_Fail</name>
            <fieldText>&lt;p&gt;{!Brand_Style_Start_H1}An error occurred on Get Business Owner Records query. Click Finish to start over. {!Brand_Style_Close}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Get_Business_Record_Error</name>
        <label>Get Business Record Error</label>
        <locationX>1634</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_Display_Update_Error</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Get_Business_Record_Fault</name>
            <fieldText>&lt;p&gt;{!Brand_Style_Start_H1}An error occurred on Get Business Records query. Click Finish to start over. {!Brand_Style_Close}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ThankYouScreen</name>
        <label>ThankYouScreen</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AccLogoDisp</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ThankYouScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ThankYouScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BlankText3</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>AllGoodThankYou</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;All information is up-to-date. Thank you!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>364</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Business_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Closes all font styling</description>
        <name>Brand_Style_Close</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Used for page headers</description>
        <name>Brand_Style_Start_H1</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p style = &apos;font-size:24px;color:#435360;font-weight:bold;&apos;&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Used for first level page explanation</description>
        <name>Brand_Style_Start_H2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p style = &apos;font-size:18px;color:#435360;font-weight:bold;&apos;&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Used for second level page explanations</description>
        <name>Brand_Style_Start_H3</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p style = &apos;font-size:14px;color:#435360;font-weight:bold;&apos;&gt;</text>
    </textTemplates>
    <variables>
        <name>BusinessOwner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Owner__c</objectType>
    </variables>
    <variables>
        <description>To track if 100 ownership is accounted for.</description>
        <name>CumulativeOwnerShip</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LoopTotalOwnership</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCollBusinessOwner</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Owner__c</objectType>
    </variables>
    <variables>
        <name>varCollEditedBusinessOwners</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Owner__c</objectType>
    </variables>
    <variables>
        <name>varCollGetBusinessOwners</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Owner__c</objectType>
    </variables>
    <variables>
        <name>varCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputBusinessId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPrimaryContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPrimaryEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPrimaryOwner</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varPrimaryPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varZipCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
