force-app/main/default/flows/Opportunity_Entity_Formation_Business.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Business Type is set as LLC, LLC Taxed as SCorp, S Corp or C Corp Based on Account Entity Tax Classification field AND the S-Corp field entered by user.</description>
        <name>Business_Fields_Assignment</name>
        <label>Business Fields Assignment</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Business.Business_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BusinessTypeDecision</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Business.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Full_Business_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Business.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Business.State_of_incorporation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State_of_Incorporation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Business.Industry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Industry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Business_Address_check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set RA Full Name to 1-800Accountant</description>
        <name>RA_is_1800A</name>
        <label>RA is 1800A</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>Business.Registered_Agent_Full_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1-800Accountant</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Business_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Reset Record Variable Business and Set default Value of Country to US</description>
        <name>Reset_Business_Variable</name>
        <label>Reset Business Variable</label>
        <locationX>402</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Business</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBusinessNullReset</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Business.Business_Address__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>US</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enter_Business_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Business_Address</name>
        <label>Set Business Address</label>
        <locationX>270</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Business.Business_Address__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Business.Business_Address__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Business.Business_Address__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Business.Business_Address__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Active_Subscription_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Business_variable</name>
        <label>Set Business variable</label>
        <locationX>1810</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varEditBusiness</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DisplayExistingBusiness.outputSelectedRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Business_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set RA Full Name Field as Business Name</description>
        <name>Set_RA_Name_as_BusinessName</name>
        <label>Set RA Name as BusinessName</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>Business.Registered_Agent_Full_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Business_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets Business Type based on Account Entity Tax Classification field AND user choice of Is S-Corp?</description>
        <name>SetEditedBusinessType</name>
        <label>SetEditedBusinessType</label>
        <locationX>1810</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varEditBusiness.Business_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BusinessTypeForEdits</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Business_Details</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Create_New_Business_Record</name>
        <choiceText>Create New Business</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create New Business</stringValue>
        </value>
    </choices>
    <choices>
        <name>Edit_Owner_Information</name>
        <choiceText>Review or Edit Business Owner Information</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Review or Edit Business Owner Information</stringValue>
        </value>
    </choices>
    <choices>
        <name>EditExistingBusiness</name>
        <choiceText>&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Review or Edit Existing Business Information&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Review or Edit existing Business Information</stringValue>
        </value>
    </choices>
    <choices>
        <name>ExitFlow</name>
        <choiceText>Exit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exit</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Null check for Get Active Subscription Record</description>
        <name>Active_RA_Purchase_Exists</name>
        <label>Active RA Purchase?</label>
        <locationX>402</locationX>
        <locationY>1082</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RA_Subscription_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Subscription_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_RA_Exists</targetReference>
            </connector>
            <label>RA Subscription Exists</label>
        </rules>
        <rules>
            <name>No_Active_RA_Purchase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Subscription_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Registered_Agent_Details</targetReference>
            </connector>
            <label>No Active RA Purchase</label>
        </rules>
    </decisions>
    <decisions>
        <description>If True, Set the RA Full Name as Business Name</description>
        <name>Be_Your_Own_RA_True</name>
        <label>Be Your Own RA True?</label>
        <locationX>446</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Create_Business_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OwnRATrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Be_Your_Own_RA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_RA_Name_as_BusinessName</targetReference>
            </connector>
            <label>OwnRATrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Business_Address_check</name>
        <label>Business Address check</label>
        <locationX>402</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Get_Active_Subscription_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Same_as_Billing_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Toggle_Address_Check.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Business_Address</targetReference>
            </connector>
            <label>Same as Billing Address</label>
        </rules>
    </decisions>
    <decisions>
        <description>Null check for Get Business Records.</description>
        <name>Business_Already_Exists</name>
        <label>Business Already Exists ?</label>
        <locationX>1898</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>DisplayTestScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Business_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Business_Variable</targetReference>
            </connector>
            <label>New Business</label>
        </rules>
        <rules>
            <name>Existing_Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Business_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Existing_Business</targetReference>
            </connector>
            <label>Existing Business</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_New_or_Edit_Existing_Business</name>
        <label>Create New or Edit Existing Business</label>
        <locationX>2338</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_New_Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pleaseselectanaction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_New_Business_Record</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Reset_Business_Variable</targetReference>
            </connector>
            <label>Create New Business</label>
        </rules>
        <rules>
            <name>Edit_Existing_Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pleaseselectanaction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EditExistingBusiness</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DisplayExistingBusiness.outputSelectedRow</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Business_variable</targetReference>
            </connector>
            <label>Edit Existing Business</label>
        </rules>
        <rules>
            <name>Add_or_Edit_Owner_Information</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pleaseselectanaction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Edit_Owner_Information</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DisplayExistingBusiness.outputSelectedRow</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_or_Edit_Owner</targetReference>
            </connector>
            <label>Add or Edit Owner Information</label>
        </rules>
        <rules>
            <name>Choose_Row_to_Edit</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>Pleaseselectanaction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EditExistingBusiness</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DisplayExistingBusiness.outputSelectedRow</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Pleaseselectanaction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Edit_Owner_Information</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Click_Previous_to_Select_Business</targetReference>
            </connector>
            <label>Choose Row to Edit</label>
        </rules>
        <rules>
            <name>No_Action</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pleaseselectanaction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ExitFlow</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Thankyou_Screen3</targetReference>
            </connector>
            <label>No Action</label>
        </rules>
    </decisions>
    <description>A flow to allow for creation of a Business record. Improves the entity formation process</description>
    <dynamicChoiceSets>
        <name>PLChoiceIndustry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Industry__c</picklistField>
        <picklistObject>Business__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PLStateOfIncorporation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>State_of_incorporation__c</picklistField>
        <picklistObject>Business__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Entity Tax Classification field value from the Account that the Opportunity(which triggered the flow) is associated with.</description>
        <name>AccountEntityTaxClassification</name>
        <dataType>String</dataType>
        <expression>TEXT({!recordId.Account.Entity_Tax_Classification__c})</expression>
    </formulas>
    <formulas>
        <name>BusinessTypeDecision</name>
        <dataType>String</dataType>
        <expression>IF(
OR(
{!AccountEntityTaxClassification}= &quot;S Corporation&quot; , AND( {!AccountEntityTaxClassification}= &quot;C Corporation&quot;, {!S_Corp} = &quot;Yes&quot;)
), &quot;S Corporation&quot; ,
IF (
AND ( {!AccountEntityTaxClassification}= &quot;LLC&quot; , {!S_Corp} = &quot;Yes&quot;), &quot;LLC taxed as S-Corp&quot;,
IF (
AND( {!AccountEntityTaxClassification} = &quot;LLC&quot;, {!S_Corp}= &quot;No&quot;), &quot;LLC&quot;,
IF (
AND( {!AccountEntityTaxClassification} = &quot;C Corporation&quot;, {!S_Corp}= &quot;No&quot;), &quot;C Corporation&quot;, &quot;&quot;)
))
)</expression>
    </formulas>
    <formulas>
        <name>BusinessTypeForEdits</name>
        <dataType>String</dataType>
        <expression>IF(
OR(
{!AccountEntityTaxClassification}= &quot;S Corporation&quot; , AND( {!AccountEntityTaxClassification}= &quot;C Corporation&quot;, {!S_corporation} = &quot;Yes&quot;)
), &quot;S Corporation&quot; ,
IF (
AND ( {!AccountEntityTaxClassification}= &quot;LLC&quot; , {!S_corporation} = &quot;Yes&quot;), &quot;LLC taxed as S-Corp&quot;,
IF (
AND( {!AccountEntityTaxClassification} = &quot;LLC&quot;, {!S_corporation}= &quot;No&quot;), &quot;LLC&quot;,
IF (
AND( {!AccountEntityTaxClassification} = &quot;C Corporation&quot;, {!S_corporation}= &quot;No&quot;), &quot;C Corporation&quot;, &quot;&quot;)
))
)</expression>
    </formulas>
    <formulas>
        <name>formulaPrimaryFullName</name>
        <dataType>String</dataType>
        <expression>{!recordId.Account.Primary_Contact_First_Name__c}+&apos; &apos;+{!recordId.Account.Primary_Contact_Last_Name__c}</expression>
    </formulas>
    <formulas>
        <description>Returns Yes or No</description>
        <name>IsaSCorp</name>
        <dataType>String</dataType>
        <expression>IF(
OR(
ISPICKVAL({!varEditBusiness.Business_Type__c} ,  &quot;S Corporation&quot;),
ISPICKVAL({!varEditBusiness.Business_Type__c} ,  &quot;LLC taxed as S-Corp&quot;)
), &quot;Yes&quot;, &quot;No&quot;)</expression>
    </formulas>
    <interviewLabel>Opportunity - Entity Formation - Business {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Entity Formation - Business</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create the new Business Record (Related to the account )</description>
        <name>Create_Business_Record</name>
        <label>Create Business Record</label>
        <locationX>402</locationX>
        <locationY>1682</locationY>
        <assignRecordIdToReference>varBusinessIdCreateRecord</assignRecordIdToReference>
        <connector>
            <targetReference>Business_Created_Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Records_Error_Display</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Business.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Address__City__s</field>
            <value>
                <elementReference>Business.Business_Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Address__CountryCode__s</field>
            <value>
                <elementReference>Business.Business_Address__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Address__PostalCode__s</field>
            <value>
                <elementReference>Business.Business_Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Address__StateCode__s</field>
            <value>
                <elementReference>Business.Business_Address__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Address__Street__s</field>
            <value>
                <elementReference>Business.Business_Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Type__c</field>
            <value>
                <elementReference>Business.Business_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry__c</field>
            <value>
                <elementReference>Business.Industry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Business.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registered_Agent_Address__c</field>
            <value>
                <elementReference>Business.Registered_Agent_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registered_Agent_City__c</field>
            <value>
                <elementReference>Business.Registered_Agent_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registered_Agent_Email__c</field>
            <value>
                <elementReference>Business.Registered_Agent_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registered_Agent_Full_Name__c</field>
            <value>
                <elementReference>Business.Registered_Agent_Full_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registered_Agent_Phone__c</field>
            <value>
                <elementReference>Business.Registered_Agent_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registered_Agent_State__c</field>
            <value>
                <elementReference>Business.Registered_Agent_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registered_Agent_Zip__c</field>
            <value>
                <elementReference>Business.Registered_Agent_Zip__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State_of_incorporation__c</field>
            <value>
                <elementReference>Business.State_of_incorporation__c</elementReference>
            </value>
        </inputAssignments>
        <object>Business__c</object>
    </recordCreates>
    <recordLookups>
        <description>Checks if Active Subscription Exists where Status is NOT &apos;Cancelled&apos; and Product is &quot;Registered Agent&quot;</description>
        <name>Get_Active_Subscription_Records</name>
        <label>Get Active Subscription Records</label>
        <locationX>402</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_RA_Purchase_Exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Get_Records_Error_Display</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subscription_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01tf1000004q0lbAAA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Active_Subscriptions__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Business Records where Account Id is same as the Opportunity Account Id</description>
        <name>Get_Business_Records</name>
        <label>Get Business Records</label>
        <locationX>1898</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Business_Already_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Business__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the Business record with any changes made in the &quot;Edit Business Information&quot; screen component</description>
        <name>Update_Business_Details</name>
        <label>Update Business Details</label>
        <locationX>1810</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>BusinessUpdateSuccess</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultPathError</targetReference>
        </faultConnector>
        <inputReference>varEditBusiness</inputReference>
    </recordUpdates>
    <screens>
        <name>Business_Created_Success_Screen</name>
        <label>Business Created Success Screen</label>
        <locationX>402</locationX>
        <locationY>1790</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_New_Business_Owners</targetReference>
        </connector>
        <fields>
            <name>Logo_1800A11</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Business_Created_Success_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Business_Created_Success_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BlankText6</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CreateSuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!Brand_Style_Start_H1}﻿&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Business record successfully created!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Click Next to add all Owner Information for this Business. {!Brand_Style_Close}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>BusinessUpdateSuccess</name>
        <label>BusinessUpdateSuccess</label>
        <locationX>1810</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Logo_1800A8</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>BusinessUpdateSuccess_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BusinessUpdateSuccess_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BlankText11</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SuccessScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!Brand_Style_Start_H1} The Business record has been updated successfully!{!Brand_Style_Close}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BusinessUpdateSuccess_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BusinessUpdateSuccess_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BlankText18</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Click_Previous_to_Select_Business</name>
        <label>Click Previous to Select Business</label>
        <locationX>2602</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Thankyou_Screen2</targetReference>
        </connector>
        <fields>
            <name>Logo_1800A4</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Click_Previous_to_Select_Business_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Click_Previous_to_Select_Business_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BlankText12</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ForgotToChooseBusiness</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!Brand_Style_Start_H1} You did not select a Business Record. Please click Previous and select an existing Business record or click Next to exit {!Brand_Style_Close}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Records_Error_Display</name>
        <label>Create Records Error Display</label>
        <locationX>1018</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Logo_1800A10</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Error_Display_Business</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;);&quot;&gt;{!Brand_Style_Start_H1}An Error occured when creating Business Record. Click Previous to return to earlier screen or click Finish to start over.{!Brand_Style_Close}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays Business Name, Address , Industry and S-Corp? for any necessary edits.</description>
        <name>Display_Business_Information</name>
        <label>Edit Business Information</label>
        <locationX>1810</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetEditedBusinessType</targetReference>
        </connector>
        <fields>
            <name>DispLogo1800Accountant</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Display_Business_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_Business_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BlankText9</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ExistingBusinessDetails</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!Brand_Style_Start_H1} Review existing Business details and make any necessary edits{!Brand_Style_Close}  &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Business_Information_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_Business_Information_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BlankText10</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varEditBusiness.Name</objectFieldReference>
        </fields>
        <fields>
            <name>StateOfIncorporationDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;State Of Incorporation&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt; : &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!varEditBusiness.State_of_incorporation__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varEditBusiness.Industry__c</objectFieldReference>
        </fields>
        <fields>
            <name>S_corporation</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>IsaSCorp</elementReference>
            </defaultValue>
            <fieldText>S-corp?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varEditBusiness.Business_Address__c</objectFieldReference>
        </fields>
        <fields>
            <name>Registered_Agent_Information</name>
            <fieldText>Registered Agent Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Registered_Agent_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varEditBusiness.Registered_Agent_Full_Name__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varEditBusiness.Registered_Agent_Email__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varEditBusiness.Registered_Agent_State__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Registered_Agent_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varEditBusiness.Registered_Agent_Phone__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varEditBusiness.Registered_Agent_City__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varEditBusiness.Registered_Agent_Zip__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>DisplayCommitWarning</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!Brand_Style_Start_H3}&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Clicking Next submits the information and updates the Business record. Please double check the information entered is correct and complete BEFORE clicking Next. &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!Brand_Style_Close}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Existing_Business</name>
        <label>Display Existing Business</label>
        <locationX>2338</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_New_or_Edit_Existing_Business</targetReference>
        </connector>
        <fields>
            <name>Logo_1800A3</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Display_Existing_Business_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_Existing_Business_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BlankText4</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Pleaseselectanaction</name>
            <choiceReferences>Create_New_Business_Record</choiceReferences>
            <choiceReferences>EditExistingBusiness</choiceReferences>
            <choiceReferences>Edit_Owner_Information</choiceReferences>
            <choiceReferences>ExitFlow</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select an action</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SingleLineSpace</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayExistingBusiness</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Business__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Business__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Business_Records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,State_of_incorporation__c,Business_Type__c,Industry__c,Business_Address__Street__s,Business_Address__City__s,Business_Address__PostalCode__s</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:152, State_of_incorporation__c:204, Business_Type__c:204, Industry__c:204, Business_Address__Street__s:204, Business_Address__City__s:204, Business_Address__PostalCode__s:204</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Existing Business</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom24</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Pleaseselectanaction</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Create_New_Business_Record</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PickBusinessRecord</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!Brand_Style_Start_H2}Select the relevant Business Record and click Next {!Brand_Style_Close}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Pleaseselectanaction</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>EditExistingBusiness</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Pleaseselectanaction</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Edit_Owner_Information</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Display Text to let Reps Know Active RA Exists</description>
        <name>Display_RA_Exists</name>
        <label>Display RA Exists</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RA_is_1800A</targetReference>
        </connector>
        <fields>
            <name>Logo_1800A2</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Display_RA_Exists_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_RA_Exists_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BlankText16</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ActiveRAExists</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;{!Brand_Style_Start_H1}Active Registered Agent Subscription Exists. Click Next to create the Business Record.{!Brand_Style_Close}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_RA_Exists_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_RA_Exists_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BlankText15</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DisplayTestScreen</name>
        <label>DisplayTestScreen</label>
        <locationX>3394</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TestDisplay</name>
            <fieldText>&lt;p&gt;Default outcome! &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Collects necessary Business Details</description>
        <name>Enter_Business_Details</name>
        <label>Enter Business Details</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Business_Fields_Assignment</targetReference>
        </connector>
        <fields>
            <name>Logo_1800A</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Enter_Business_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Business_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BlankText17</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Enter_Business_Details_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Business_Details_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EnterBusinessDetails</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!Brand_Style_Start_H1} Enter New Business Details. All fields are REQUIRED. {!Brand_Style_Close}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DisplayAlert</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(11, 11, 11); background-color: rgb(255, 255, 255);&quot;&gt;{!Brand_Style_Start_H3} Enter the full and complete Business name. Please confirm spelling and capitalization to exactly match.{!Brand_Style_Close}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Enter_Business_Details_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Business_Details_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BlankText2</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Full_Business_Name</name>
            <dataType>String</dataType>
            <fieldText>Full Business Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S_Corp</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>S-Corp ?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AccountEntityTaxClassification</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>S Corporation</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BlankText3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayEntitiyTaxClassification</name>
            <fieldText>&lt;p&gt;{!Brand_Style_Start_H3} ﻿Entity Tax Classification :  {!AccountEntityTaxClassification}{!Brand_Style_Close}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Enter_Business_Details_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Business_Details_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>State_of_Incorporation</name>
                    <choiceReferences>PLStateOfIncorporation</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Account.State_of_Formation__c</elementReference>
                    </defaultValue>
                    <fieldText>State of Incorporation</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Business_Details_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Industry</name>
                    <choiceReferences>PLChoiceIndustry</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Account.Industry</elementReference>
                    </defaultValue>
                    <fieldText>Industry</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Enter_Business_Details_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Business_Details_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Toggle_Address_Check</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Business Address Same as Billing Address ? </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Same as Billing Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>Different Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Business_Details_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayBillingAddress</name>
                    <fieldText>&lt;p&gt;Billing Address on Account: {!recordId.Account.BillingStreet}, {!recordId.Account.BillingCity}, {!recordId.Account.BillingState}, {!recordId.Account.BillingPostalCode}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Business.Business_Address__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Toggle_Address_Check.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Business_Details_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Business_Details_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayDoubleCheck</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!Brand_Style_Start_H3}Please double check the submitted information is correct and complete BEFORE clicking Next.{!Brand_Style_Close}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Collects RA Details</description>
        <name>Enter_Registered_Agent_Details</name>
        <label>Enter Registered Agent Details</label>
        <locationX>446</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Be_Your_Own_RA_True</targetReference>
        </connector>
        <fields>
            <name>Logo_1800A7</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Enter_Registered_Agent_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Registered_Agent_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BlankText7</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Enter_Registered_Agent_Details_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Registered_Agent_Details_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RAInfomation</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!Brand_Style_Start_H1}Enter Registered Agent Information. {!Brand_Style_Close}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Enter_Registered_Agent_Details_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Registered_Agent_Details_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BlankText8</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Be_Your_Own_RA</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Be Your Own Registered Agent?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Many businesses choose to be their own Registered Agent&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Enter_RA_Details_Below</name>
            <fieldText>Enter Registered Agent Details Below</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_RA_Details_Below_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayRALegalName</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(67, 83, 96);&quot;&gt;Enter the&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(67, 83, 96);&quot;&gt; Full Legal Name of the Registered Agent&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(67, 83, 96);&quot;&gt;  in the field below &lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Be_Your_Own_RA</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Business.Registered_Agent_Full_Name__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Be_Your_Own_RA</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Registered_Agent_Details_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Registered_Agent_Details_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Business.Registered_Agent_Phone__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Registered_Agent_Details_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Business.Registered_Agent_Email__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Be_Your_Own_RA</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Registered_Agent_Details_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Registered_Agent_Details_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Business.Registered_Agent_Address__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Registered_Agent_Details_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Business.Registered_Agent_City__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Be_Your_Own_RA</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Registered_Agent_Details_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Registered_Agent_Details_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Business.Registered_Agent_State__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Registered_Agent_Details_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Business.Registered_Agent_Zip__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Be_Your_Own_RA</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Be_Your_Own_RA</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Display_Text_Commit</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!Brand_Style_Start_H3}&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Clicking Next submits the information and creates the Business Record. Please double check the information entered is correct and complete BEFORE clicking Next.&lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!Brand_Style_Close}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FaultPathError</name>
        <label>FaultPathError</label>
        <locationX>2074</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Logo_1800A5</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DisplayDMLError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!Brand_Style_Start_H2} An error has occurred when updating the Business Record. Click Previous to return to the earlier screen or click Finish to start over {!Brand_Style_Close}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Get_Records_Error_Display</name>
        <label>Get Records Error Display</label>
        <locationX>1282</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Logo_1800A6</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Error_Messsage_Display</name>
            <fieldText>&lt;p&gt;{!Brand_Style_Start_H1} Get Active Subscription Records Error. Click Finish to start over. {!Brand_Style_Close}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thankyou_Screen2</name>
        <label>Thankyou Screen</label>
        <locationX>2602</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Logo_1800A9</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Thankyou_Screen2_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Thankyou_Screen2_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BlankText13</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Display_Success2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!Brand_Style_Start_H1}All Business information is up-to-date. Click Finish to close {!Brand_Style_Close}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thankyou_Screen3</name>
        <label>Thankyou_Screen3</label>
        <locationX>2866</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Logo_1800A12</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Logo_HiRes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Thankyou_Screen3_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Thankyou_Screen3_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BlankText14</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Display_Success3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Brand_Style_Start_H1}All Business information is up-to-date. Click Finish to close {!Brand_Style_Close}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1772</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Business_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Subflow Opportunity - Entity Formation - Business Owner</description>
        <name>Add_or_Edit_Owner</name>
        <label>Add or Edit Owner</label>
        <locationX>2338</locationX>
        <locationY>566</locationY>
        <flowName>Opportunity_Entity_Formation_Business_Owner</flowName>
        <inputAssignments>
            <name>varInputBusinessId</name>
            <value>
                <elementReference>DisplayExistingBusiness.outputSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPrimaryContactName</name>
            <value>
                <elementReference>formulaPrimaryFullName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPrimaryEmail</name>
            <value>
                <elementReference>recordId.Account.Primary_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPrimaryPhone</name>
            <value>
                <elementReference>recordId.Account.Primary_Contact_Phone__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>References sub flow to create Business Contacts for this Business</description>
        <name>Create_New_Business_Owners</name>
        <label>Create New Business Owners</label>
        <locationX>402</locationX>
        <locationY>1898</locationY>
        <flowName>Opportunity_Entity_Formation_Business_Owner</flowName>
        <inputAssignments>
            <name>varInputBusinessId</name>
            <value>
                <elementReference>varBusinessIdCreateRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPrimaryContactName</name>
            <value>
                <elementReference>formulaPrimaryFullName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPrimaryEmail</name>
            <value>
                <elementReference>recordId.Account.Primary_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPrimaryPhone</name>
            <value>
                <elementReference>recordId.Account.Primary_Contact_Phone__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <description>Closes all font styling</description>
        <name>Brand_Style_Close</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Used for page headers</description>
        <name>Brand_Style_Start_H1</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p style = &apos;font-size:24px;color:#435360;font-weight:bold;&apos;&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Used for first level page explanation</description>
        <name>Brand_Style_Start_H2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p style = &apos;font-size:18px;color:#435360;font-weight:bold;&apos;&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Used for second level page explanations</description>
        <name>Brand_Style_Start_H3</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p style = &apos;font-size:14px;color:#435360;font-weight:bold;&apos;&gt;</text>
    </textTemplates>
    <variables>
        <name>Business</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varBusinessIdCreateRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varBusinessNullReset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business__c</objectType>
    </variables>
    <variables>
        <name>varEditBusiness</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Business__c</objectType>
    </variables>
</Flow>
