force-app/main/default/flows/Opportunity_Edited_FFU.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Field values to set upon an Opportunity being marked as Closed Won</description>
        <name>Closed_Won_Fields_to_Set</name>
        <label>Closed Won Fields to Set</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Campaign_Last_Touch_on_Close__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Campaign_Last_Touch__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Close_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Updates to run when the Opportunity Stage is changed</description>
        <name>Stage_Changed</name>
        <label>Stage Changed</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_Won1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Won_Fields_to_Set</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Closed Won</label>
        </rules>
        <rules>
            <name>Quote_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote Sent</stringValue>
                </rightValue>
            </conditions>
            <label>Quote Sent</label>
        </rules>
    </decisions>
    <description>Flow that runs when an opportunity is edited</description>
    <environments>Default</environments>
    <formulas>
        <description>The Date/Time of NOW</description>
        <name>CurrentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Opportunity - Edited - FFU {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Edited - FFU</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Stage_Changed</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
