force-app/main/default/flows/Opportunity_Edited_FFU.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Append_Product_Name</name>
        <label>Append Product Name</label>
        <locationX>138</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>varProductsSold</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formAppendProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Field values to set upon an Opportunity being marked as Closed Won</description>
        <name>Closed_Won_Fields_to_Set</name>
        <label>Closed Won Fields to Set</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Campaign_Last_Touch_on_Close__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Campaign_Last_Touch__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Close_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opp_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Products_Sold_Field</name>
        <label>Set Products Sold Field</label>
        <locationX>50</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.Products_Sold__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Products_Sold_255_Characters</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <collectionProcessors>
        <name>Sort_Alphabetically</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Alphabetically</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Opp_Line_Items</collectionReference>
        <connector>
            <targetReference>Opportunity_Line_Items</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Description</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <description>Updates to run when the Opportunity Stage is changed</description>
        <name>Stage_Changed</name>
        <label>Stage Changed</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_Won1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Won_Fields_to_Set</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Closed Won</label>
        </rules>
        <rules>
            <name>Quote_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote Sent</stringValue>
                </rightValue>
            </conditions>
            <label>Quote Sent</label>
        </rules>
    </decisions>
    <description>Flow that runs when an opportunity is edited</description>
    <environments>Default</environments>
    <formulas>
        <description>The Date/Time of NOW</description>
        <name>CurrentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>formAppendProduct</name>
        <dataType>String</dataType>
        <expression>{!varProductsSold}+&quot;; &quot;+{!Opportunity_Line_Items.Product2.Name}</expression>
    </formulas>
    <formulas>
        <name>formProductsSoldEdited</name>
        <dataType>String</dataType>
        <expression>RIGHT({!varProductsSold}, Len({!varProductsSold})-2)</expression>
    </formulas>
    <formulas>
        <description>Gets the first 255 characters of the product sold list</description>
        <name>Products_Sold_255_Characters</name>
        <dataType>String</dataType>
        <expression>LEFT({!formProductsSoldEdited}, 255)</expression>
    </formulas>
    <interviewLabel>Opportunity - Edited - FFU {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Edited - FFU</label>
    <loops>
        <name>Opportunity_Line_Items</name>
        <label>Opportunity Line Items</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <collectionReference>Get_Opp_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Append_Product_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Products_Sold_Field</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opp_Line_Items</name>
        <label>Get Opp Line Items</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_Alphabetically</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Stage_Changed</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varProductsSold</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
