force-app/main/default/flows/Quote_Product_Test_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Get_Bundle_Products</name>
        <label>Get Bundle Products</label>
        <locationX>641</locationX>
        <locationY>290</locationY>
        <actionName>QuoteGeneratorInterface</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Display_Results</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>AccountLookup.recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>calculator</name>
            <value>
                <elementReference>Calculator</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>entityOverride</name>
            <value>
                <elementReference>Entity_Type</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>GET_PRODUCTS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serializeResults</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>QuoteGeneratorInterface</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <choices>
        <name>GuidedSellingChoice</name>
        <choiceText>Guided Selling</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Guided Selling</stringValue>
        </value>
    </choices>
    <choices>
        <name>PCChoice</name>
        <choiceText>Pricing Calculator</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pricing Calculator</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>EntityTypeChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Entity_Tax_Classification__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Quote Product Test Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Product Test Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Display_Results</name>
        <label>Display Results</label>
        <locationX>641</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CalculatorProductTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>User</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cb_isSerializedRecordData</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isUserDefinedObject</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isUserDefinedObject</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableDataString</name>
                <value>
                    <elementReference>Get_Bundle_Products.serializedResults</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Id,name,adjustedPrice,enabled,isMetered,advisoryAddon,requiredForBundle,freeWithBundle,defaultForBundle</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Id:Product Id,name:Product Name,adjustedPrice:Adjusted Price,enabled:Enabled,isMetered:Metered,advisoryAddon:Advisory Addon,requiredForBundle:Required for Bundle,freeWithBundle:Free with Bundle,defaultForBundle:Default Selection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnTypes</name>
                <value>
                    <stringValue>Id:text,name:text,adjustedPrice:currency,enabled:boolean,isMetered:boolean,advisoryAddon:boolean,requiredForBundle:boolean,freeWithBundle:boolean,defaultForBundle:boolean</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Id:200,name:200,adjustedPrice:125,enabled:100,isMetered:100,advisoryAddon:100,requiredForBundle:100,freeWithBundle:100,defaultForBundle:100</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowNoneToBeChosen</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideHeaderActions</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideHeaderActions</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideClearSelectionButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideClearSelectionButton</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableHeight</name>
                <value>
                    <stringValue>800px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Results_0</name>
        <label>Display Results</label>
        <locationX>716</locationX>
        <locationY>473</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CalculatorProductTable_0</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>User</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cb_isSerializedRecordData</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isUserDefinedObject</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isUserDefinedObject</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableDataString</name>
                <value>
                    <elementReference>Get_Bundle_Products.serializedResults</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Id,name,adjustedPrice,enabled,isMetered,advisoryAddon,requiredForBundle,freeWithBundle,defaultForBundle</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Id:Product Id,name:Product Name,adjustedPrice:Adjusted Price,enabled:Enabled,isMetered:Metered,advisoryAddon:Advisory Addon,requiredForBundle:Required for Bundle,freeWithBundle:Free with Bundle,defaultForBundle:Default Selection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnTypes</name>
                <value>
                    <stringValue>Id:text,name:text,adjustedPrice:currency,enabled:boolean,isMetered:boolean,advisoryAddon:boolean,requiredForBundle:boolean,freeWithBundle:boolean,defaultForBundle:boolean</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Id:200,name:200,adjustedPrice:125,enabled:100,isMetered:100,advisoryAddon:100,requiredForBundle:100,freeWithBundle:100,defaultForBundle:100</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowNoneToBeChosen</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideHeaderActions</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideHeaderActions</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideClearSelectionButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideClearSelectionButton</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableHeight</name>
                <value>
                    <stringValue>800px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input_test_data</name>
        <label>Input test data</label>
        <locationX>642</locationX>
        <locationY>182</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Bundle_Products</targetReference>
        </connector>
        <fields>
            <name>AccountLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select an account to test</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Calculator</name>
            <choiceReferences>GuidedSellingChoice</choiceReferences>
            <choiceReferences>PCChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Calculator</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Entity_Type</name>
            <choiceReferences>EntityTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Entity Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;To simulate selection of a different entity type in the calculator form&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>515</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Input_test_data</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
