force-app/main/default/flows/Route_to_Joshua.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Routes all messages to your enhanced bot.</description>
        <name>RoutingAction</name>
        <label>Route to Joshua</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N9PJ000000009h0AA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Messaging</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>Bot</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00GPJ000007P7tW2AS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Client Care Messages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
            <value>
                <stringValue>0XxPJ000000003F0AQ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
            <value>
                <stringValue>Joshua</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Update_Messaging_Session</name>
        <label>Update Messaging Session</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Get_Messaging_Session.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Messaging_Session.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Messaging_Session.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Messaging_Session.Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject_Custom</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Messaging_Session.Scheduler_Topic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scheduler_Topic</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Messaging_Session.EndUserContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Messaging_Session.EndUserAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Messaging_Session_with_Prechat_Info</targetReference>
        </connector>
    </assignments>
    <description>Routes each message to an enhanced bot. You can customize the flow with business and routing rules.</description>
    <environments>Default</environments>
    <interviewLabel>Route to Joshua {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Route to Joshua</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Messaging_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Messaging_Session</name>
        <label>Get Messaging Session</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Messaging_Session_with_Prechat_Info</name>
        <label>Update Messaging Session with Prechat Info</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>RoutingAction</targetReference>
        </connector>
        <inputReference>Get_Messaging_Session</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Messaging_User</name>
        <label>Update Messaging User</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Update_Messaging_Session</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Messaging_Session.MessagingEndUser.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Contacts.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Contacts.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingEndUser</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Messaging_Session</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The email address of the external user</description>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The First Name of the External User</description>
        <name>First_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Last Name of the external user</description>
        <name>Last_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Scheduler Topic of the external user&apos;s inquiry</description>
        <name>Scheduler_Topic</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Subject of the external user&apos;s request</description>
        <name>Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Subject_Custom</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
