force-app/main/default/flows/Survey_Created_Edited_Actions_Related_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Set_Appointment_Case_Types</name>
        <label>Set Appointment Case Types</label>
        <locationX>314</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>varCaseType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formAppointmentType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseSubType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>constAppointments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseSubTypeCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>constSurveyResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_for_Low_Review</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact_from_Account</name>
        <label>Set Contact from Account</label>
        <locationX>534</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.Primary_Contact__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Satisfaction_Metrics</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Original_Case_Type_fields</name>
        <label>Set Original Case Type fields</label>
        <locationX>50</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>varCaseType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case__r.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseSubType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case__r.Sub_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseSubTypeCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case__r.Sub_Type_Category__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_for_Low_Review</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_VCS_on_Survey</name>
        <label>Set VCS on Survey</label>
        <locationX>1282</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>$Record.Vonage_Call_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vonage_Call_Summary.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_VCS_on_Survey</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>constAppointments</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Appointments</stringValue>
        </value>
    </constants>
    <constants>
        <name>constEscalationsQueueId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00GPJ00000AZxCL</stringValue>
        </value>
    </constants>
    <constants>
        <name>constFulfillmentRTId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0125e000000P3L2AAK</stringValue>
        </value>
    </constants>
    <constants>
        <name>constSurveyResponse</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Survey Response</stringValue>
        </value>
    </constants>
    <constants>
        <name>EscalationsQueueSandboxID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00GO8000002HuMV</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Blank_Contact_field</name>
        <label>Blank Contact field?</label>
        <locationX>666</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Check_Satisfaction_Metrics</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blank_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__r.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Primary_Contact__r.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contact_from_Account</targetReference>
            </connector>
            <label>Blank Contact</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Survey response was from a Case or Appointment email or from a Call</description>
        <name>Case_or_Appointment</name>
        <label>Case or Appointment?</label>
        <locationX>402</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>Case_for_Low_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Original_Case_Type_fields</targetReference>
            </connector>
            <label>Case</label>
        </rules>
        <rules>
            <name>Appointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formAppointmentType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Appointment_Case_Types</targetReference>
            </connector>
            <label>Appointment</label>
        </rules>
        <rules>
            <name>Vonage_Post_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Post Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_for_Low_Review</targetReference>
            </connector>
            <label>Vonage Post Call</label>
        </rules>
    </decisions>
    <decisions>
        <description>Lowest Rating on Surveys (Exclude Chargeback Surveys)</description>
        <name>Check_Satisfaction_Metrics</name>
        <label>Check Satisfaction Metrics</label>
        <locationX>666</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Fields_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lowest_Rating</name>
            <conditionLogic>1 AND NOT(2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Satisfaction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Chargeback Dispute</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_or_Appointment</targetReference>
            </connector>
            <label>Lowest Rating</label>
        </rules>
    </decisions>
    <decisions>
        <name>Created_or_Updated</name>
        <label>Created or Updated?</label>
        <locationX>886</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Fields_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updated</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blank_Contact_field</targetReference>
            </connector>
            <label>Created</label>
        </rules>
    </decisions>
    <decisions>
        <description>Only update triggering survey record if there are any changes</description>
        <name>Fields_Updated</name>
        <label>Fields Updated?</label>
        <locationX>886</locationX>
        <locationY>1368</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Survey</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Set_Contact_from_Account</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Triggering_Survey</targetReference>
            </connector>
            <label>Update Survey</label>
        </rules>
    </decisions>
    <decisions>
        <description>For Post Call Satisfaction Survey, populate the Vonage Call summary field</description>
        <name>Survey_Name_Check</name>
        <label>Survey Name Check</label>
        <locationX>1568</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Post_Call_Satisfaction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post Call Satisfaction</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vonage_Call_Summary__r.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vonage_Call_Summary</targetReference>
            </connector>
            <label>Post Call Satisfaction</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if VCS was created recently. Used to avert pulling up older VCS Records by the same Rep to the same client.</description>
        <name>VCS_Null_Check</name>
        <label>VCS Null Check</label>
        <locationX>1414</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VCS_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vonage_Call_Summary.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formMinutesSinceVCSCreation</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_VCS_on_Survey</targetReference>
            </connector>
            <label>VCS found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Return the Account ID related to the survey.</description>
        <name>formAccountId</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account__r.Id}</expression>
    </formulas>
    <formulas>
        <name>formAppointmentType</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!$Record.Name},&apos;Advisory&apos;), &apos;Advisory&apos;,
IF(CONTAINS({!$Record.Name},&apos;Discovery&apos;), &apos;Advisory&apos;,
IF(CONTAINS({!$Record.Name},&apos;Tax Return&apos;), &apos;Tax Compliance&apos;,
IF(CONTAINS({!$Record.Name},&apos;Payroll&apos;), &apos;Payroll&apos;,
IF(CONTAINS({!$Record.Name},&apos;Bookkeeping&apos;), &apos;Bookkeeping&apos;,
null)))))</expression>
    </formulas>
    <formulas>
        <name>formContactID</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account__r.Primary_Contact__r.Id}</expression>
    </formulas>
    <formulas>
        <name>formIsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>formMinutesSinceVCSCreation</name>
        <dataType>Number</dataType>
        <expression>(Now()-{!Vonage_Call_Summary.CreatedDate})*24*60</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formSubjectLowReview</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name}+&quot; - Low Review&quot;</expression>
    </formulas>
    <formulas>
        <name>formSurveyRecordLink</name>
        <dataType>String</dataType>
        <expression>&quot;Survey Link - &quot;+LEFT($Api.Partner_Server_URL_600, FIND( &apos;/services&apos;, $Api.Partner_Server_URL_600))+{!$Record.Id}</expression>
    </formulas>
    <interviewLabel>Survey - Created Edited - Actions &amp; Related {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Survey - Created Edited - Actions &amp; Related Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Case_for_Low_Review</name>
        <label>Case for Low Review</label>
        <locationX>402</locationX>
        <locationY>1092</locationY>
        <connector>
            <targetReference>Fields_Updated</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>formAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>formContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Feedback__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Not_Assign_Using_Assignment_Rules__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Survey</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>constEscalationsQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Management Escalation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Survey Response</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>constFulfillmentRTId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type_Category__c</field>
            <value>
                <elementReference>varCaseSubTypeCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <elementReference>varCaseSubType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>formSubjectLowReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>varCaseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Vonage_Call_Summary</name>
        <label>Vonage Call Summary</label>
        <locationX>1414</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VCS_Null_Check</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>NVMStatsSF__Related_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NVMStatsSF__Related_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Primary_Contact__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NVMStatsSF__Related_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>NVMStatsSF__Agent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NVMStatsSF__NVM_Call_Summary__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Triggering_Survey</name>
        <label>Triggering Survey</label>
        <locationX>754</locationX>
        <locationY>1476</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_VCS_on_Survey</name>
        <label>Update VCS on Survey</label>
        <locationX>1282</locationX>
        <locationY>708</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1101</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Created_or_Updated</targetReference>
        </connector>
        <object>Survey__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X2_Mins_after_Creation</name>
            <connector>
                <targetReference>Survey_Name_Check</targetReference>
            </connector>
            <label>2 Mins after Creation</label>
            <maxBatchSize>50</maxBatchSize>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varCaseSubType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseSubTypeCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
