force-app/main/default/flows/Task_Created_Edited_Actions_Related_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Contact_from_Account</name>
        <label>Assign Contact from Account</label>
        <locationX>50</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>$Record.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Account.Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Name_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_from_Case</name>
        <label>Assign Contact from Case</label>
        <locationX>1106</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>$Record.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Case.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Related_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_from_Opp</name>
        <label>Assign Contact from Opp</label>
        <locationX>644</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>$Record.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Opportunity.Account.Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Follow_Up_Calls</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fields_to_Vonage_Call_Summary</name>
        <label>Assign Fields to Vonage Call Summary</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Vonage_Call_Summary.Dial_List__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NVMConnect__DialList__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Related_VCS_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Values</name>
        <label>Assign Lead Values</label>
        <locationX>534</locationX>
        <locationY>3563</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Lead.Most_Recent_Call_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NVMContactWorld__CW_Call_End_Time__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Related_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_of_Call_Tasks</name>
        <label>Count of Call Tasks</label>
        <locationX>710</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>CountofRepFollowUpCalls</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Other_Call_Tasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Call_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lead_VR_Override</name>
        <label>Lead_VR_Override</label>
        <locationX>534</locationX>
        <locationY>3455</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Lead.VR_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>toggle_VR_Override</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Lead_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Vonage_fields_on_Lead</name>
        <label>Set Vonage fields on Lead</label>
        <locationX>402</locationX>
        <locationY>3263</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Lead.Vonage_Call_Back_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NVMConnect__NextContactTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Lead.Vonage_Dialer_List_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NVMConnect__DialList__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Lead.Vonage_Hidden_Dialer_Call_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Lead.Vonage_Last_Dialer_Agent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Lead.Vonage_Last_Dialer_Call_Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Vonage_Call_Disposition__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Lead.Vonage_Last_Dialer_Call__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NVMContactWorld__CW_Call_End_Time__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_VR_Override</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_of_Follow_Up_Calls_on_Opp</name>
        <label>Update # of Follow Up Calls on Opp</label>
        <locationX>490</locationX>
        <locationY>2579</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Opportunity.of_Follow_Up_Calls__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CountofRepFollowUpCalls</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Related_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks to see if the Opportunity has been pitched</description>
        <name>Check_for_Follow_Up_Calls</name>
        <label>Check for Follow-Up Calls</label>
        <locationX>776</locationX>
        <locationY>1955</locationY>
        <defaultConnector>
            <targetReference>Check_Name_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Pitched</defaultConnectorLabel>
        <rules>
            <name>Pitched_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Account.Pitched_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Other_Call_Tasks</targetReference>
            </connector>
            <label>Pitched Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if there&apos;s a related Vonage Call Summary Record</description>
        <name>Check_for_Related_Vonage_Call_Summary</name>
        <label>Check for Related Vonage Call Summary</label>
        <locationX>864</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Check_What_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_a_Vonage_Call_Summary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallObject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NVMConnect__DialList__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Vonage_Call_Summary</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Has a Vonage Call Summary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Name_ID</name>
        <label>Check Name ID</label>
        <locationX>864</locationX>
        <locationY>3047</locationY>
        <defaultConnector>
            <targetReference>Update_Triggering_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Name_ID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NVMContactWorld__CW_Call_End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vonage_Dialer_Actions</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Name_ID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Related_Account</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the task is related to a Lead or Contact</description>
        <name>Check_Related_Record</name>
        <label>Check Related Record</label>
        <locationX>1293</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Type_of_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Lead_Name_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Name_ID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Lead</targetReference>
            </connector>
            <label>Lead Name ID</label>
        </rules>
        <rules>
            <name>Contact_Name_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Name_ID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Account</targetReference>
            </connector>
            <label>Contact Name ID</label>
        </rules>
        <rules>
            <name>Only_What_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Related_Account</targetReference>
            </connector>
            <label>Only What ID</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the What ID</description>
        <name>Check_What_ID</name>
        <label>Check What ID</label>
        <locationX>864</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Check_Name_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_ID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Empty_Name_ID_on_Account_Call</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_ID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Opportunity</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_ID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Case</targetReference>
            </connector>
            <label>Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Empty_Name_ID_on_Account_Call</name>
        <label>Empty Name ID on Account Call</label>
        <locationX>182</locationX>
        <locationY>1547</locationY>
        <defaultConnector>
            <targetReference>Check_Name_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Empty_Name_on_Account_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_from_Account</targetReference>
            </connector>
            <label>Empty Name on Account Call</label>
        </rules>
    </decisions>
    <decisions>
        <name>Empty_Name_ID_on_Case_Call</name>
        <label>Empty Name ID on Case Call</label>
        <locationX>1238</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Update_Related_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Empty_Name_on_Case_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_from_Case</targetReference>
            </connector>
            <label>Empty Name on Case Call</label>
        </rules>
    </decisions>
    <decisions>
        <name>Empty_Name_ID_on_Opp_Call</name>
        <label>Empty Name ID on Opp Call</label>
        <locationX>776</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Check_for_Follow_Up_Calls</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Empty_Name_on_Opp_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_from_Opp</targetReference>
            </connector>
            <label>Empty Name on Opp Call</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if there are any follow-up calls before we try to run an update</description>
        <name>Follow_Up_Calls_on_Opp</name>
        <label>Follow-Up Calls on Opp?</label>
        <locationX>622</locationX>
        <locationY>2471</locationY>
        <defaultConnector>
            <targetReference>Check_Name_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Follow-Ups</defaultConnectorLabel>
        <rules>
            <name>Yes_Follow_Ups</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Other_Call_Tasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_of_Follow_Up_Calls_on_Opp</targetReference>
            </connector>
            <label>Yes Follow-Ups</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Related_Account</name>
        <label>Has Related Account?</label>
        <locationX>930</locationX>
        <locationY>3155</locationY>
        <defaultConnector>
            <targetReference>Update_Triggering_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Account</defaultConnectorLabel>
        <rules>
            <name>Yes_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Triggering_Task</targetReference>
            </connector>
            <label>Yes Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the type of task that is being created</description>
        <name>Type_of_Task</name>
        <label>Type of Task</label>
        <locationX>1293</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TaskSubtype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Related_Vonage_Call_Summary</targetReference>
            </connector>
            <label>Call</label>
        </rules>
    </decisions>
    <decisions>
        <name>VCS_Null_Check</name>
        <label>VCS Null Check</label>
        <locationX>710</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Check_What_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Related_VCS_Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Vonage_Call_Summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fields_to_Vonage_Call_Summary</targetReference>
            </connector>
            <label>Related VCS found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Vonage_Dialer_Actions</name>
        <label>Vonage Dialer Actions</label>
        <locationX>534</locationX>
        <locationY>3155</locationY>
        <defaultConnector>
            <targetReference>Lead_VR_Override</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dialer_Call_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NVMConnect__DialList__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallObject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vonage_Call_Disposition__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Vonage_fields_on_Lead</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Dialer Call - Lead</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>The Date of the TSA Consultation</description>
        <name>ConsultedDate</name>
        <dataType>Date</dataType>
        <expression>{!Get_Related_Account.Pitched_Date__c}</expression>
    </formulas>
    <formulas>
        <description>Checks if the related record is a Lead or Contact</description>
        <name>Name_ID</name>
        <dataType>String</dataType>
        <expression>IF(LEFT({!$Record.WhoId}, 3) = &apos;00Q&apos;, &apos;Lead&apos;,
IF(LEFT({!$Record.WhoId}, 3) = &apos;003&apos;, &apos;Contact&apos;,
null))</expression>
    </formulas>
    <formulas>
        <name>OppClosedDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!Get_Related_Opportunity.Close_Date_Time__c}</expression>
    </formulas>
    <formulas>
        <name>toggle_VR_Override</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!Get_Related_Lead.VR_Override__c})</expression>
    </formulas>
    <formulas>
        <description>The What ID for the task</description>
        <name>What_ID</name>
        <dataType>String</dataType>
        <expression>IF(LEFT({!$Record.WhatId}, 3) = &apos;006&apos;, &apos;Opportunity&apos;,
IF(LEFT({!$Record.WhatId}, 3) = &apos;500&apos;, &apos;Case&apos;,
IF(LEFT({!$Record.WhatId}, 3) = &apos;001&apos;, &apos;Account&apos;,
&apos;Other&apos;)))</expression>
    </formulas>
    <interviewLabel>Task - Created Edited - Actions &amp; Related {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task - Created Edited - Actions &amp; Related Records</label>
    <loops>
        <name>Loop_through_Call_Tasks</name>
        <label>Loop through Call Tasks</label>
        <locationX>622</locationX>
        <locationY>2171</locationY>
        <collectionReference>Get_Other_Call_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_of_Call_Tasks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Follow_Up_Calls_on_Opp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets all the call tasks made by the Opp Owner Prior after the Consulted Date</description>
        <name>Get_Other_Call_Tasks</name>
        <label>Get Other Call Tasks</label>
        <locationX>622</locationX>
        <locationY>2063</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Call_Tasks</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Opportunity.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>ConsultedDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>TaskSubtype</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Account</name>
        <label>Get Related Account</label>
        <locationX>1161</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_of_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the related Case record info</description>
        <name>Get_Related_Case</name>
        <label>Get Related Case</label>
        <locationX>1238</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Empty_Name_ID_on_Case_Call</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Lead</name>
        <label>Get Related Lead</label>
        <locationX>897</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_of_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the related Opportunity record info</description>
        <name>Get_Related_Opportunity</name>
        <label>Get Related Opportunity</label>
        <locationX>776</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Empty_Name_ID_on_Opp_Call</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Vonage_Call_Summary</name>
        <label>Get Related Vonage Call Summary</label>
        <locationX>710</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VCS_Null_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NVMStatsSF__CallGuid__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CallObject</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NVMStatsSF__NVM_Call_Summary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_Case</name>
        <label>Update Related Case</label>
        <locationX>1238</locationX>
        <locationY>1955</locationY>
        <connector>
            <targetReference>Check_Name_ID</targetReference>
        </connector>
        <inputReference>Get_Related_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Lead</name>
        <label>Update Related Lead</label>
        <locationX>534</locationX>
        <locationY>3671</locationY>
        <connector>
            <targetReference>Update_Triggering_Task</targetReference>
        </connector>
        <inputReference>Get_Related_Lead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Opportunity</name>
        <label>Update Related Opportunity</label>
        <locationX>490</locationX>
        <locationY>2687</locationY>
        <connector>
            <targetReference>Check_Name_ID</targetReference>
        </connector>
        <inputReference>Get_Related_Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_VCS_Record</name>
        <label>Update Related VCS Record</label>
        <locationX>578</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Check_What_ID</targetReference>
        </connector>
        <inputReference>Get_Related_Vonage_Call_Summary</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Triggering_Task</name>
        <label>Update Triggering Task</label>
        <locationX>864</locationX>
        <locationY>3863</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1167</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Related_Record</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CountofRepFollowUpCalls</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varRelatedLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
