force-app/main/default/flows/VIP_Client_Calculation_1x_run.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Calculate_Invoice_Amount</name>
        <label>Calculate Invoice Amount</label>
        <locationX>270</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>TotalInvoiced</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Check_Invoices.Total__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Invoices</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_VIP</name>
        <label>No VIP</label>
        <locationX>314</locationX>
        <locationY>852</locationY>
        <assignmentItems>
            <assignToReference>$Record.VIP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Yes_VIP</name>
        <label>Yes VIP</label>
        <locationX>50</locationX>
        <locationY>852</locationY>
        <assignmentItems>
            <assignToReference>$Record.VIP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>The amount a client needs to be invoiced in order</description>
        <name>VIPThreshold</name>
        <dataType>Currency</dataType>
        <value>
            <numberValue>3500.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Is_VIP</name>
        <label>Is VIP?</label>
        <locationX>182</locationX>
        <locationY>732</locationY>
        <defaultConnector>
            <targetReference>No_VIP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalInvoiced</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>VIPThreshold</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Yes_VIP</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>to use for the first run</description>
    <environments>Default</environments>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>TwelveMonthsAgo</name>
        <dataType>Date</dataType>
        <expression>TODAY()-365</expression>
    </formulas>
    <interviewLabel>VIP Client Calculation - 1x run {!$Flow.CurrentDateTime}</interviewLabel>
    <isOverridable>true</isOverridable>
    <label>VIP Client Calculation - 1x run</label>
    <loops>
        <name>Check_Invoices</name>
        <label>Check Invoices</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <collectionReference>Get_Invoices</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Calculate_Invoice_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_VIP</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Invoices</name>
        <label>Get Invoices</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Invoices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ChargeOver_Invoice_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Void</stringValue>
            </value>
        </filters>
        <filters>
            <field>Invoice_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </filters>
        <filters>
            <field>Invoice_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>TwelveMonthsAgo</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ChargeOver_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>182</locationX>
        <locationY>1068</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Invoices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ChargeOver_Most_Recent_Payment_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <dateValue>2021-03-14</dateValue>
            </value>
        </filters>
        <filters>
            <field>VIP__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ChargeOver_Most_Recent_Payment_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2023-03-16</startDate>
            <startTime>04:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TotalInvoiced</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
