force-app/main/default/flows/Vonage_Call_Summary_Created_Edited_Actions_Related_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Set_Dial_List</name>
        <label>Set Dial List</label>
        <locationX>578</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>varDialList.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dial_Entry_Call_Record.NVMConnect__ActiveDialEntry__r.NVMConnect__Dial_List__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Dial_List_on_VCS_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Dial_List_Variable</name>
        <label>Set Dial List Variable</label>
        <locationX>842</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>varDialList.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dial_Entry_Call_Record.NVMConnect__ProcessedDialEntry__r.NVMConnect__Dial_List__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Dial_List_on_VCS_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Active_Dial_Entry_Null_Check</name>
        <label>Active Dial Entry Null Check</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Dial_Entry_Call_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_Dial_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Dial_Entry.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Dial_List_on_VCS</targetReference>
            </connector>
            <label>Active Dial Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Call_Summary_Created</name>
        <label>Call Summary Created?</label>
        <locationX>1436</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Updated</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formulaIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Or_Account</targetReference>
            </connector>
            <label>Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dial_Entry_Call_Null_Check</name>
        <label>Dial Entry Call Null Check</label>
        <locationX>842</locationX>
        <locationY>1079</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_Dial_Entry_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dial_Entry_Call_Record.NVMConnect__ActiveDialEntry__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Dial_List</targetReference>
            </connector>
            <label>Active Dial Entry Found</label>
        </rules>
        <rules>
            <name>Processed_Dial_Entry_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dial_Entry_Call_Record.NVMConnect__ProcessedDialEntry__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Dial_List_Variable</targetReference>
            </connector>
            <label>Processed Dial Entry Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Or_Account</name>
        <label>Lead Or Account?</label>
        <locationX>974</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Related_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NVMStatsSF__Related_Lead__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Processed_Dial_Entry</targetReference>
            </connector>
            <label>Related Lead</label>
        </rules>
        <rules>
            <name>Related_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NVMStatsSF__Related_Account__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Related Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Processed_Dial_Entry_Null_Check</name>
        <label>Processed Dial Entry Null Check</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Get_Active_Dial_Entry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Processed Dial Null</defaultConnectorLabel>
        <rules>
            <name>Processed_Dial_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Processed_Dial_Entry.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Dial_List_on_VCS</targetReference>
            </connector>
            <label>Processed Dial Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formulaIsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Vonage Call Summary - Created Edited - Actions &amp; Related Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vonage Call Summary - Created Edited - Actions &amp; Related Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Dial_Entry_Call_Record</name>
        <label>Dial Entry Call Record</label>
        <locationX>842</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dial_Entry_Call_Null_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NVMConnect__IndexedCallObjectIdentifier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.NVMStatsSF__CallGuid__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NVMConnect__DialEntryCall__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Dial_Entry</name>
        <label>Get Active Dial Entry</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_Dial_Entry_Null_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NVMConnect__IndexedCallObjectIdentifier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.NVMStatsSF__CallGuid__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NVMConnect__Dial_List__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NVMConnect__ActiveDialEntry__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Processed_Dial_Entry</name>
        <label>Get Processed Dial Entry</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Processed_Dial_Entry_Null_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NVMConnect__IndexedCallObjectIdentifier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.NVMStatsSF__CallGuid__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NVMConnect__Dial_List__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NVMConnect__ProcessedDialEntry__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Populate_Dial_List_on_VCS</name>
        <label>Populate Dial List on VCS</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dial_List__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Dial_List__c</field>
            <value>
                <elementReference>Get_Active_Dial_Entry.NVMConnect__Dial_List__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Dial_List_on_VCS</name>
        <label>Set Dial List on VCS</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dial_List__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Dial_List__c</field>
            <value>
                <elementReference>Get_Processed_Dial_Entry.NVMConnect__Dial_List__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Dial_List_on_VCS_Record</name>
        <label>Set Dial List on VCS Record</label>
        <locationX>842</locationX>
        <locationY>1379</locationY>
        <inputAssignments>
            <field>Dial_List__c</field>
            <value>
                <elementReference>varDialList.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1310</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Call_Summary_Created</targetReference>
        </connector>
        <object>NVMStatsSF__NVM_Call_Summary__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varDialList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NVMConnect__DialList__c</objectType>
    </variables>
</Flow>
