force-app/main/default/flows/ZenBusiness_Move_to_Dead_Leads.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Update_Lead_Record</name>
        <label>Update Lead Record</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DeadLeadsQueue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.HasOptedOutOfEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Leads</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Distributed_6_Months_Ago</name>
        <label>Distributed 6 Months Ago</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Update_Leads</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Distribute_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>X180DaysAgo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Distribute_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>X185DaysAgo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Scheduled flow that moves records to the Dead Leads Queue if they haven&apos;t had a 1-1 Scheduled within 6 months of their Distribute Date</description>
    <environments>Default</environments>
    <formulas>
        <name>X180DaysAgo</name>
        <dataType>Date</dataType>
        <expression>TODAY()-180</expression>
    </formulas>
    <formulas>
        <name>X185DaysAgo</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 185</expression>
    </formulas>
    <interviewLabel>ZenBusiness - Move to Dead Leads {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ZenBusiness - Move to Dead Leads</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Leads</name>
        <label>Update Leads</label>
        <locationX>182</locationX>
        <locationY>612</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Distributed_6_Months_Ago</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ZenBusiness</stringValue>
            </value>
        </filters>
        <filters>
            <field>X1_1_Scheduled__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>005j000000DDBst</stringValue>
            </value>
        </filters>
        <filters>
            <field>Distribute_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-04-29</startDate>
            <startTime>05:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DeadLeadsQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>005j000000DDBst</stringValue>
        </value>
    </variables>
</Flow>
